@charset "UTF-8";
:root {
	// Define some contextual colour variables
	--ctx-color: var(--t-text-color);
	--ctx-bg: var(--t-bg-color);

	color: var(--ctx-color);
	background-color: var(--ctx-bg);
	color-scheme: var(--t-color-scheme);
}

body {
	display: flex;
	flex-direction: column;

	font-family: var(--t-font-body);
	line-height: var(--C-base-line-height);
	text-underline-offset: 0.125em;
	hyphens: auto;
}

main {
	z-index: #{layer-index('main')};

	padding-block-end: var(--size-2xl);

	&:focus {
		outline: 0;
	}
}

* {
	scrollbar-color: var(--t-scrollbar-color, var(--t-accent-color)) var(--t-scrollbar-bg, var(--t-color-gray-max));
}

*:focus {
	outline: 4px dashed var(--t-link-color-active);
	outline-offset: 2px;

	&:is(:not(:focus-visible), [tabindex='-1']) {
		outline: none;
	}
}

[id] {
	scroll-margin-block-start: var(--size-2xl);
}

[id]:not([tabindex='-1']):target {
	outline: var(--size-xs) dashed var(--t-link-color-active);

	animation: targetOutline 500ms var(--easing-in-out) 1500ms both;
}

@keyframes targetOutline {
	from {
		outline-offset: var(--size-xs);
	}

	20% {
		outline-offset: var(--size-s);
	}

	to {
		outline: var(--size-2xs) dashed transparent;
	}
}

// Ensure SVG elements transform from their center point
svg {
	transform-origin: 50% 50%;

	* {
		transform-origin: inherit;
	}
}

hr {
	width: 100%;
}
