:root {
	color-scheme: var(--theme-color-scheme);
}

body {
	// Define some contextual colour variables
	--ctx-color: var(--theme-text-color);
	--ctx-bg: var(--theme-bg-color);

	display: flex;
	flex-direction: column;

	font-family: var(--theme-font-body);
	line-height: var(--site-base-line-height);
	text-underline-offset: 0.125em;
	color: var(--ctx-color);
	background-color: var(--ctx-bg);
}

main {
	padding-block-end: var(--size-xl);

	&:focus {
		outline: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.heading {
	font-family: var(--theme-font-heading);
	line-height: 1.125;
	letter-spacing: var(--theme-heading-tracking);
	color: var(--theme-heading-color);
}

@for $s from 1 through 6 {
	h#{$s},
	.h#{$s} {
		font-size: var(--type-#{6 - $s});
	}
}

*:focus {
	outline: 4px dashed var(--theme-link-color-active);
	outline-offset: 2px;

	&:not(:focus-visible) {
		outline: none;
	}
}

// Ensure SVG elements transform from their center point
svg {
	transform-origin: 50% 50%;

	* {
		transform-origin: inherit;
	}
}
