:where(button, .button) {
	display: var(--btn-display, inline-flex);
	align-items: center;
	gap: var(--btn-gap, 0.5em);
	padding: var(--btn-padding-block, var(--size-2xs)) var(--btn-padding-inline, var(--size-s));

	font-size: var(--btn-font-size, 1em);
	line-height: var(--btn-line-height, var(--site-base-line-height));
	font-weight: var(--btn-font-weight, 400);
	text-decoration: var(--btn-decoration-style, none) var(--btn-decoration-color, currentColor) var(--btn-decoration-thickness, from-font);
	text-underline-offset: var(--btn-underline-offset, auto);

	color: var(--btn-text-color, var(--theme-cta-text-color, currentColor));
	text-shadow: var(--btn-text-shadow, none);

	border-width: var(--btn-border-size, var(--theme-cta-border-width));
	border-style: var(--btn-border-style, solid);
	border-color: var(--btn-border-color, var(--theme-cta-border-color, currentColor));
	border-radius: var(--btn-border-radius, var(--theme-corner-radius));
	background-color: var(--btn-background-color, var(--theme-cta-bg));
	box-shadow: var(--btn-box-shadow, none);

	&:is(:hover, :focus) {
		--btn-border-color: var(--theme-cta-border-color-active);
		--btn-text-color: var(--theme-cta-text-color-active);
		--btn-background-color: var(--theme-cta-bg-active);
		--btn-box-shadow: var(--theme-cta-box-shadow-active, none);
	}

	&[data-button='icon'] {
		--btn-padding-inline: var(--btn-padding-block, var(--size-2xs));
	}

	&[data-button='tile'] {
		display: block;
	}

	& :is(.icon, .inline-icon) {
		width: 0.9em;
		height: auto;
	}
}
