:where(button, .cta):where(:not(.button-reset)) {
	display: var(--btn-display, inline-flex);
	align-items: center;
	justify-content: var(--btn-justify-content, start);
	gap: var(--btn-gap, 0.5em);
	padding: var(--btn-padding-block, var(--size-2xs)) var(--btn-padding-inline, var(--size-s));

	font-size: var(--btn-font-size, 1em);
	line-height: var(--btn-line-height, var(--C-base-line-height));
	font-weight: var(--btn-font-weight, 400);
	text-decoration: var(--btn-decoration-style, none) var(--btn-decoration-color, currentColor) var(--btn-decoration-thickness, from-font);
	text-underline-offset: var(--btn-underline-offset, auto);

	color: var(--btn-text-color, var(--t-cta-text-color, currentColor));
	text-shadow: var(--btn-text-shadow, none);

	border-width: var(--btn-border-size, var(--t-cta-border-width));
	border-style: var(--btn-border-style, solid);
	border-color: var(--btn-border-color, var(--t-cta-border-color, currentColor));
	border-radius: var(--btn-border-radius, var(--t-corner-radius));
	background-color: var(--btn-background-color, var(--t-cta-bg));
	box-shadow: var(--btn-box-shadow, none);

	&:is(:hover, :focus) {
		--btn-text-color: var(--t-cta-text-color-active);
		--btn-border-color: var(--t-cta-border-color-active);
		--btn-background-color: var(--t-cta-bg-active);
		--btn-box-shadow: var(--t-cta-box-shadow-active, none);
	}

	:checked + &.filtering-tag {
		--btn-text-color: var(--t-cta-text-color-active);
		--btn-border-color: var(--t-cta-border-color-active);
		--btn-background-color: var(--t-cta-bg-active);
		--btn-box-shadow: var(--t-cta-box-shadow-active, none);
	}

	&[data-cta='icon'] {
		--btn-padding-inline: var(--btn-padding-block, var(--size-2xs));
	}

	&[data-cta='tile'] {
		--btn-display: block;
		--btn-padding-block: var(--size-xs);
		--btn-padding-inline: var(--size-m);
	}

	&:any-link:not([data-cta='tile']) > span,
	&:any-link[data-cta='tile'] > :is(strong, h2, h3) {
		text-decoration: underline;
		text-underline-offset: var(--btn-underline-offset, 0.1875em);
	}

	& :is(.icon, .inline-icon) {
		width: 0.9em;
		height: auto;
	}
}

summary.cta::-webkit-details-marker {
	display: none;
}

.button-reset {
	display: inline-block;
	padding: 0;
	margin: 0;

	text-align: center;
	text-decoration: none;
	color: currentColor;
	border: none;
	background: none;

	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
