:where(a:not([class]), .link) {
	--link-grad-one: 0px;
	--link-grad-two: 1px;
	--link-grad-def: repeating-linear-gradient(90deg, var(--t-link-underline-color, transparent) var(--link-grad-one), transparent var(--link-grad-two));

	@media (min-resolution: 120dpi), (-webkit-min-device-pixel-ratio: 1.66), (-moz-min-device-pixel-ratio: 1.66), (min-device-pixel-ratio: 1.66) {
		--link-grad-one: 0.5px;
	}
	@media (min-resolution: 196dpi), (-webkit-min-device-pixel-ratio: 2.727), (-moz-min-device-pixel-ratio: 2.727), (min-device-pixel-ratio: 2.727) {
		--link-grad-one: 0.36667px;
	}
	@supports (fill: color-mix(in lch, red 1%, tan)) {
		--link-grad-color: color-mix(in lch, var(--t-link-underline-color, currentColor) 50%, transparent);
		--link-grad-def: linear-gradient(var(--link-grad-color), var(--link-grad-color));
	}

	color: var(--t-link-color);
	text-decoration-line: underline;
	text-decoration-color: var(--t-link-underline-color, currentColor);
	text-decoration-skip-ink: auto;

	&:where(:hover, :focus) {
		color: var(--t-link-color-active);
		text-decoration: none;
		text-shadow: 0 max(1.5px, 0.0625em) 0 var(--ctx-bg, transparent);
		background: var(--link-grad-def) repeat-x 0 100% / 2px 0.67em;
		box-decoration-break: clone;
	}
}

:is(h1, h2, h3, h4, h5, h6) > :is(a, .heading-anchor, .heading-link) {
	text-decoration: none;
	color: inherit;

	&:is(:hover, :focus) {
		text-decoration-line: underline;
		text-decoration-color: var(--t-link-underline-color, currentColor);
	}
}
