:where(a:not([class]), .link) {
	--link-grad-def: linear-gradient(var(--t-link-underline-color-active, var(--t-link-underline-color, transparent)) 100%, transparent 0);

	color: var(--t-link-color);
	text-decoration-line: underline;
	text-decoration-color: var(--t-link-underline-color, currentColor);
	text-decoration-skip-ink: auto;
	text-decoration-thickness: max(1px, 0.01625em);

	&:where(:hover, :focus) {
		color: var(--t-link-color-active);
		text-decoration: none;
		text-shadow: 0 max(1.5px, 0.0625em) 0 var(--t-link-shadow-active, var(--ctx-bg, transparent));
		background: var(--link-grad-def) repeat-x 0 100% / 2px 0.67em;
		box-decoration-break: clone;
	}
}

:is(h1, h2, h3, h4, h5, h6) > :is(a, .heading-anchor, .heading-link) {
	text-decoration: none;
	color: inherit;

	&:is(:hover, :focus) {
		text-decoration-line: underline;
		text-decoration-color: var(--t-link-underline-color, currentColor);
	}
}
