/**
 * Slightly edited Modern Reset by Andy Bell:
 * https://github.com/hankchizljaw/modern-css-reset
 */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
	padding: 0;
	list-style-position: inside;
}

/* Set a different list style for default unordered lists */
ul {
	list-style-type: square;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul:where([role='list']),
ol:where([role='list']) {
	list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul:where([class]),
ol:where([class]),
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	font-family: sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
}

/* A elements that don't have a class get default styles */
a:where(:not([class])) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.1ms !important;
		animation-delay: 0.1ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.1ms !important;
		transition-delay: 0.1ms !important;
		scroll-behavior: auto !important;
	}
}
