h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.heading {
	font-family: var(--t-font-heading);
	font-weight: var(--t-heading-weight, 700);
	line-height: var(--t-heading-leading, 1.125);
	letter-spacing: var(--t-heading-tracking);
	text-transform: var(--t-heading-transform, none);
	text-shadow: var(--t-heading-shadow, none);
	text-wrap: balance;
	color: var(--t-heading-color);
}

@for $s from 1 through 6 {
	h#{$s},
	.h#{$s} {
		font-size: var(--type-#{6 - $s});
	}
}

i,
em {
	padding-inline-end: 0.03125em; // Add a little space after an em tag to avoid sticking too closely to the following text

	font-family: var(--t-font-italics, Georgia, serif);
	color: var(--t-heading-color);
}

// s,
// del {
// text-decoration-thickness: 0.0625em;
// text-shadow: 0 2px 0 var(--ctx-bg, transparent);
// background: repeating-linear-gradient(-45deg, var(--t-accent-color, transparent), var(--t-accent-color, transparent) 0.33px, transparent 0.33px, transparent 6px);
// box-decoration-break: clone;
// }

time:where([datetime]) {
	font-weight: 700;
	color: var(--t-datetime-color, var(--t-accent-color));
}

blockquote {
	border-inline-start: var(--size-2xs) solid var(--t-color-main-min, currentColor);
	padding-inline-start: var(--size-l);

	& > * + * {
		margin-block-start: var(--size-m);
	}

	& > :first-child::before {
		content: open-quote;

		display: inline-block;

		text-indent: -0.75em;
	}

	& > :last-child::after {
		content: close-quote;
	}

	:lang(fr) & > :first-child::before {
		text-indent: -1em;
	}
	:lang(fr) & > :last-child::after {
		padding-inline-start: 0.25em;
	}

	& > :first-child::before,
	& > :last-child::after {
		color: var(--t-color-aux-med, currentColor);
		font-weight: bold;
		font-family: var(--fontstack-serif);
	}
}

:where(:is(main, footer) :not(li) > ul:not([role='list'])) > li::marker {
	content: '\2043\00a0';
}

@include above-content-column {
	:where(main) :is(ol, ul):where(:not([class])),
	:where(main) :is(ol, ul) :is(ol, ul),
	.list-bullet-offset:is(ol, ul),
	.expander-content > :is(ol, ul) {
		list-style-position: outside;
	}

	:where(main) :is(ol, ul) :is(ol, ul),
	.list-bullet-offset:is(ol, ul),
	.expander-content > :is(ol, ul) {
		padding-inline-start: 1em;
	}
}

hr {
	width: 100%;
	height: 0.25rem;

	border: 0;
	border-radius: 50%;
	background: radial-gradient(farthest-side, var(--t-color-main-min), var(--t-color-main-med), var(--t-color-main-max));
}
