h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.heading {
	font-family: var(--t-font-heading);
	line-height: 1.125;
	letter-spacing: var(--t-heading-tracking);
	color: var(--t-heading-color);
}

@for $s from 1 through 6 {
	h#{$s},
	.h#{$s} {
		font-size: var(--type-#{6 - $s});
	}
}

i,
em {
	padding-inline-end: 0.125em; // Add a little space after an em tag to avoid sticking too closely to the following text

	color: var(--t-heading-color);
}

// s,
// del {
// text-decoration-thickness: 0.0625em;
// text-shadow: 0 2px 0 var(--ctx-bg, transparent);
// background: repeating-linear-gradient(-45deg, var(--t-accent-color, transparent), var(--t-accent-color, transparent) 0.33px, transparent 0.33px, transparent 6px);
// box-decoration-break: clone;
// }

time[datetime] {
	font-weight: 700;
	color: var(--t-accent-color);
}

blockquote {
	border-inline-start: var(--size-2xs) solid var(--t-color-primary-min, currentColor);
	padding-inline-start: var(--size-l);

	& > * + * {
		margin-block-start: var(--size-m);
	}

	& > :first-child::before {
		content: open-quote;

		display: inline-block;

		text-indent: -0.75em;
	}

	& > :last-child::after {
		content: close-quote;
	}

	:lang(fr) & > :first-child::before {
		text-indent: -1em;
	}
	:lang(fr) & > :last-child::after {
		padding-inline-start: 0.25em;
	}

	& > :first-child::before,
	& > :last-child::after {
		color: var(--t-color-secondary-med, currentColor);
		font-weight: bold;
		font-family: var(--font-fallback-serif);
	}
}

:is(ol, ul) {
	& :is(ol, ul) {
		padding-inline-start: 1em;
	}

	& ul {
		list-style-type: disc;
	}
}
