{# I know I'm calling this a button when it's actually a link, I'm genuinely sorry #}
{% set iconBefore = iconBefore or false %}
{% set iconClass = iconClass or 'inline-icon' %}
{% setAsync "iconRender" %}{% if icon %}{% svg icon, { class: iconClass } %}{% endif %}{% endsetAsync %}
<a href="{{ url }}" class="button" {{ linkAttr }}>
	{% if icon and iconBefore %}{{ iconRender | safe }}{% endif %}
    {% if label.aria %}
        <span class="visually-hidden">{{ label.aria }}</span>
        <span aria-hidden="true">{{ label.plain }}</span>
	{% elseif label %}
        <span>{{ label }}</span>
    {% endif %}
	{% if icon and not iconBefore %}{{ iconRender | safe }}{% endif %}
</a>