{% set iconBefore = iconBefore or false %}
{% set iconClass = iconClass or 'inline-icon' %}
{% set ctaType = 'a' if url else 'button' %}
{% setAsync "iconRender" %}{% if icon %}{% svg icon, { class: iconClass } %}{% endif %}{% endsetAsync %}
<{{ctaType}} {% if url %}href="{{url}}"{% else %}type="{{type or 'button'}}"{% endif %} class="cta" {{ ctaAttr | safe }}>
	{% if icon and iconBefore %}{{ iconRender | safe }}{% endif %}
    {% if label.aria %}
        <span class="visually-hidden">{{ label.aria }}</span>
        {% if label.plain %}<span aria-hidden="true">{{ label.plain }}</span>{% endif %}
	{% elseif label %}
        <span>{{ label }}</span>
    {% endif %}
	{% if icon and not iconBefore %}{{ iconRender | safe }}{% endif %}
</{{ctaType}}>