{%- renderFile "anchor-link" | svgUrl, { svgClass: "visually-hidden" } -%}

<style>{%- renderFile "font-face.css" | assetPath("css"), null, "njk" -%}</style>
<script>"use strict";
{%- set footJs %}
const scrsvrUrl = `{{ '/assets/css/screensaver.css' | url }}`;
(function(){
    const scrsvrSrc = `{{ '/assets/js/screensaver.js' | url }}`;
    const scrsvrScript = document.createElement('script');
    scrsvrScript.defer = true;
    scrsvrScript.src = scrsvrSrc;
    document.head.appendChild(scrsvrScript);
    {%- include "assets/js/themepicker-toggle.js" -%}
    {# {%- include "assets/js/screensaver.js" -%} #}
})()
{% endset -%}
{{- footJs | replace('"use strict";', "") | jsmin | safe }}
</script>