<footer class="footer">
    <div class="container">
        {# Dusk theme deco (start) #}
        <svg xmlns="http://www.w3.org/2000/svg" width="256" height="161.6" viewBox="0 0 255.7 161.6" preserveAspectRatio="xMaxYMax" class="footer-decorator footer-decorator--start" data-conditional-theme-element="dusk">
            <defs>
                <linearGradient id="footerDecoratorDuskGrad" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="0" y2="162">
                    <stop offset="0" stop-color="var(--footer-deco-grad-a)"></stop>
                    <stop offset="1" stop-color="var(--footer-deco-grad-b)"></stop>
                </linearGradient>
            </defs>
            <path fill="url(#footerDecoratorDuskGrad)" d="M256 110h-9v1h-6v2h-6V96h-6v19h-21v-8l-7-4v-5h-7v5l-6 4v8h-20V2l-4-2-40 20v2h-2v91h-13v5H89v-12H77v11h-6v1h-9v-1h-8v-6h-3v-2H40v-1h-5v1h-4v3h-6v2h-3v4h-6v13H7v8H0v23h256v-52z"/>
        </svg>

        {# Campfire theme deco #}
        <svg xmlns="http://www.w3.org/2000/svg" width="285.4" height="162" viewBox="0 0 285.4 162" preserveAspectRatio="xMidYMax" class="footer-decorator footer-decorator--start" data-conditional-theme-element="campfire">
            <path fill="var(--footer-deco-d)" d="M223 149 154 29 80 39v71l143 39z"/>
            <path fill="var(--footer-deco-c)" d="M154 29 80 39l-63 93 61 30 76-133z"/>
            <path fill="var(--footer-deco-b)" d="m78 162 73-7 3-126 12 125 57-5-69-120-76 133z"/>
            <path fill="none" stroke="var(--footer-deco-a)" stroke-width="1" d="M12 162 154 29.5l119 133"/>
        </svg>

        <div class="footer-inner | fluid">
            <div class="footer-logo">
                <svg width="73" height="76" viewBox="0 0 73 76" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <defs><radialGradient id="logo-ie-grad"><stop offset="0" stop-color="#84e7fc" /><stop offset="1" stop-color="#0f75bd" /></radialGradient></defs>
                    <path d="M63.9793 48.1956L72.2873 56.3044C72.7436 56.7498 73 57.3539 73 57.9838V71.25C73 73.8733 70.8211 76 68.1333 76H29.2C13.0733 76 0 63.2401 0 47.5V28.5C0 12.7599 13.0733 0 29.2 0H68.1333C70.821 0 73 2.12667 73 4.75V18.0162C73 18.6461 72.7436 19.2502 72.2872 19.6956L63.9793 27.8044C63.5229 28.2498 62.904 28.5 62.2587 28.5H55.9666C54.6227 28.5 53.5333 27.4367 53.5333 26.125V19H29.2C23.8244 19 19.4667 23.2533 19.4667 28.5V47.5C19.4667 52.7467 23.8244 57 29.2 57H53.5333V49.875C53.5333 48.5633 54.6227 47.5 55.9666 47.5H62.2587C62.9041 47.5 63.523 47.7502 63.9793 48.1956H63.9793Z"/>
                </svg>
            </div>

            <p class="footer-note">
                {% set copyrightYear = (metadata.currentYear
                    if metadata.copyrightStart == metadata.currentYear
                    else metadata.copyrightStart + "&ndash;" + metadata.currentYear
                ) | safe %}
                <strong>{{ metadata.author.name }}</strong>

                &copy;&nbsp;{{ copyrightYear }}
            </p>

            <p class="footer-edit">
                <a href="{{ metadata.repo }}/blob/main/{{ page.inputPath }}">{{ 'fixErrorPR' | i18n }}</a>
            </p>

            <p class="footer-search">
                <a href="{{ '/search/' | url }}" hreflang="en">{{ 'search' | i18n }}</a>
            </p>

            <nav aria-labelledby="footer-extras-links-title" class="footer-nav" data-footer-nav="extras">
                <h2 class="h4" id="footer-extras-links-title">{{ 'footerAdditionalLinks' | i18n }}</h2>
                <ul>
                    <li><a href="{{ '/acknowledgements/' | locale_url }}" {{ '/acknowledgements/' | locale_url | current(page) | safe }}>{{ 'nav.acknowledgements' | i18n | safe }}</a></li>
                    <li><a href="{{ '/fonts/' | url }}" {{ '/fonts/' | current(page) | safe }} hreflang="en">{{ 'customFonts' | i18n | safe }}</a></li>
                    {% if lang == 'en' %}<li><a href="{{ '/webring/' | url }}" {{ '/webring/' | current(page) | safe }} hreflang="en">Webring</a></li>{% endif %}
                    <li><a href="{{ metadata.tweetArchiveUrl }}" hreflang="en">{{ 'tweetArchive' | i18n | safe }}</a></li>
                </ul>
            </nav>

            <nav aria-labelledby="footer-language-links-title" class="footer-nav" data-footer-nav="lang">
                <h2 class="h4" id="footer-language-links-title">{{ 'langLabel' | i18n | safe }}</h2>
                <ul>
                {% for langKey, langLabel in metadata.locales %}
                    <li><a href="{{ '/' | locale_url(langKey) }}" {{ '/' | locale_url(langKey) | current(page) | safe }} hreflang="{{ langKey }}">{{ langLabel }}</a></li>
                {% endfor %}
                </ul>
            </nav>

            <nav aria-labelledby="footer-external-links-title" class="footer-nav" data-footer-nav="external">
                <h2 class="h4" id="footer-external-links-title">{{ 'externalLinks' | i18n | safe }}</h2>

                <ul>
                {% for socialPage in social %}
                    <li><a href="{{ socialPage.url | url }}">{{ socialPage.name }}</a></li>
                {% endfor %}
                    <li><a href="{{ localeRssUrl }}" aria-label="{{ 'rss.subscribe' | i18n }}">RSS</a></li>
                </ul>
            </nav>
        </div>

        {# Dusk theme deco (end) #}
        <svg xmlns="http://www.w3.org/2000/svg" width="256" height="161.6" viewBox="0 0 256 161.6" preserveAspectRatio="xMinYMax" class="footer-decorator footer-decorator--end" data-conditional-theme-element="dusk">
            <path fill="url(#footerDecoratorDuskGrad)" d="M246 134v-9h-12v2h-5v-14h-14v5h-4v5h-5v3h-9v-5h-5v10h-11v-6h-6v6h-18V35h-2v-2l-18-18-18 18v2h-1v92h-13v-3h-4v-1h-5v-5H80V69l-6-1-2-2 4-1v-2H66l-6-1 2 4v2h-5v12h-2v36H45v3H34v-4h-4V93h-2v-2h-8v2h-1v-2h-8v2H8v17H0v52h256v-28h-10z"/>
        </svg>
    </div>
</footer>