{% set anchorLinkSvgClass = "visually-hidden" -%}
{%- include "assets/img/anchor-link.svg.njk" %}

{% set themePick %}{% include "assets/js/themepicker-toggle.js" %}{% endset %}
<script>{{- themePick | safe -}}</script>