<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ navtitle or title or renderData.title }} | {{ metadata.title }}</title>
	
	{% if summary %}
	<meta name="description" content="{{ summary }}">
	<meta name="og:description" content="{{ summary }}">
	{% endif %}
	
	<meta property="og:title" content="{{ navtitle or title or renderData.title }} | {{ metadata.title }}">
	<meta property="og:site_name" content="{{ metadata.title }}">
	<meta property="og:locale" content="{{ locale or 'en' }}">
	<meta property="og:type" content="{% if section == "post" %}article{% else %}website{% endif %}">
	<meta property="og:url" content="{{ (localePath or '/') | url | absoluteUrl(metadata.url) }}">
	
	{% set meta_image_url %}
		{% if customMetaImage %}
			{{ customMetaImage | url | absoluteUrl(metadata.url) }}
		{% else %}
			{{ '/assets/img/metaimage.jpg' | url | absoluteUrl(metadata.url) }}
		{% endif %}
	{% endset %}
	<meta name="twitter:image" property="og:image" content="{{ meta_image_url | trim }}">
	<meta name="twitter:image:alt" property="og:image:alt" content="{{ navtitle or title or renderData.title }}" />
	<meta name="twitter:card" content="summary" />

	<style id="inline-styles">{%- if not hasFullCustomStyles %}/*INLINE_CSS*/{% endif -%}</style>
	{% set themeScript %}
	(function(){
		document.documentElement.classList.remove('no-js');
		const themeKeys = {{ tokens.themes | keys | dump | safe }};
		const themeDefault = {{ tokens.defaultTheme | dump | safe }};
		{% include "assets/js/theme-set.js" %}
	})()
	{% endset %}
	<script>{{- themeScript | jsmin | safe -}}</script>

	{# <link rel="icon" href="{{ "/" + metadata.assetUrl.icons.faviconPng | url }}" type="image/png">
	<link rel="icon" href="{{ "/" + metadata.assetUrl.icons.faviconSvg | url }}">
	<link rel="mask-icon" href="{{ "/" + metadata.assetUrl.icons.maskIcon | url }}" color="{{ tokens.colors.dusk.secondary.med }}">
	<link rel="apple-touch-icon" href="{{ "/" + metadata.assetUrl.icons.appleTouchIcon | url }}"> #}

	{% if metaThemeColorOverride %}
	<meta name="theme-color" content="{{ metaThemeColorOverride | safe }}">
	{% else %}
	<meta name="theme-color" content="{{ tokens.themes[tokens.defaultTheme.dark].colors.primary.max }}">
	{% endif %}

	{% if localeRssUrl %}<link rel="alternate" type="application/rss+xml" title="{{ metadata.title }}" href="{{ localeRssUrl }}">{% endif %}
	<meta name="generator" content="{{ eleventy.generator }}">
</head>
