<header class="header">
    <div class="header-inner | container">
        <a href="{{ '/' | locale_url }}" class="header-logo">
            {% set svgLogoOpts = { title: ('nav.home' | i18n) } %}
            {% include 'assets/img/logo.svg.njk' %}
        </a>

        <nav class="header-nav" aria-label="{{ 'nav.label' | i18n }}">
            <ul class="header-menu menu" role="list">
                <li class="menu-item">
                    <a href="{{ '/blog' | locale_url }}" class="menu-link">{{ 'nav.blog' | i18n }}</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">{{ 'nav.about' | i18n }}</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">{{ 'nav.shop' | i18n }}</a>
                </li>
            </ul>
        </nav>
        
        {% include "components/themepicker-toggler.njk" %}
    </div>
</header>