<div class="postlist | flow">
	{% for year, posts in postslist | groupby("data.year") | dictsort | reverse %}
	<details class="postlist-group" open>
		<summary class="postlist-group-label | u-fontSize-larger">
			<span class="visually-hidden">{{ 'blog.yearLabel' | i18n }}</span>
			{{ year }} <span class="postlist-group-count">({{ posts | length }}&times;)</span>
		</summary>

		<div class="postlist-group-list | flow">
		{% for post in posts | reverse %}
			<article class="postlist-post">
				<h2 class="h3">
					<a href="{{ post.url | url }}" class="heading-link">
						{{- post.data.title or "Untitled Post" -}}
					</a>
				</h2>

				<p>
					<time datetime="{{ post.date | dateFormat }}">{{ post.date | dateFormat({ format: 'nice', lang: lang }) }}</time>
					{% if post.data.updated %}
					({{ 'blog.updated' | i18n }}{% if (post.data.updated | dateFormat) != (post.date | dateFormat) %}
					<time style="--t-datetime-color:var(--ctx-color)" datetime="{{ post.data.updated | dateFormat }}">{{ post.data.updated | dateFormat({ format: 'nice', lang: lang }) }}</time>{% endif %})
					{% endif %}
				</p>

				<p>{{ post.data.summary or post.excerpt }}</p>
			</article>
		{% endfor %}
		</div>
	</details>
	{% endfor %}
</div>
