<div class="postlist | flow">
	{% set currYear = ''%}
	{% for post in postslist | reverse %}
		{% set postYear = post.date | dateFormat({ format: 'year' }) %}
		{% if currYear != postYear %}
			<p class="postlist-yeargroup | u-fontSize-larger">
				<span class="visually-hidden">{{ 'blog.yearLabel' | i18n }}</span>
				{{ postYear }}
			</p>
		{% endif %}

		<article class="postlist-post">
			<h2 class="h3">
				<a href="{{ post.url | url }}" class="heading-link">
					{{- post.data.title or "Untitled Post" -}}
				</a>
			</h2>

			<time class="postlist-date" datetime="{{ post.date | dateFormat({ format: 'machine' }) }}">{{ post.date | dateFormat({ format: 'nice', locale: lang }) }}</time>
			<p>{{ post.data.summary or post.excerpt }}{% if post.data.updated %} ({{ 'blog.updated' | i18n }} {{ post.data.updated | dateFormat({ format: 'nice', locale: lang }) }}){% endif %}</p>
		</article>

		{% if currYear != postYear %}{% set currYear = postYear %}{% endif %}
	{% endfor %}
</div>
