<button class="themepicker-toggler" type="button" data-button="icon" data-themepicker-toggler>
    <span class="visually-hidden">Theme Picker</span>
    {% renderFile "palette" | svgUrl, { class: "inline-icon themepicker-icon" } %}
</button>