<section class="themepicker" aria-labelledby="themepicker-heading" tabindex="-1" inert>
    <h2 class="themepicker-title | h4" id="themepicker-heading">{{ 'themeSwitchLabel' | i18n | safe }}</h2>
    <ul class="themepicker-list">
    {% set schemeThemes = tokens.schemes | values %}
    {% for themeKey, themeValues in tokens.themes %}
        {% set themeVars = tokens.schemeCommonVars.vars if (schemeThemes | includes(themeKey)) else (themeValues.vars) %}
        {% set themeColorBg = themeVars['bg-color'] | extractColorFromTokenVar(themeValues.colors) %}
        {% set themeColorA = themeVars['accent-color'] | extractColorFromTokenVar(themeValues.colors) %}
        {% set themeColorB = themeVars['text-color'] | extractColorFromTokenVar(themeValues.colors) %}
        {% set themeColorC = themeVars['accent-color-alt'] | extractColorFromTokenVar(themeValues.colors) -%}
        <li class="themepicker-item" style="--themepicker-bg:{{ themeColorBg }}; --themepicker-a:{{ themeColorA }}; --themepicker-b:{{ themeColorB }}; --themepicker-c:{{ themeColorC }};">
            <button class="themepicker-button" type="button" aria-pressed="false" data-theme-set="{{ themeKey }}" data-theme-bg="{{ themeColorBg }}">
                <span class="themepicker-label">{{ themeValues.label }}</span>
            </button>
        </li>
    {% endfor %}
    </ul>

    <button class="themepicker-close" type="button" aria-expanded="false" data-themepicker-toggler="false" data-cta="icon">
        {% svg "cross" %}
        <span class="visually-hidden">{{ 'closeThemePicker' | i18n }}</span>
    </button>
</section>