<div class="themepicker" aria-expanded="false" aria-describedby="themepicker-heading">
    <h2 class="themepicker-title | h4" id="themepicker-heading">{{ 'themeSwitchLabel' | i18n }}</h2>
    <ul class="themepicker-list">
    {% set schemeThemes = tokens.schemes | values %}
    {% for themeKey, themeValues in tokens.themes %}
    {% set themeVars = tokens.schemeCommonVars.vars if (schemeThemes | includes(themeKey)) else ( themeValues.vars) %}
        {% set themeColorBg = themeVars['bg-color'] | extractColorFromTokenVar(themeValues.colors) %}
        {% set themeColorA = themeVars['accent-color'] | extractColorFromTokenVar(themeValues.colors) %}
        {% set themeColorB = themeVars['text-color'] | extractColorFromTokenVar(themeValues.colors) %}
        {% set themeColorC = themeVars['link-color-active'] | extractColorFromTokenVar(themeValues.colors) -%}
        <li class="themepicker-item" style="--themepicker-bg:{{ themeColorBg }}; --themepicker-a:{{ themeColorA }}; --themepicker-b:{{ themeColorB }}; --themepicker-c:{{ themeColorC }};">
            <button class="themepicker-button" type="button" aria-checked="false" data-theme-set="{{ themeKey }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" class="themepicker-palette">
                    <polygon points="54.04787 16.11595 30 30 5.95213 16.11595 30 2.23191 54.04787 16.11595"/>
                    <polygon points="30 30 30 57.76809 54.04787 43.88404 54.04787 16.11595 30 30"/>
                    <polygon points="30 30 5.95213 16.11595 5.95213 43.88404 30 57.76809 30 30"/>
                </svg>

                <span class="themepicker-label">{{ themeValues.label }}</span>
            </button>
        </li>
    {% endfor %}
    </ul>

    <button class="themepicker-close" type="button" data-themepicker-toggler="false" data-button="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="butt" stroke-linejoin="arcs"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
        <span class="visually-hidden">Close Theme Picker</span>
    </button>
</div>