<button class="themepicker-toggler" type="button" data-button="icon" aria-expanded="false" data-themepicker-toggler>
    <span class="visually-hidden">{{ 'themePicker' | i18n }}</span>
    {% svg "palette", { class: "inline-icon themepicker-icon" } %}
</button>