<button class="themepicker-toggler" type="button" data-button="icon" data-themepicker-toggler>
    <span class="visually-hidden">Theme Picker</span>
    {% set svgPaletteOpts = { class: 'icon themepicker-icon' } %}
    {% include 'assets/svg/palette.svg.njk' %}
</button>