@include default-schemes {
	.header {
		&-logo {
			& > svg {
				--logo-transition-duration: var(--T-dusk, 420ms) var(--T-dawn, 100ms);

				transition: filter var(--logo-transition);

				& path {
					fill-opacity: 1;
					stroke: var(--t-color-primary-min);
					stroke-width: 3;
					stroke-opacity: 0;
				}
			}

			&:is(:hover, :focus) > svg {
				filter: var(--T-dusk, drop-shadow(0 0 0.0625rem currentColor) drop-shadow(0 0 0.25rem currentColor)) var(--T-dawn, none);
			}

			&:is(:hover, :focus) > svg path {
				fill: var(--T-dusk, var(--t-color-gray-max)) var(--T-dawn, var(--t-color-primary-med));
				fill-opacity: var(--T-dusk, 0) var(--T-dawn, 1);
				stroke-opacity: var(--T-dusk, 1) var(--T-dawn, 0);

				animation: var(--T-dusk, cknLogoNeon 300ms ease-in-out) var(--T-dawn, none);

				&[data-c] {
					animation-delay: 100ms;
				}
				&[data-n] {
					animation-delay: 300ms;
				}
			}

			@keyframes cknLogoNeon {
				0%,
				40%,
				80% {
					stroke-opacity: 0;
				}
				20% {
					stroke-opacity: 0.5;
				}
				60% {
					stroke-opacity: 0.75;
				}
				100% {
					stroke-opacity: 1;
				}
			}
		}
	}

	.bigboi {
		@include generate-light-dark-vars('bigboi-outline-color', white, black);
		@include generate-light-dark-vars('bigboi-line-color', var(--t-color-primary-med), var(--t-color-secondary-med));
		--bigboi-bg-mask: radial-gradient(ellipse at center, rgba(0 0 0 / 20%), rgba(0 0 0 / 0%));

		position: relative;

		outline: 2px solid var(--bigboi-outline-color);

		&::before {
			$grid-line-width: 1.5px;

			content: '';

			position: absolute;
			inset: 0;

			background: repeat 50% 50% / 2rem 2rem;
			background-image: linear-gradient(var(--bigboi-line-color) #{$grid-line-width}, transparent #{$grid-line-width}),
				linear-gradient(90deg, var(--bigboi-line-color) #{$grid-line-width}, transparent #{$grid-line-width});

			-webkit-mask-image: var(--bigboi-bg-mask);
			mask-image: var(--bigboi-bg-mask);
		}
	}

	:where(button, .button):is(:hover, :focus) {
		transition-property: box-shadow, border-color;
		transition-duration: var(--t-cta-transition-duration, 0ms);
		transition-timing-function: cubic-bezier(0.33, 1.5, 0.33, -0.2);
	}

	.cardblock {
		box-shadow: 0 0.25em 1em -0.5em var(--t-accent-color);
	}

	.callout {
		padding-block-start: var(--size-xl);

		background: linear-gradient(90deg, transparent, var(--ctx-bg)) 100% 0 repeat-y,
			repeating-linear-gradient(var(--t-color-primary-med) 0, var(--t-color-primary-med) 2px, transparent 2px, transparent 6px) 0 0 repeat-x,
			linear-gradient(90deg, var(--t-color-primary-med), var(--ctx-bg)) 0 100% no-repeat;
		background-size: 100% 1.25em, 100% 1.25em, 100% 0.11em;

		&-label {
			position: absolute;
			inset-block-start: -0.25em;
			inset-inline-start: var(--C-content-gutter);

			padding: 0 var(--C-content-gutter);

			font-size: max(var(--size-xl), 1.75em);
			color: var(--t-color-primary-min);
			text-shadow: 0.075em 0.075em 0 var(--ctx-bg), 0.125em 0.125em 0 var(--t-color-primary-med);
			background-color: var(--ctx-bg);
		}
	}

	.about-quotebox {
		box-shadow: 0.5em 0.5em 2em -1em var(--t-color-primary-med);
	}
}

@include theme('vapor') {
	$body-bg-min-width: get-token('constants', 'content-width');
	$body-bg-image: asset-path(get-token('themes', 'vapor', 'images', 'body-bg-image'));
	$body-bg-image-width: 128px;
	$body-bg-image-gutter: 2rem;

	body {
		background: linear-gradient(45deg, var(--t-color-secondary-max), var(--t-color-primary-max)) fixed;
	}

	@media (min-width: calc(#{$body-bg-min-width} + #{$body-bg-image-width * 2} + #{$body-bg-image-gutter} * 2)) {
		body::before,
		body::after {
			content: '';

			position: fixed;
			inset: auto auto 0;
			z-index: #{layer-index('footer', 1)};

			width: clamp(#{$body-bg-image-width}, (100% - #{$body-bg-min-width}) / 2 - #{$body-bg-image-gutter}, #{$body-bg-image-width} * 3);
			max-height: 100vh;
			max-height: 100dvh;
			aspect-ratio: 314/640; // Hardcoded aspect ratio for the image; yucky, I know…

			background: url('#{$body-bg-image}') no-repeat 50% 0 / 100% auto;
		}

		body::before {
			inset-inline-start: 0;
		}
		body::after {
			inset-inline-end: 0;
			transform: scaleX(-1);
		}
	}

	.postlist-yeargroup {
		padding-block: 0;

		color: var(--t-color-gray-max);
		border: 0;
		background: var(--t-color-primary-med);
	}

	.about-quotebox {
		--quotebox-font: var(--t-font-heading);
		--quotebox-transform: uppercase;
		--quotebox-weight: 400;
		--quotebox-corner-radius: 0;

		position: relative;

		&::before {
			content: '';
			position: absolute;
			inset: 0.5em -0.5em -0.5em 0.5em;
			z-index: -1;

			border: 2px solid var(--t-color-secondary-med);
		}
	}

	.cardblock {
		&-title > a {
			line-height: 1.2;
			padding-top: 0.125em;
		}
	}

	.callout-label {
		&::after {
			content: '…'; // Hint of exasperation
		}

		// Pixelated text shadow
		text-shadow: 2px 2px 0 var(--t-color-primary-max), 4px 4px 0 var(--t-color-primary-max), 6px 6px 0 var(--t-color-primary-max), 8px 8px 0 var(--t-color-primary-max);
	}
}

@include theme('y2k') {
	--y2k-bar-grad: linear-gradient(90deg, var(--t-color-primary-min), var(--t-color-primary-max));
	--t-scrollbar-color: #7c7c7c;
	--t-scrollbar-bg: #dddddd;

	&::-webkit-scrollbar,
	& ::-webkit-scrollbar,
	&::-webkit-scrollbar-track,
	& ::-webkit-scrollbar-track {
		background-color: var(--t-scrollbar-bg);
	}

	&::-webkit-scrollbar-thumb,
	& ::-webkit-scrollbar-thumb {
		background: var(--t-scrollbar-color);
		border: 2px solid;
		border-color: var(--t-cta-border-color);
	}

	:focus {
		outline: 1px dotted currentColor;
	}

	:where(button, .button) {
		--btn-line-height: 1.2;

		&:focus {
			outline-offset: -4px;
			outline: 1px dotted #4c4c4c;
		}
	}

	hr {
		height: unset;
		border-radius: 0;
		border: 2px ridge var(--t-color-gray-med);
	}

	.filtering-item input[type='radio']:focus-visible + label {
		outline-offset: -4px;
		outline: 1px dotted black;
	}

	.postlist-yeargroup {
		padding-block: 0;

		color: var(--t-color-gray-max);
		border: 0;
		background: var(--y2k-bar-grad);
	}

	.postlist-post + .postlist-post {
		position: relative;

		&::before {
			content: '';

			position: absolute;
			inset-inline: 0;
			inset-block-start: calc(var(--flow-space, var(--size-xl)) * -0.5);

			width: 100%;
			height: 1px;

			background: currentColor;
		}
	}

	.post-footer-avatar > img {
		border-radius: 0;
	}

	.about-quotebox,
	.callout {
		position: relative;

		padding: calc(var(--size-s) + var(--y2k-bar-height, 1.5rem)) var(--size-s) var(--size-s);

		color: var(--t-cta-text-color);
		border-width: 2px;
		border-style: solid;
		border-color: var(--t-cta-border-color);
		background: var(--t-cta-bg);
	}

	.about-quotebox::before,
	.callout-label {
		position: absolute;
		inset: 1px 1px auto;

		height: var(--y2k-bar-height, 1.5rem);

		background: var(--y2k-bar-grad);
	}

	.about-quotebox {
		--quotebox-font: Courier, var(--font-fallback-monospace);
		--quotebox-style: normal;
		--quotebox-weight: 400;
	}

	.about-quotebox::before {
		content: '';
	}

	.callout {
		--y2k-bar-height: 2rem;

		&-label {
			display: flex;
			align-items: center;
			padding-block: 0.125em;
			padding-inline: inherit;
			gap: 0.5em;

			font-size: 1rem;
			font-weight: 300;
			font-family: var(--font-fallback-monospace);
			color: white;

			&::before {
				content: var(--callout-emoji, '🗒');
			}
		}
	}

	.codeblock :is(.token.comment, .token.doctype) {
		--token-gray-med: hsl(240, 33%, 42%);
	}

	[data-filtered-item] {
		transition-timing-function: steps(8, jump-none);
	}

	.footer-logo {
		position: relative;

		background: linear-gradient(#4d90fb, #c2e6fb);

		transform-style: preserve-3d;

		& > svg {
			overflow: visible;

			stroke: var(--t-color-secondary-min);
			stroke-width: 1px;
			fill: var(--t-color-secondary-med);
			fill: url('#logo-ie-grad');
		}

		&::before {
			--halo-width: clamp(2px, 0.25px + 0.5vw, 4px);

			content: '';

			position: absolute;
			inset: 0;

			width: calc(clamp(3rem, 50%, 8rem) / 2);
			aspect-ratio: 0.35;
			margin: auto;

			border-width: calc(var(--halo-width) / 2) 0 calc(var(--halo-width) / 2) var(--halo-width);
			border-style: solid;
			border-color: #faa400;
			border-radius: 50%;
			box-shadow: inset calc(var(--halo-width) / 2) 0 0 calc(var(--halo-width) / 2) #ffe907;

			transform: rotateZ(45deg) rotateY(1deg) translateZ(calc(var(--halo-width) / 20));
		}
	}
}

@include theme('neotokyo') {
	.bigboi {
		outline: 2px solid var(--t-color-primary-med);
	}

	.about-quotebox {
		--quotebox-font: var(--t-font-heading);
		--quotebox-weight: 400;
		--quotebox-style: normal;
		--quotebox-transform: uppercase;
		--quotebox-tracking: var(--t-heading-tracking);
		--quotebox-corner-radius: 0;

		position: relative;

		&::before {
			content: '';
			position: absolute;
			inset: 0.5em -0.5em -0.5em 0.5em;
			z-index: -1;

			border: 2px solid var(--t-color-secondary-med);
		}
	}

	.callout {
		border-inline-start-color: var(--t-color-primary-min);

		&-label {
			width: fit-content;
			margin-block-end: 0.5em;
			margin-inline-start: calc(var(--size-m) * -1);
			padding-block: 0.125em 0;
			padding-inline: var(--size-m) var(--size-l);

			font-size: 1.25em;
			color: var(--t-color-primary-max);
			background: var(--t-color-primary-min);

			&::before {
				content: '// ';
			}
		}
	}

	.cardblock {
		box-shadow: 0 0 1em -0.375em var(--t-accent-color);

		&-title > a {
			line-height: 1.3;
			padding-top: 0.25em;
		}
	}

	.codeblock {
		--token-gray-med: #a85454;
		--token-primary-med: #ff7e66;
	}

	.callout-label,
	.codeblock::before {
		--corner-cut: clamp(0.25rem, 0.375em, 0.75rem);
		clip-path: polygon(0 0, calc(100% - var(--corner-cut)) 0, 100% var(--corner-cut), 100% 100%, 0 100%); // Cut the top-right corner
	}

	.footer-logo {
		background-image: repeating-linear-gradient(var(--t-footer-border-color), var(--t-footer-border-color) 2px, var(--t-color-primary-med) 2px, var(--t-color-primary-med) 4px);
	}
}
