:root:not([data-theme]),
[data-theme='dusk'],
[data-theme='dawn'] {
	.header {
		&-logo {
			& > svg {
				transition: filter 420ms ease-in-out;

				& > path {
					fill: var(--theme-header-logo-fill);
					fill-opacity: 1;
					stroke: var(--theme-color-primary-min);
					stroke-width: 6;
					stroke-opacity: 0;

					transition: inherit;
					transition-property: fill, fill-opacity, stroke-opacity;
				}
			}

			&:is(:hover, :focus) > svg {
				filter: drop-shadow(0 0 0.25rem currentColor);
			}

			&:is(:hover, :focus) > svg > path {
				fill: var(--theme-color-gray-max);
				fill-opacity: 0;
				stroke-opacity: 1;

				animation: cknLogoNeon 300ms ease-in-out;

				&[data-c] {
					animation-delay: 100ms;
				}
				&[data-n] {
					animation-delay: 300ms;
				}
			}

			@keyframes cknLogoNeon {
				0% {
					stroke-opacity: 0;
				}
				20% {
					stroke-opacity: 0.5;
				}
				40% {
					stroke-opacity: 0;
				}
				60% {
					stroke-opacity: 0.75;
				}
				80% {
					stroke-opacity: 0;
				}
				100% {
					stroke-opacity: 1;
				}
			}
		}
	}

	:where(button, .button):is(:hover, :focus) {
		transition-property: box-shadow, border-color;
		transition-duration: var(--theme-cta-transition-duration, 0ms);
		transition-timing-function: cubic-bezier(0.33, 2.04, 0.34, -0.18);
	}
}

[data-theme='y2k'] {
	:focus {
		outline: 1px dotted currentColor;
	}

	:where(button, .button) {
		&:focus {
			outline-offset: -4px;
			outline: 1px dotted #4c4c4c;
		}
	}
}
