<svg xmlns="http://www.w3.org/2000/svg" {% if class %}class="{{ class }}"{% endif %} {% if ariaHidden %}aria-hidden="true"{% endif %} width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="arcs">
  <line x1="50%" x2="50%" y1="4" y2="20"/>
  <line x1="4" x2="20" y1="50%" y2="50%" />
</svg>
