.bigboi {
	--ctx-bg: var(--t-bigboi-bg-color);
	--ctx-color: var(--t-bigboi-text-color);

	padding-block: var(--size-xl);

	color: var(--ctx-color);
	background-color: var(--ctx-bg);

	&-inner {
		position: relative;
	}
}
