.bigboi {
	--ctx-bg: var(--t-bigboi-bg-color);
	--ctx-color: var(--t-bigboi-text-color);

	position: relative;

	padding-block: var(--size-xl);

	color: var(--ctx-color);
	background-color: var(--ctx-bg);

	&-inner {
		position: relative;

		&-content {
			flex: 1 1 0;
			min-width: min(100%, 24rem);

			p {
				text-wrap: balance;
			}
		}
	}
}
