.callout {
	--callout-border: 2px;

	position: relative;
	padding: calc(var(--size-m) - var(--callout-border));
	padding-block-start: 0;

	border-inline-start: var(--callout-border) solid var(--t-color-main-med);

	&-label {
		display: block;
		padding-block-end: 0.5em;

		font-size: 1.5em;
		color: var(--t-color-main-min);
	}
}
