.callout {
	&,
	& + * {
		// Provide more space around this element
		--flow-space: var(--size-2xl);
	}

	position: relative;
	padding: var(--size-m);
	padding-block-start: 0;

	border-inline-start: 2px solid var(--t-color-primary-med);

	&-label {
		display: block;
		padding-block-end: 0.5em;

		font-size: 1.5em;
		color: var(--t-color-primary-min);
	}
}
