.cardblock {
	position: relative;

	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	border: var(--cardblock-border);
	border-radius: var(--t-corner-radius);

	&-image {
		position: relative;
		flex-shrink: 0;
	}

	&-image a {
		position: relative;

		display: block;
		overflow: hidden;

		&::after {
			content: '';

			z-index: 1;
			position: absolute;
			inset: auto 0 0;

			height: 2em;
			background: linear-gradient(transparent, 67%, #0003);
		}
	}

	&-image a:is(:hover, :focus) img, // Firefox…
	&:has(&-title a:is(:hover, :focus)) &-image img {
		transform: scale(1.0625) rotate(1deg);
	}

	&-image img {
		width: 100%;

		background: var(--t-color-gray-med);

		transition: transform var(--C-base-duration) var(--easing-in-out);
	}

	&-badge {
		position: absolute;
		inset-block-start: 0.5rem;
		inset-inline-end: calc(-1 * var(--cardblock-border-thickness));

		width: auto;
		padding: 0.25em 0.5em;

		font-size: 0.75rem;

		color: var(--t-bg-color);
		border: var(--cardblock-border);
		border-radius: var(--t-corner-radius) 0 0 var(--t-corner-radius);
		background: var(--t-text-color);
	}

	&-content {
		position: relative;
		z-index: 2;

		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: var(--size-m);

		--ctx-bg: var(--t-bg-neutral-color);
		background-color: var(--ctx-bg);
	}

	&-image + &-content > &-title {
		margin-block-start: -1.25em; // Pull up if there is an image
	}

	&-title {
		--title-padding-inline: 0.25em;

		margin-inline-start: calc(-1 * var(--title-padding-inline));

		pointer-events: none; // Remove pointer events so the cursor can click the link on the empty space at the end of the title

		& > a {
			padding-inline: var(--title-padding-inline);

			border-start-start-radius: var(--t-corner-radius);
			border-start-end-radius: var(--t-corner-radius);
			background-color: var(--ctx-bg);
			-webkit-box-decoration-break: clone;
			box-decoration-break: clone;

			pointer-events: auto; // Restore interactivity for the link
		}
	}

	a[data-card-coverlink] {
		&::after {
			content: '';

			position: absolute;
			inset: 0;
		}
	}

	@container gridlist (min-width: 18.75rem) and (max-width: 26.4375rem) {
		flex-direction: row;

		&-image {
			width: 6.5rem;
			flex: 0 0 auto;

			& > a {
				height: 100%;

				& > img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				&::after {
					content: none;
				}
			}
		}

		&-title {
			--title-padding-inline: 0px;
		}
		&-title > a {
			background: none;
		}
		&-image + &-content > &-title {
			margin-block-start: 0;
		}

		&-content {
			flex: 1 1 auto;
			padding: var(--size-s) var(--size-m);
		}

		&-badge > span {
			position: absolute;
			overflow: hidden;
			width: 1px;
			height: 1px;
			clip: rect(1px, 1px, 1px, 1px);
		}
	}
}
