.cardblock {
	position: relative;

	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	border: 1px solid var(--t-heading-color);
	border-radius: var(--t-corner-radius);

	&-image {
		flex-shrink: 0;
	}

	&-image a {
		position: relative;

		display: block;
		overflow: hidden;

		&::after {
			content: '';

			z-index: 1;
			position: absolute;
			inset: auto 0 0;

			height: 2em;
			background: linear-gradient(transparent, 67%, #0003);
		}
	}

	&-image a:is(:hover, :focus) img, // Firefox…
	&:has(a:is(:hover, :focus)) &-image img {
		transform: scale(1.0625) rotate(1deg);
	}

	&-image img {
		width: 100%;

		background: var(--t-color-gray-med);

		transition: transform 250ms var(--easing-in-out);
	}

	&-content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: var(--size-m);

		--ctx-bg: var(--t-bg-neutral-color);
		background-color: var(--ctx-bg);
	}

	&-title {
		position: relative;
		z-index: 2;

		margin-block-start: -1.25em;
		margin-inline-start: -0.25em;

		& > a {
			padding-inline: 0.25em;

			border-start-start-radius: var(--t-corner-radius);
			border-start-end-radius: var(--t-corner-radius);
			background-color: var(--ctx-bg);
			-webkit-box-decoration-break: clone;
			box-decoration-break: clone;
		}
	}

	a[data-card-coverlink] {
		&::after {
			content: '';

			position: absolute;
			inset: 0;
		}
	}
}
