.cta {
	display: var(--cta-display, inline-flex);
	align-items: center;
	gap: var(--cta-gap, 0);
	padding: var(--cta-padding, var(--cta-padding-block, 0) var(--cta-padding-inline, var(--size-s)));

	font-size: var(--cta-font-size, 1em);
	line-height: var(--cta-line-height, var(--global-base-line-height));
	font-weight: var(--cta-font-weight, 400);
	text-decoration: var(--cta-decoration-style, none) var(--cta-decoration-color, currentColor) var(--cta-decoration-thickness, from-font);
	text-underline-offset: var(--cta-underline-offset, auto);

	color: var(--cta-text-color, currentColor);
	text-shadow: var(--cta-text-shadow, none);
	border-width: var(--cta-border-size, 1px);
	border-style: var(--cta-border-style, solid);
	border-color: var(--cta-border-color, var(--theme-cta-border-color));
	border-radius: var(--cta-border-radius, var(--theme-corner-radius));
	background-color: var(--cta-background-color, transparent);
	box-shadow: var(--cta-box-shadow, none);

	--currentColor: var(--cta-text-color, currentColor);
	--currentBackground: var(--cta-background-color, transparent);
}

[data-cta='underline'] {
	--cta-display: inline;
	--cta-padding: 0;
	--cta-decoration-style: underline;
	--cta-decoration-color: var(--theme-link-color-active);
	--cta-decoration-thickness: 0.25em;
	--cta-underline-offset: 0.325em;
	--cta-border-size: 0;
	--cta-background-color: transparent;

	&:is(:hover, :focus) {
		--cta-text-color: var(--theme-link-color);
		--cta-decoration-style: none;
	}
}

[data-cta='button'] {
	--cta-padding: var(--size-2xs);
	--cta-text-color: var(--theme-cta-text-color, currentColor);
	--cta-background-color: var(--theme-cta-bg);

	&:active {
		--cta-border-style: var(--theme-border-style-active);
	}
	&:is(:hover, :focus) {
		--cta-text-color: var(--theme-cta-text-color-active);
		--cta-background-color: var(--theme-cta-bg-active);
	}
}
