.cta {
	display: var(--cta-display, inline-flex);
	align-items: center;
	gap: var(--cta-gap, 0);
	padding-block: var(--cta-padding-block, 0);
	padding-inline: var(--cta-padding-inline, var(--size-s));

	font-size: var(--cta-font-size, 1em);
	line-height: var(--cta-line-height, var(--ckn-base-line-height));
	font-weight: var(--cta-font-weight, 700);
	text-decoration: var(--cta-underline, none);

	color: var(--cta-text-color, currentColor);
	text-shadow: var(--cta-text-shadow, none);
	border: var(--cta-border-size, #{$border-base-size}) solid var(--cta-border-color, currentColor);
	border-radius: var(--cta-border-radius, #{$border-base-radius});
	background-color: var(--cta-background-color, transparent);
	box-shadow: var(--cta-box-shadow, none);

	--currentColor: var(--cta-text-color, currentColor);
	--currentBackground: var(--cta-background-color, transparent);
}

[data-cta='underline'] {
	--cta-display: inline;
}
