.filtering {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	gap: 0.5em 0.5em;
	margin: 0;
	padding: 0;

	border: 0;

	&-item {
		display: inline;

		& input[type='radio']:focus-visible + label {
			outline: 4px dashed var(--t-color-gray-min);
		}

		& input[type='radio']:checked + label {
			text-decoration: underline;
			text-decoration-thickness: 0.125em;
			text-underline-offset: 0.25em;
		}
	}
}

[data-filtered-item] {
	&[aria-hidden='false'] {
		z-index: 10;
	}
	&[aria-hidden='true'] {
		position: absolute;
		z-index: 0;

		visibility: hidden;
		pointer-events: none;

		transform: translate(var(--xy, 0, 0)) scale(0);
	}

	@media (prefers-reduced-motion: no-preference) {
		will-change: transform;

		transition: var(--t, 250ms) var(--easing-in-out);
		transition-property: z-index, opacity, transform, visibility;
	}
}
[data-filtered-list] {
	@media (prefers-reduced-motion: no-preference) {
		--t: 500ms;
	}
}
[data-filtered-list='change'] {
	&,
	& [data-filtered-item] {
		transition-duration: 0s;
	}
}
