.filtering {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	gap: 0.5em 0.5em;
	margin: 0;
	padding: 0;

	border: 0;

	&-item {
		display: inline;

		& input[type='radio']:focus-visible + label {
			outline: 4px dashed var(--t-color-gray-min);
		}

		& input[type='radio']:checked + label {
			text-decoration: underline;
			text-decoration-thickness: 0.125em;
			text-underline-offset: 0.25em;
		}
	}
}

[data-filtered-item] {
	&[aria-hidden='true'] {
		@extend .visually-hidden; // Hide the element without using `display: none` to preserve animatability

		visibility: hidden;
		pointer-events: none;
	}

	@media (prefers-reduced-motion: no-preference) {
		transform-origin: 50% -25%;
		will-change: transform;

		transition: var(--t, 250ms) var(--easing-out);
		transition-property: filter, opacity, transform;

		[data-filtered-list='change'] & {
			filter: grayscale(1) blur(12px);
			opacity: 0;
			transform: scale(0.9);
		}
	}
}
