.filtering {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	gap: 0.5em 0.5em;
	margin: 0;
	padding: 0;

	border: 0;

	&-item {
		display: inline;

		& input[type='radio']:focus-visible + label {
			outline: 4px dashed var(--t-color-gray-min);
		}

		& input[type='radio']:checked + label {
			text-decoration: underline;
			text-decoration-thickness: 0.125em;
			text-underline-offset: 0.25em;
		}
	}
}

[data-filtered-item] {
	transition: var(--t, 300ms) var(--easing-in-out);
	transition-property: visibility, z-index;

	@media (prefers-reduced-motion: reduce) {
		&[aria-hidden='true'] {
			display: none;
		}
	}

	&[aria-hidden='false'] {
		z-index: 10;

		visibility: visible;
	}

	&[aria-hidden='true'] {
		position: absolute;
		z-index: 0;

		visibility: hidden;
		pointer-events: none;
	}
}
