.footer {
	--ctx-bg: var(--t-footer-bg-color);
	--ctx-color: var(--t-footer-text-color);

	z-index: #{layer-index('footer')};

	margin-block-start: auto;

	color: var(--ctx-color);
	background-color: var(--ctx-bg);
	outline: 2px solid var(--t-footer-border-color);

	&-decorator {
		display: none;
		height: 0;
		min-height: 100%; // Prevent the decorator from dictating the height of the footer

		&--start {
			grid-column-start: fullbleed-start;
			grid-column-end: container-start;
		}
		&--end {
			grid-column-start: container-end;
			grid-column-end: fullbleed-end;
		}
	}

	&-inner {
		z-index: #{layer-index('footer', 1)};

		display: grid;
		grid-gap: 1px;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: auto 1fr auto auto auto;
		grid-template-areas:
			'logo note'
			'logo hypr'
			'srch hypr'
			'edit hypr'
			'lang xtra';

		// @include above-medium {
		// 	grid-template-areas:
		// 		'logo note'
		// 		'logo hyper'
		// 		'edit hyper'
		// 		'lang xtra';
		// }

		--ctx-bg: var(--t-footer-bg-color);
		background-color: var(--ctx-bg);

		@include above-large {
			grid-template-columns: minmax(6rem, 12rem) repeat(3, minmax(0, 1fr));
			grid-template-rows: 1fr 1fr auto auto;
			grid-template-areas:
				'logo xtra lang hypr'
				'logo xtra lang hypr'
				'srch xtra lang hypr'
				'edit note note note';
		}

		& > * {
			padding: var(--size-s) var(--size-m);
			outline: 1px solid var(--t-footer-border-color);
		}
	}

	&-logo {
		grid-area: logo;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--size-l);

		background-color: var(--t-footer-border-color);

		& > svg {
			width: 50%;
			width: clamp(3rem, 50%, 8rem);
			height: auto;

			fill: var(--ctx-bg);
		}
	}

	&-edit {
		grid-area: edit;

		text-align: center;
	}

	&-search {
		grid-area: srch;

		text-align: center;
	}

	&-note {
		grid-area: note;
	}
	&-nav[data-footer-nav='extras'] {
		grid-area: xtra;
	}
	&-nav[data-footer-nav='lang'] {
		grid-area: lang;
	}
	&-nav[data-footer-nav='external'] {
		grid-area: hypr;
	}
	&-nav li {
		// Little bit of spacing for accessibility
		margin-block-start: 0.5em;
	}
}
