// With a little help from: https://piccalil.li/tutorial/solution-002-toggle-switch/
.toggleswitch {
	$thumb-size: 0.875em;
	$thumb-space: 0.1875em;

	--toggle-duration: 150ms;

	display: flex;
	gap: 0.5em;
	align-items: center;
	min-inline-size: min-content;
	margin-inline: 0;
	padding-block: 0;
	padding-inline: 0;

	border: none;

	&-value[data-value='true'] {
		order: 1;
	}

	&-value,
	&-back {
		cursor: pointer;
	}

	&-toggle {
		position: relative;

		display: flex;
		align-items: center;
		margin: 0;

		user-select: none;
		cursor: pointer;
	}

	&-checkbox {
		position: absolute;
		inset: 0;

		display: block;
		margin: 0;
		width: 100%;
		height: 100%;

		opacity: 0;
	}

	&-back {
		position: relative;

		display: block;
		width: #{$thumb-size * 2 + $thumb-space * 2};
		height: #{$thumb-size + $thumb-space * 2};
		overflow: hidden;

		background-color: var(--t-text-color);
		border-radius: calc(var(--t-corner-radius) + #{$thumb-space});
	}

	&-thumb {
		position: absolute;
		inset: 0;
		z-index: 1;

		margin: auto;
		width: #{$thumb-size};
		height: #{$thumb-size};

		color: var(--t-accent-color);
		border-radius: var(--t-corner-radius);
		background-color: var(--t-bg-color);

		transform: translateX(var(--toggle-thumb-offset, -50%));
		transition: transform var(--toggle-duration) cubic-bezier(0.67, -0.5, 0.25, 1.5);

		&::before {
			content: 'â†';

			position: absolute;
			inset: 0;

			display: flex;
			align-items: center;
			justify-content: center;

			font-family: system-ui, sans-serif;
			text-align: center;
			font-size: 0.5em;
			line-height: 1;

			transition: inherit;
		}
	}

	&-checkbox[aria-checked='true'] + &-back > &-thumb::before {
		transform: scaleX(-1);
	}

	&:has(&-toggle > &-checkbox[aria-checked='false']) &-value[data-value='false'],
	&:has(&-toggle > &-checkbox[aria-checked='true']) &-value[data-value='true'] {
		text-decoration: underline;
	}
	&:has(&-toggle > &-checkbox[aria-checked='false']) &-value[data-value='true'],
	&:has(&-toggle > &-checkbox[aria-checked='true']) &-value[data-value='false'] {
		opacity: 0.8;
	}

	:checked + &-back > &-thumb {
		--toggle-thumb-offset: 50%;
	}

	:focus-visible + &-back > &-thumb {
		outline: 2px solid currentColor;
		outline-offset: -4px;
	}
}

.inline-form {
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-s);
	justify-content: center;
	align-items: center;

	& > input {
		flex: 1 1 auto;
		min-width: 12ch;
	}
}

:is(form, [data-formlike]) :is(input, select, textarea) {
	padding: var(--size-2xs) var(--size-s);

	border: 1px solid currentColor;
	border-radius: var(--t-corner-radius);

	&:disabled {
		cursor: not-allowed;
	}
}
