.header {
	&-inner {
		--header-gap: clamp(var(--size-m), ((100vw - 24rem) * 9999), var(--size-l));

		display: flex;
		gap: var(--header-gap);
		align-items: center;
		padding-block: var(--size-m);
	}

	&-logo {
		margin-inline-end: auto;

		color: var(--theme-color-primary-med);
		font-size: 2rem;
		text-decoration: none;

		& > svg {
			height: 1em;
			width: auto;
			overflow: visible;

			& path {
				fill: currentColor;

				transition: inherit;
				transition-property: fill, fill-opacity, stroke-opacity;
			}
		}

		&:is(:hover, :focus) > svg path {
			fill: var(--theme-color-primary-min);
		}
	}
}

.menu {
	display: flex;
	gap: var(--header-gap);
	align-items: baseline;

	&-item {
	}

	&-link {
		font-weight: 700;
		text-decoration: underline;
		color: var(--theme-text-color);
		white-space: nowrap;

		&:is(:hover, :focus) {
			text-decoration: none;
			color: var(--theme-cta-text-color);
		}
	}
}
