.image-gallery {
	display: grid;
	gap: var(--size-m);
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
	justify-items: center;
	align-items: stretch;

	& :is(img, video) {
		width: 100%;
		object-fit: cover;
	}

	& :is(picture, a:not(figcaption > a)) {
		display: flex;
		flex-direction: column;

		& > :is(img, video) {
			flex-grow: 1;
		}
	}

	& > figure {
		display: flex;
		flex-direction: column;

		& > :is(picture, img, a) {
			flex-grow: 1;
		}

		& > figcaption {
			padding-block: var(--size-xs);
			padding-inline: var(--size-s);

			font-size: 0.75em;
			text-align: center;
			background-color: var(--t-bg-neutral-color);
		}
	}

	& > :is(figure, picture, a, img, video) {
		width: 100%;
		max-width: #{get-token('constants', 'content-width') * 0.8};
		overflow: hidden;

		border: var(--cardblock-border);
		border-radius: var(--t-corner-radius);
		box-shadow: 0 0 1em -0.375em var(--t-accent-color);
	}
}
