.inline-list {
	display: inline-block;
	line-height: var(--lh, calc(var(--C-base-line-height) * 1em + 0.5rem));

	& > li {
		display: inline;
	}

	& > li:not(:last-child) {
		&::after {
			content: ' ';

			letter-spacing: 0.75em;
			letter-spacing: max(0.5rem, 0.75em); // Ensure there is at least 8px between items
			background: var(--separator, linear-gradient(90deg, transparent calc(50% - 1px), currentColor 0, currentColor calc(50% + 1px), transparent 0));
			opacity: 0.75;
		}
	}
}

[data-list='long'] {
	& > li:not(:first-child) {
		margin-top: 0.5em; // Just to let each list item breathe a little
	}
}
