/* PrismJS 1.17.1 */
/**
* xonokai theme for JavaScript, CSS and HTML
* based on: https://github.com/MoOx/sass-prism-theme-base by Maxime Thirouin ~ MoOx --> http://moox.fr/ , which is Loosely based on Monokai textmate theme by http://www.monokai.nl/
* license: MIT; http://moox.mit-license.org/
*/
kbd,
code,
pre {
	tab-size: 4;
	-webkit-hyphens: none;
	hyphens: none;
	white-space: pre;
	word-wrap: normal;
	font-family: var(--fontstack-monospace);
	font-size: clamp(1rem, 0.75em, 3rem);
	color: var(--t-color-aux-med);
	text-shadow: none;
}

kbd,
code,
pre:where(.codeblock),
mark {
	--ctx-bg: var(--t-color-gray-max);
	background-color: var(--ctx-bg);
}

mark {
	color: var(--t-color-aux-med);
}

:not(pre) > code {
	padding: 0.0625em 0.125em;

	white-space: pre-wrap;
	word-break: break-word;
}

pre > code {
	display: block;
	overflow: auto; // Let users scroll in case of a long string

	max-height: 80vh;
	padding: var(--C-content-gutter);
	padding-inline-start: calc(var(--C-content-gutter) - var(--codeblock-border));

	border-inline-start: var(--codeblock-border) solid var(--t-color-aux-med, currentColor);
}

.codeblock-wrap {
	--codeblock-border: 2px;
	--codeblock-lang: 1.5rem;

	font-size: clamp(1rem, 0.75em, 3rem);
}

.codeblock-toolbar {
	position: relative;
	z-index: 1;

	display: flex;
	gap: 1em;

	align-items: center;
	padding: 0.25em 0.25em 0.25em var(--C-content-gutter);

	color: var(--ctx-bg);
	background: var(--t-color-aux-med);
}

.codeblock-toolbar-label {
	font-family: var(--fontstack-monospace);
	font-size: 0.875em;
	letter-spacing: 0.0625em;
}

/* Copy to clipboard */
.codeblock-copy {
	margin-inline-start: auto; // Push to the inline-end of the toolbar

	white-space: normal;

	html.no-js &,
	&.is-copied &__idle,
	&:not(.is-copied) &__copied {
		display: none;
	}
}

pre {
	position: relative;
	margin: 0;
}

pre.codeblock {
	&,
	& + * {
		// Provide more space around this element
		--flow-margin: var(--size-2xl);
	}

	&::after {
		content: '';

		position: absolute;
		inset: 0 auto var(--size-m) var(--codeblock-border);
		z-index: 1;

		width: var(--C-content-gutter);

		background: linear-gradient(90deg, var(--ctx-bg), transparent 80%);

		pointer-events: none;
	}
}

:not(pre) > code[class*='language-'] {
	padding: 0.15em 0.2em 0.05em;
	border-radius: 0.3em;
	border: 2px solid var(--t-color-main-med);
}

.token.namespace {
	opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--token-gray-med, var(--t-color-gray-med));
}
.token.operator,
.token.boolean,
.token.number,
.token.atrule,
.token.attr-value,
.token.keyword,
.token.important,
.token.deleted,
code.language-markup .token.tag {
	color: var(--token-main-med, var(--t-color-main-med));
}
.token.attr-name,
.token.string,
.token.entity,
.token.url,
.token.property,
.language-css .token.string,
.style .token.string,
code.language-markup .token.attr-value {
	color: var(--t-color-main-min);
}
.token.selector,
.token.inserted {
	color: var(--t-color-aux-min);
}
.token.regex,
.token.statement,
code.language-markup .token.attr-name,
code.language-markup .token.style,
code.language-markup .token.script,
code.language-markup .token.script .token.keyword {
	color: var(--t-color-aux-med);
}
.token.placeholder,
.token.variable,
.token.punctuation,
code.language-markup {
	color: var(--t-color-gray-min);
}
.token.important,
.token.statement,
.token.bold {
	font-weight: bold;
}
.token.entity {
	cursor: help;
}
.token.italic {
	font-style: italic;
}

/* Line highlight plugin */
pre[class*='language-'][data-line] {
	position: relative;
	padding: 1em 0 1em 3em;
}
pre[data-line] .line-highlight {
	position: absolute;
	inset-inline: 0;
	padding: 0;
	margin-block-start: 1em;
	background: rgba(255, 255, 255, 0.08);
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}
pre[data-line] .line-highlight:before,
pre[data-line] .line-highlight[data-end]:after {
	content: attr(data-start);
	position: absolute;
	inset-block-start: 0.4em;
	inset-inline-start: 0.6em;
	min-width: 1em;
	padding: 0.2em 0.5em;
	background-color: rgba(255, 255, 255, 0.4);
	color: black;
	font: bold 65%/1 sans-serif;
	height: 1em;
	line-height: 1em;
	text-align: center;
	border-radius: 999px;
	text-shadow: none;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
pre[data-line] .line-highlight[data-end]:after {
	content: attr(data-end);
	inset-block-start: auto;
	inset-block-end: 0.4em;
}
