:root {
	--themepicker-height: 9rem;

	transition: transform 300ms ease-in-out;

	&[data-themepicker='open'] {
		transform: translateY(var(--themepicker-height));
	}
}

.themepicker {
	.no-js &,
	.no-js &-toggler {
		display: none;
	}

	--picker-gap: var(--site-content-gutter);
	--picker-button-border-size: 2px;
	--picker-text: var(--theme-color-gray-min);
	--picker-bg: var(--theme-color-gray-max);

	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--picker-gap);
	overflow: hidden;
	height: var(--themepicker-height);
	padding: var(--picker-gap);

	color: var(--picker-text);
	background-color: var(--picker-bg);
	box-shadow: 0 -2px 0 var(--picker-text) inset;

	&-icon {
		fill: currentColor;
	}

	&-title {
		padding-inline: calc(2 * var(--picker-gap));

		text-align: center;
		line-height: 1;
	}

	&-list {
		display: flex;
		gap: var(--picker-gap);
		max-width: 100%;
		overflow-x: auto;
		padding: var(--picker-gap) var(--picker-button-border-size);
	}

	&-item {
		flex: 0 0 auto;
		display: flex;
		width: clamp(7rem, 33vw, 10rem);

		&:first-child {
			margin-inline-start: auto;
		}
		&:last-child {
			margin-inline-end: auto;
		}
	}

	&-button {
		position: relative;

		display: flex;
		gap: var(--size-xs);
		justify-content: center;
		width: 100%;
		padding: var(--size-xs) var(--size-xs);

		color: var(--themepicker-a);
		border-width: var(--picker-button-border-size);
		border-style: solid;
		border-color: var(--picker-button-border-color, transparent);
		background-color: var(--themepicker-bg);
		box-shadow: 0 0 0 1px var(--picker-text);

		&:is(:hover, :focus) {
			--picker-button-border-color: var(--themepicker-b);
		}

		&[aria-checked='true'] {
			&::before {
				content: '';

				position: absolute;
				top: calc(var(--picker-button-border-size) * -1);
				left: 0;
				right: 0;

				width: 0;
				height: 0;
				margin: 0 auto;

				border-width: 0.5em 0.325em 0 0.325em;
				border-style: solid;
				border-color: var(--themepicker-b) transparent transparent;
			}
		}
	}

	&-palette {
		flex: 0 0 auto;
		width: 1.5em;

		& > :nth-child(1) {
			fill: var(--themepicker-a);
		}
		& > :nth-child(2) {
			fill: var(--themepicker-b);
		}
		& > :nth-child(3) {
			fill: var(--themepicker-c);
		}
	}

	&-close {
		--close-color: currentColor;
		--close-border: transparent;
		--close-bg: var(--theme-color-secondary-max);

		position: absolute;
		top: var(--picker-gap);
		right: var(--picker-gap);

		padding: var(--size-2xs);

		border-width: 2px;

		& > svg {
			width: calc(2 * var(--picker-gap));
			height: calc(2 * var(--picker-gap));
		}
	}
}
