.themepicker {
	.no-js &,
	.no-js &-toggler {
		display: none;
	}

	--themepicker-height: 9rem;
	--themepicker-transition: var(--C-base-duration);
	--picker-gap: calc(var(--C-content-gutter) / 2);
	--picker-button-border-size: 2px;
	--picker-text: var(--t-color-gray-min);
	--picker-bg: var(--t-color-gray-max);
	--picker-close-size: var(--size-m);
	--picker-close-padding: var(--size-s);

	position: relative; // Place it below the header as expected
	inset-block-start: 0;
	inset-inline: 0;
	z-index: #{layer-index('themepicker')};

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--picker-gap);
	height: var(--themepicker-height);
	margin-block-end: calc(var(--themepicker-height) * -1); // Cancel the entire height
	padding: var(--picker-gap) 0;
	overflow: hidden;

	color: var(--picker-text);
	background-color: var(--picker-bg);
	box-shadow: 0 2px 0 var(--picker-text) inset, 0 -2px 0 var(--picker-text) inset;

	// Animate-in the section and the buttons
	&,
	&-list {
		transform: translateY(-100%);
		transition: transform var(--themepicker-transition) var(--easing-in-out) calc(var(--themepicker-transition) * 0.2 * var(--picker-delay, 0));
	}

	[data-themepicker='open'] &,
	[data-themepicker='open'] &-list {
		transform: translateY(0%);
	}
	[data-themepicker='open'] &-list {
		--picker-delay: 1; // Slight transition when opening only
	}

	&-toggle {
		flex-shrink: 0;
	}

	&-icon {
		width: 1.5em;
		fill: currentColor;
	}

	&-title {
		padding-inline: calc(var(--picker-close-padding) * 2 + var(--picker-close-size) + var(--picker-gap));

		text-align: center;
		line-height: 1.1;

		& kbd {
			all: inherit;
			text-decoration: underline;
			text-decoration-skip-ink: none;
			text-decoration-thickness: 2px;
			text-decoration-style: dotted;
		}
	}

	&-list {
		display: flex;
		gap: var(--picker-gap);
		max-width: 100%;
		overflow-x: auto;
		padding: var(--picker-gap);
	}

	&-item {
		flex: 0 0 auto;
		display: flex;
		min-width: clamp(7rem, 33vw, 10rem);

		&:first-child {
			margin-inline-start: auto;
		}
		&:last-child {
			margin-inline-end: auto;
		}
	}

	&-button {
		position: relative;

		display: flex;
		gap: var(--size-xs);
		justify-content: center;
		width: 100%;
		padding: var(--size-xs) var(--size-xs);

		color: var(--themepicker-a);
		border-width: var(--picker-button-border-size);
		border-style: solid;
		border-color: var(--picker-button-border-color, transparent);
		background-color: var(--themepicker-bg);
		box-shadow: 0 0 0 1px var(--picker-text);

		transition: none !important; // Exceptions might overwrite this so we apply important, yuck I know!

		&:is(:hover, :focus) {
			--picker-button-border-color: var(--themepicker-b);
		}

		// "Swatch" disc next to theme label
		&::before {
			content: '';

			flex: 0 0 auto;
			display: inline-block;
			width: 1.5em;
			aspect-ratio: 1;

			border-radius: 50%;
			background: conic-gradient(from -60deg, var(--themepicker-a) 120deg, var(--themepicker-b) 120deg 240deg, var(--themepicker-c) 240deg);
		}

		&[aria-pressed='true'] {
			&::after {
				content: '';

				position: absolute;
				inset-block-start: calc(var(--picker-button-border-size) * -1);
				inset-inline: 0;

				width: 0;
				height: 0;
				margin: 0 auto;

				border-width: 0.5em 0.5em 0;
				border-style: solid;
				border-color: var(--themepicker-b) transparent transparent;
			}
		}
	}

	&-close {
		--close-color: currentColor;
		--close-border: transparent;
		--close-bg: var(--t-color-aux-max);

		position: absolute;
		inset-block-start: var(--picker-close-padding);
		inset-inline-end: var(--picker-close-padding);

		padding: var(--size-2xs);

		& > svg {
			width: var(--picker-close-size);
			height: var(--picker-close-size);
		}
	}
}
