.toc {
	--flow-space: 0; // Overwrite .flow margin

	z-index: #{layer-index('main', 1)};

	padding-block: var(--size-xl);
}

.toc--pinned {
	position: sticky;
	inset-block-start: 0;

	box-shadow: 0 1px 0 var(--t-accent-color-alt, var(--t-accent-color)); // Little visual separator
	background: var(--t-bg-color);

	@supports (color: color-mix(in hsl, red 1%, var(--c))) {
		background: color-mix(in hsl, var(--t-bg-color), transparent 25%);
		backdrop-filter: blur(8px);
	}
}

.toc:not(.toc--pinned) [data-toc-toggle-label='off'],
.toc.toc--pinned [data-toc-toggle-label='on'],
html.no-js .toc-pin-toggle {
	display: none;
}

.toc-title::marker {
	font-size: 1.125em;
}

.toc-wrap {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	gap: var(--size-m);
}

.toc-pin-toggle {
	flex: 0 0 auto;
}

.toc-inner {
	flex: 1 1 auto;
}
