.toc {
	z-index: #{layer-index('main', 1)};

	--flow-space: 0; // Overwrite .flow margin
	padding-block: var(--size-xl);
}

.toc--pinned {
	position: sticky;
	inset-block-start: 0;

	box-shadow: 0 1px 0 var(--t-accent-color-alt, var(--t-accent-color)); // Little visual separator
}

.toc:not(.toc--pinned) [data-toc-toggle-label='off'],
.toc.toc--pinned [data-toc-toggle-label='on'],
html.no-js .toc-pin-toggle {
	display: none;
}

.toc-wrap {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	gap: var(--size-m);
}

.toc-pin-toggle {
	flex: 0 0 auto;
}

.toc-inner {
	flex: 1 1 auto;
}
