.toc {
	z-index: #{layer-index('main', 1)};

	margin-block-start: 2px !important; // Overwrite .flow margin; 2px is the size of a bigboi border if present on some themes
	padding-block: var(--size-xl);
}

.toc--pinned {
	position: sticky;
	inset-block-start: 0;
}

.toc:not(.toc--pinned) [data-toc-toggle-label='off'],
.toc.toc--pinned [data-toc-toggle-label='on'],
html.no-js .toc-pin-toggle {
	display: none;
}

.toc-wrap {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	gap: var(--size-m);
}

.toc-pin-toggle {
	flex: 0 0 auto;
}

.toc-inner {
	flex: 1 1 auto;
}
