.skip-link:focus {
	position: fixed;
	top: 1rem;
	left: 1rem;
	z-index: 99;

	display: inline-block;
	padding: var(--size-xs);

	color: var(--c-grey-min);
	background: var(--c-secondary-max);
}

.skip-link:not(:focus),
.visually-hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}
