.skip-link:focus {
	position: fixed;
	inset-block-start: 1rem;
	inset-inline-start: 1rem;
	z-index: 99;

	display: inline-block;
	padding: var(--size-xs);

	color: var(--t-color-gray-min);
	background-color: var(--t-color-secondary-max);

	&[data-skiplink='local'] {
		position: absolute;
	}
}

.skip-link:not(:focus),
.visually-hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}
