@each $name, $set in get-token('_expectedColors') {
	@each $weight in $set {
		$value: 'var(--theme-color-#{$name}-#{$weight})';
		.u-color-#{$name}-#{$weight} {
			color: #{$value};
			--ctx-color: #{$value};
		}
		.u-background-#{$name}-#{$weight} {
			background-color: #{$value};
			--ctx-bg: #{$value};
		}
	}
}

.u-color-accent-color {
	--ctx-color: var(--theme-accent-color);
	color: var(--ctx-color);
}

.u-background-alt-color {
	--ctx-bg: var(--theme-bg-alt-color);
	background-color: var(--ctx-bg);
}

.u-background-extend {
	// h/t SelenIT2: https://twitter.com/SelenIT2/status/1534496667944239107
	border-image: conic-gradient(var(--ctx-bg) 0 0) fill 1/0/0 50vmax;
}
