@each $name, $set in get-token('_expectedColors') {
	@each $weight in $set {
		$value: 'var(--t-color-#{$name}-#{$weight})';
		.u-color-#{'' + $name}-#{$weight} {
			--ctx-color: #{$value};
		}
		.u-background-#{'' + $name}-#{$weight} {
			--ctx-bg: #{$value};
		}
	}
}

$extra-text-colors: ('heading-color', 'text-color', 'text-alt-color', 'accent-color', 'accent-color-alt');
$extra-bg-colors: ('bg-color', 'bg-alt-color');

@each $x-color in $extra-text-colors {
	.u-color-#{$x-color} {
		--ctx-color: var(--t-#{$x-color});
	}
}

@each $x-background in $extra-bg-colors {
	.u-background-#{$x-background} {
		--ctx-bg: var(--t-#{$x-background});
	}
}

[class*='u-color'] {
	color: var(--ctx-color);
}
[class*='u-background'] {
	background-color: var(--ctx-bg);
}
