.inline-icon {
	fill: currentColor;
}

@each $name, $set in get-token('_expectedColors') {
	@each $weight in $set {
		$value: 'var(--theme-color-#{$name}-#{$weight})';
		.u-color-#{$name}-#{$weight} {
			color: #{$value};
			--ctx-color: #{$value};
		}
		.u-background-#{$name}-#{$weight} {
			background-color: #{$value};
			--ctx-bg: #{$value};
		}
	}
}

.u-color-accent-color {
	--ctx-color: var(--theme-accent-color);
	color: var(--ctx-color);
}

.u-background-alt-color {
	--ctx-bg: var(--theme-bg-alt-color);
	background-color: var(--ctx-bg);
}

.u-background-extend {
	// h/t Temani Afif
	clip-path: inset(0 -100%);

	box-shadow: 0 0 0 100vmax var(--ctx-bg);
}
