.flow {
	& > * {
		margin-block-end: 0;
	}

	& > * + * {
		margin-block-start: var(--flow-space, var(--size-xl));
	}

	// Make sure headings stick close to associated content
	& > :where(p) + :where(ul, ol),
	& > :where(h2, h3) + *,
	& > :where(h2 + h3) {
		--flow-space: var(--size-2xs);
	}
}
