.spaced-items {
	display: flex;
	gap: var(--spaced-items-gap, 0.75em);
	justify-content: var(--spaced-items-justify, initial);
}

.inlined-items {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.list-naked {
	list-style: none;
}

.u-display-flex {
	display: flex;
}
.u-display-block {
	display: block;
}

.u-corner {
	border-radius: var(--t-corner-radius);
}

.u-width100 {
	width: 100%;
}
