.u-fontSize-small {
	font-size: 0.875rem;
}
.u-fontSize-smaller {
	font-size: 0.875em;
}
.u-fontSize-normal {
	font-size: 1em;
}
.u-fontSize-bigger {
	font-size: 1.25em;
}
.u-fontSize-big {
	font-size: 1.25rem;
}
