// Absolute sizes
.u-fontSize-s {
	font-size: var(--size-s);
}
.u-fontSize-m {
	font-size: var(--size-m);
}
.u-fontSize-l {
	font-size: var(--size-l);
}

// Relative sizes
.u-fontSize-smallest {
	font-size: 0.75em;
}
.u-fontSize-smaller {
	font-size: 0.875em;
}
.u-fontSize-normal {
	font-size: 1em;
}
.u-fontSize-larger {
	font-size: 1.25em;
}

// Font styling
.u-fontWeight-normal {
	font-weight: 400;
}
.u-fontWeight-bold {
	font-weight: 700;
}
.u-fontStyle-normal {
	font-style: normal;
}
.u-fontStyle-italic {
	font-style: italic;
}

// Text alignment
.u-textAlign-left {
	text-align: left;
}
.u-textAlign-center {
	text-align: center;
}
.u-textAlign-right {
	text-align: right;
}
