---
layout: layouts/base.njk
section: 404
---

<button type="button" class="button-reset cdiv-clock-wrap" data-chime>
    {%- setAsync "clock_404" -%}
    {%- renderFile "clock-404" | svgUrl -%}
    {%- endsetAsync -%}
    {{ clock_404 | htmlmin | safe }}
</button>

{{ layoutContent | safe }}

<p class="u-textAlign-center">
    <a href="{{ localePath | url }}" class="button">
        {% renderFile "arrow-back-double" | svgUrl, { svgClass: "inline-icon" } %}
        {{ 'nav.home' | i18n }}
    </a>
</p>

<audio id="cdiv-sfx" src="{{ '/' + assets.audio + '/bttf-chime.mp3' | url }}"></audio>

<script>
{%- set chimeScript -%}
    document.querySelector('[data-chime]').addEventListener('click', function() {
        var audio = document.getElementById('cdiv-sfx');
        if (!audio.playing) {
            audio.play();
        }
    });
{%- endset -%}
{{- chimeScript | jsmin | safe -}}
</script>