---
section: 404
---

{% extends "layouts/base.njk" %}

{% block layoutContent %}
    <button type="button" class="button-reset cdiv-clock-wrap" data-chime>
        {%- setAsync "clock_404" -%}
        {%- svg "clock-404", { ariaLabel: clock404Label } -%}
        {%- endsetAsync -%}
        {{ clock_404 | htmlmin | safe }}
    </button>

    {{ layoutContent | safe }}

    <p class="u-textAlign-center">
        {% component "cta", {
			url: localePath | url,
			label: 'nav.home' | i18n,
			icon: 'arrow-back-double',
            iconBefore: true,
            ctaAttr: 'data-backlink data-shape="flipped"'
		} %}
    </p>

    <audio id="cdiv-sfx" src="{{ '/' + assets.audio + '/bttf-chime.mp3' | url }}"></audio>

    <script>
    {%- set chimeScript -%}
        document.querySelector('[data-chime]').addEventListener('click', function() {
            var audio = document.getElementById('cdiv-sfx');
            if (!audio.playing) {
                audio.play();
            }
        });
    {%- endset -%}
    {{- chimeScript | jsmin | safe -}}
    </script>
{% endblock %}