---
layout: layouts/page.njk
section: about
templateEngineOverride: njk, md
---

{{ layoutContent | autoHeadingAnchors | safe }}

{% svg "dvd-logo", { isNjk: false } %}
<style>
{% include "assets/css/screensaver.css" %}
</style>
<script>
{% include "assets/js/webcomponents/toggling-expander.js" %}
{% include "assets/js/about-synth.js" %}
{% include "assets/js/screensaver.js" %}
</script>