---
layout: layouts/base.njk
section: about
---

<header class="bigboi | content-breakout">
	<div class="bigboi-inner | container | flow" style="--flow-space: var(--size-m)">
		<h1>{{ pageTitle }}</h1>
		
		<p class="u-fontWeight-bold">{{ subtitle }}</p>
    </div>
</header>

<div class="flow fluid">
	{{ layoutContent | safe }}
</div>