---
layout: layouts/page.njk
section: about
templateEngineOverride: njk, md
---

{{ layoutContent | safe }}

<style>
    {%- set screensaverCss %}{% include "assets/css/screensaver.css" %}{% endset -%}
    {{- screensaverCss | cssmin | safe -}}
</style>
<script>
{% set aboutFactsScript %}
    {% include "assets/js/about-facts.js" %}
{% endset %}
{% set synthScript %}
    {% include "assets/js/about-synth.js" %}
{% endset %}
{% set screensaverJs %}
    {% include "assets/js/screensaver.js" %}
{% endset %}
{{ aboutFactsScript | jsmin('aboutFacts') | safe }}
{{ synthScript | jsmin('aboutSynth') | safe }}
{{ screensaverJs | jsmin('screensaver') | safe }}
</script>