<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="{{ lang }}" class="no-js">

{% include "components/head.njk" %}

<body>
	<a class="skip-link" href="#content" data-skiplink>{{ 'skiplink' | i18n }}</a>

	{% include "components/header.njk" %}
	
	<main class="main | container flow fluid" id="content" tabindex="-1">
		{{ layoutContent | safe }}
	</main>

	{% include "components/footer.njk" %}
	{% include "components/themepicker-menu.njk" %}
	{% include "components/foot.njk" %}
</body>

</html>