---
layout: layouts/base.njk
section: blog
---

{% set postslist = collections["posts_" + lang] %}

<header class="bigboi | content-breakout">
	<div class="bigboi-inner | container" style="--flow-space: var(--size-m)">
		<div class="spaced-items inlined-items" style="--spaced-items-justify:space-between">
			<h1>{{ title }}</h1>

			<a href="{{ '/rss.xml' | locale_url }}" class="button">
				{% renderFile "rss" | svgUrl %}
				<span>{{ 'rss.feed' | i18n }}</span>
			</a>
		</div>
		
		<p class="u-fontWeight-bold">{{ 'blog.intro' | i18n }}</p>
    </div>
</header>

{{ layoutContent | safe }}

{% include "components/postslist.njk" %}
