---
section: blog
---

{% extends "layouts/base.njk" %}

{% block layoutContent %}
	{% set postslist = collections._posts | filterToLocale %}

	<header class="bigboi | content-fullbleed container">
		<div class="bigboi-inner | content | flow" style="--flow-space: var(--size-m)">
			<div class="spaced-items inlined-items" style="--spaced-items-justify:space-between">
				<div class="bigboi-inner-content">
					<h1>{{ title }}</h1>
					<p class="u-fontWeight-bold">{{ subtitle }}</p>
				</div>
				
				{% component "cta", {
					url: '/rss.xml' | locale_url,
					label: 'rss.feed' | i18n,
					icon: 'rss'
				} %}
			</div>
		</div>
	</header>

	{% if postslist | length %}
		{{ layoutContent | safe }}
	{% else %}
		<p class="h1 u-textAlign-center">🤷</p>
	{% endif %}

	{% include "components/postslist.njk" %}
{% endblock %}