---
tags: [fonts]
---

{% extends "components/head.njk" %}

{% set isMiniSite = true %}

{# Initialise variable outside loop scope #}
{%- set fontSpecimenStyles = '' -%}

{%- for fontSpecimenName, fontSpecimensFaces in fontSpecimen -%}
	{# Preload the "default" font #}
	{%- set fontPreload -%}<link rel="preload" href="{{ './' + fontSpecimensFaces[0].file | url }}" as="font" type="font/woff2" crossorigin>{% endset %}
	
	{%- set fontSpecimenStyles -%}
		{%- for fontSpecimenFace in fontSpecimensFaces -%}
		@font-face {
			font-family: '{{ fontSpecimenName }}';
			src: url('{{ './' + fontSpecimenFace.file | url }}') format('woff2');
			font-weight: {{ fontSpecimenFace.weight or 400 }};
			font-style: {{ fontSpecimenFace.style or 'normal' }};
			font-display: swap;
		}
		{%- endfor -%}
		.specimen { font-family: '{{ fontSpecimenName }}', {{ (fontSpecimenFallback | safe) or 'sans-serif' }}; }
	{%- endset -%}
{%- endfor -%}

{% block headStart %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	{{ fontPreload }}
{% endblock %}
{# include "components/head.njk" #}
{% block headEnd %}
	<script>document.documentElement.classList.remove('no-js')</script>
	<style>
	{%- if fontSpecimenStyles -%}
		{{- fontSpecimenStyles | cssmin | safe -}}
	{%- endif -%}

	{%- if styleOverrides -%}
		{# Add page-specific styles inline #}
		{%- set pageStyleGroup = "" -%}

		{%- for styleOverride in styleOverrides -%}
			{%- set pagestylelink %}{{ assets.fontSpecimenStyles }}/{{ styleOverride | trim(' ') }}.css{% endset -%}
			{%- set pagestyle %}{% include pagestylelink %}{% endset -%}
			{%- set pageStyleGroup = pageStyleGroup + pagestyle -%}
		{%- endfor -%}

		{{- pageStyleGroup | cssmin | safe -}}
	{%- endif -%}
	</style>
</head>

<body>
	<header class="header">
		<p class="text-center"><a href="{{ '/fonts/' | url }}">A font by Christopher Kirk-Nielsen</a></p>
	</header>

	<main class="content flow" id="content">
		{{ layoutContent | safe }}
	</main>

	<footer class="footer">
		Font built with {{ fontLove or 'love' }}
		by <a href="{{ metadata.url | url }}">Christopher Kirk-Nielsen</a>
		|
		<a href="{{ '/fonts/' | url }}">Font Directory</a>
	</footer>

	<script>
	{% set fontSpecimenScripts %}
		var fontPreviewerForm = document.getElementById('font-previewer');
		var fontPreviewInput = document.getElementById('preview-input');
		var fontPreviewOutput = document.getElementById('preview-output');
		var fontPreviewSvg = document.getElementById('preview-svg');
		var fontPreviewSave = document.getElementById('save-preview');
		var fontNameSlug = '{{ title | stripHyphenChars | slug }}';

		function updateFontPreviewText() { 
			fontPreviewOutput.textContent = fontPreviewInput.value.trim() || '{{ fontSpecimenSampleDefault | safe }}';
		}

		function updateFontPreviewOptions (e) {
			var previewOptions = e.target.closest('[data-preview-option]') || false;
			if (!previewOptions) { previewOptions = [].slice.call(document.querySelectorAll('[data-preview-option]')); }
			else { previewOptions = [previewOptions]; }

			previewOptions.forEach(function (previewOption) {
				var classToToggle = previewOption.getAttribute('name');
				var isToggleAdd = previewOption.checked;

				if (isToggleAdd) { fontPreviewOutput.classList.add('specimen-'+classToToggle); }
				else { fontPreviewOutput.classList.remove('specimen-'+classToToggle); }
			});
		}

		document.getElementById('preview-update').addEventListener('click', function (e) {
			updateFontPreviewText();
			updateFontPreviewOptions(e);
		});
		document.addEventListener('click', function (e) {
			var ligCode = e.target.closest('.ligature-sample-code');
			if (!ligCode) { return; }
			var ligText = ligCode.parentElement.querySelector('input');
			ligText.select();
			document.execCommand('copy');
			ligCode.classList.add('copied');
			setTimeout(function() { ligCode.classList.remove('copied'); }, 300);
		});
		fontPreviewerForm.addEventListener('keyup', updateFontPreviewText);
		fontPreviewerForm.addEventListener('change', updateFontPreviewOptions);
		fontPreviewerForm.addEventListener('submit', function (e) {
			updateFontPreviewText();
			e.preventDefault();
			return false;
		});
	{% endset %}
	{{ fontSpecimenScripts | jsmin | safe }}
	</script>
	<script src="../download-preview.js" defer></script>
</body>

</html>
{% endblock %}