{% extends "components/head.njk" %}

{% set isMiniSite = true %}

{# Initialise variable outside loop scope #}
{%- set fontSpecimenStyles = '' -%}

{%- for fontSpecimenName, fontSpecimensFaces in fontSpecimen -%}
	{# Preload the "default" font #}
	{%- set fontPreload -%}<link rel="preload" href="{{ './' + fontSpecimensFaces[0].file | url }}" as="font" type="font/woff2" crossorigin>{% endset %}
	
	{%- set fontSpecimenStyles -%}
		{%- for fontSpecimenFace in fontSpecimensFaces -%}
		@font-face {
			font-family: '{{ fontSpecimenName }}';
			src: url('{{ './' + fontSpecimenFace.file | url }}') format('woff2');
			font-weight: {{ fontSpecimenFace.weight or 400 }};
			font-style: {{ fontSpecimenFace.style or 'normal' }};
			font-display: swap;
			{% if fontSpecimenFace.ascentOverride %}ascent-override: {{ fontSpecimenFace.ascentOverride }};{% endif %}
			{% if fontSpecimenFace.descentOverride %}descent-override: {{ fontSpecimenFace.descentOverride }};{% endif %}
			{% if fontSpecimenFace.lineGapOverride %}line-gap-override: {{ fontSpecimenFace.lineGapOverride }};{% endif %}
		}
		{%- endfor -%}
		.specimen { font-family: '{{ fontSpecimenName }}', {{ (fontSpecimenFallback | safe) or 'sans-serif' }}; }
	{%- endset -%}
{%- endfor -%}

{% block headStart %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	{{ fontPreload }}
{% endblock %}
{# include "components/head.njk" #}
{% block headEnd %}
	<script>document.documentElement.classList.remove('no-js')</script>
	<style>
	{%- if fontSpecimenStyles -%}
		{{- fontSpecimenStyles | cssmin | safe -}}
	{%- endif -%}

	{%- if styleOverrides -%}
		{# Add page-specific styles inline #}
		{%- set pageStyleGroup = "" -%}

		{%- for styleOverride in styleOverrides -%}
			{%- set pagestylelink %}{{ assets.fontSpecimenStyles }}/{{ styleOverride | trim(' ') }}.css{% endset -%}
			{%- set pagestyle %}{% include pagestylelink %}{% endset -%}
			{%- set pageStyleGroup = pageStyleGroup + pagestyle -%}
		{%- endfor -%}

		{{- pageStyleGroup | cssmin | safe -}}
	{%- endif -%}
	</style>
</head>

{% macro fontPreviewer(previewOptions = '', defaultText = 'Type Anything', warningMessages = '') %}
	<font-preview class="full-content" default-sample="{{ fontSpecimenSampleDefault }}">
		<form class="preview">
			<div class="preview-fallback">
				<label for="font-preview-fallback">Custom preview:</label>
				<input type="text" id="font-preview-fallback" class="specimen specimen-dlig preview-fallback-input" value="{{ defaultText }}" placeholder="{{ defaultText }}" />
				<p class="fallback-warning">To enable advanced preview options, you may need JavaScript enabled or a better Internet service.</p>
			</div>

			<div class="preview-input-wrap">
				<label for="preview-input">Preview:</label>
				<input type="text" placeholder="{{ defaultText }}" data-fontpreview="preview-input" id="preview-input" />
				<button type="button" data-fontpreview="preview-update">Update</button>
			</div>

			{% if warningMessages %}
				{% for warningMessageId, warningMessageMarkup in warningMessages %}
					<p class="preview-warning" id="{{ warningMessageId }}" hidden>{{ warningMessageMarkup | safe }}</p>
				{% endfor %}
			{% endif %}

			<output data-fontpreview="preview-output-wrap" for="preview-input" aria-label="{{ defaultText }}">
				{{ caller() }}
			</output>

			<div class="preview-actions">
				<div class="preview-options flow" style="--flow: 0.5rem;">
					{% for optKey, optData in previewOptions %}
					<p class="preview-option">
						<input type="checkbox" name="{{ optKey }}" data-preview-option id="preview-option-{{ optKey }}" {% if optData.default %}checked{% endif %} />
						<label for="preview-option-{{ optKey }}">{{ optData.label }}</label>
					</p>
					{% endfor %}
				</div>

				<button type="button" id="save-preview" class="preview-save" hidden>Save as PNG</button>
			</div>
		</form>
	</font-preview>

	<script>
	{% include "assets/js/webcomponents/font-preview.js" %}
	</script>
{% endmacro %}

<body>
	<header class="header">
		<p class="text-center"><a href="{{ '/fonts/' | url }}">A font by {{ metadata.author.name }}</a></p>
	</header>

	<main class="content flow" id="content">
		{% block layoutContent %}{{ layoutContent | safe }}{% endblock %}
	</main>

	<footer class="footer">
		Font built with {{ fontLove or 'love' }}
		by <a href="{{ metadata.url | url }}">{{ metadata.author.name }}</a>
		|
		<a href="{{ '/fonts/' | url }}">Font Directory</a>
	</footer>


	<script>
	{%- set extraFontSpecimenScripts -%}
	document.addEventListener('click', function (e) {
		let ligCode = e.target.closest('.ligature-sample-code');
		if (!ligCode) { return; }
		let ligText = ligCode.parentElement.querySelector('input');
		ligText.select();
		document.execCommand('copy');
		ligCode.classList.add('copied');
		setTimeout(function () {
			ligCode.classList.remove('copied');
		}, 300);
	});

	const fontPreviewData = {
		saveButton: document.getElementById('save-preview'),
		previewSvg: document.getElementById('preview-svg'),
	};
	{%- endset -%}
	{{ extraFontSpecimenScripts | jsmin('extraFontSpecimenScripts') | safe }};
	fontPreviewData.nameSlug=`{{ title | stripHyphenChars | slug }}`;
	</script>
	<script src="../download-preview.js" defer></script>
</body>

</html>
{% endblock %}