---
section: home
---

{% extends "layouts/base.njk" %}

{% block layoutContent %}
    <div class="content-fullbleed home">
        <p class="visually-hidden">{{ 'homeTitle.visualDescription' | i18n }}</p>
        <div class="home-content">
            <div class="home-background" aria-hidden="true">
                {% svg "home-grid", {isNjk:false} %}
                <div class="home-background-extra"></div>
            </div>

            <h1 class="home-title" aria-labelledby="home-title">
                {% svg "home-title", { i18n: i18n, titleId: 'home-title' } %}
            </h1>
        </div>
    </div>

    <div class="page-content | content-fullbleed container | flow fluid">
        {{ layoutContent | safe }}

        <div class="content-fullbleed | u-background-bg-alt-color u-paddingBlock-2xl">
            <div class="container">
                <div class="subsection subsection--quickaccess">
                    <h2 style="--area: head">{{ 'page.quickAccess.heading' | i18n }}</h2>

                    <a href="{{ '/about/' | locale_url }}" class="cta" data-cta="tile" style="--area: url1">
                        <strong class="spaced-items">
                            {% svg "question", { class: "inline-icon" } %}
                            {{ 'page.quickAccess.about.label' | i18n }}
                        </strong>
                        <span class="u-color-gray-min u-marginBlockStart-2xs u-display-block">{{ 'page.quickAccess.about.content' | i18n }}</span>
                    </a>
                    <a href="{{ '/designs/' | locale_url }}" class="cta" data-cta="tile" style="--area: url2; align-self: end;">
                        <strong class="spaced-items">
                            {% svg "shirt", { class: "inline-icon" } %}
                            {{ 'page.quickAccess.designs.label' | i18n }}
                        </strong>
                        <span class="u-color-gray-min u-marginBlockStart-2xs u-display-block">{{ 'page.quickAccess.designs.content' | i18n }}</span>
                    </a>
                    <a href="{{ '/fonts/' }}" class="cta" data-cta="tile" style="--area: url3">
                        <strong class="spaced-items">
                            {% svg "type", { class: "inline-icon" } %}
                            {{ 'page.quickAccess.fonts.label' | i18n }}
                        </strong>
                        <span class="u-color-gray-min u-marginBlockStart-2xs u-display-block">{{ 'page.quickAccess.fonts.content' | i18n }}</span>
                    </a>

                    <p class="spaced-items inlined-items" style="--area: also; --spaced-items-gap: var(--size-s); --btn-font-size: 0.75em;">
                        {% svg "plus" %}

                        {% component "cta", {
                            url: ('/acknowledgements/' | locale_url)+'#'+('nav.usesHash' | i18n),
                            label: 'page.quickAccess.also.usesPageLabel' | i18n
                        } %}
                        
                        {% if lang == 'en' %}
                            {% component "cta", {
                                url: '/now/' | locale_url,
                                label:  'page.quickAccess.also.nowPageLabel' | i18n
                            } %}
                        {% endif %}

                        {% for socialPage in social %}
                            {% if socialPage.showOnHome %}
                                {% component "cta", {
                                    url: socialPage.url,
                                    label: socialPage.name
                                } %}
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>

        <div style="--flow-space:var(--size-2xl)">
            <div class="subsection subsection--writing">
                <h2 style="--area: head">{{ 'page.writing.heading' | i18n }}</h2>

                <p style="--area: body">{{ 'page.writing.content' | i18n }}</p>

                {% set latestposts = collections["post_" + lang] | reverse %}
                {% set latestpost = latestposts[0] %}
                <a href="{{ latestpost.url | url }}" class="cta | flow" data-cta="tile" style="--area: post">
                    <time datetime="{{ latestpost.date | dateFormat }}">{{ latestpost.date | dateFormat({ format: 'nice', locale: lang }) }}</time>

                    <h2 class="h3 | u-marginBlockStart-2xs">
                        {{- latestpost.data.title -}}
                    </h2>

                    <p class="u-color-gray-min u-marginBlockStart-2xs">
                        {{- latestpost.data.summary or latestpost.excerpt -}}
                    </p>
                </a>

                <p class="spaced-items inlined-items" style="--area: ctas">
                    <a href="{{ '/blog/' | locale_url }}">{{ 'page.writing.blogLabel' | i18n }}</a>
                    
                    {% component "cta", {
                        url: '/rss.xml' | locale_url,
                        label: {
                            aria: 'rss.subscribe' | i18n,
                            plain: 'rss.feed' | i18n
                        },
                        icon: 'rss'
                    } %}
                </p>
            </div>
        </div>
    </section>
{% endblock %}