---
layout: layouts/base.njk
templateName: page
---

<header class="bigboi | content-fullbleed container">
	<div class="bigboi-inner | content" style="--flow-space: var(--size-m)">
		<h1>{{ pageTitle or title }}</h1>
		
		<p class="u-fontWeight-bold">{{ subtitle }}</p>

		{% if backlink %}
		<p class="u-marginBlockStart-m">
			<a href="{{ backlink.url | url }}" class="button" data-backlink>
				{% renderFile "arrow-back" | svgUrl, { class: "inline-icon" } %}
				{{ backlink.label }}
			</a>
		</p>
		{% endif %}
    </div>
</header>

<div class="flow fluid | content-fullbleed container">
	{{ layoutContent | safe }}
</div>