---
templateName: page
---

{% extends "layouts/base.njk" %}

{% block layoutContent %}
	<header class="bigboi | content-fullbleed container">
		<div class="bigboi-inner | content | {% if bigboiButton %}flow{% endif %}" style="--flow-space: var(--size-m)">
			{% if bigboiButton %}<div class="spaced-items inlined-items" style="--spaced-items-justify:space-between">{% endif %}
				<h1>{{ (pageTitle or title) | safe }}</h1>

				{% if bigboiButton %}
				<a href="{{ bigboiButton.url | url }}" class="button">
					{% if bigboiButton.icon %}{% svg bigboiButton.icon, { class: 'inline-icon' } %}{% endif %}
					<span>{{ bigboiButton.label }}</span>
				</a>
				{% endif %}
			{% if bigboiButton %}</div>{% endif %}
			
			<p class="u-fontWeight-bold">{{ subtitle }}</p>

			{% if backlink %}
			<p class="u-marginBlockStart-m">
				<a href="{{ backlink.url | url }}" class="button" data-backlink>
					{% svg "arrow-back", { class: "inline-icon" } %}
					{{ backlink.label }}
				</a>
			</p>
			{% endif %}
		</div>
	</header>

	<div class="page-content | content-fullbleed container | flow fluid">
		{{ layoutContent | safe }}
	</div>
{% endblock %}
