---
templateName: page
---

{% extends "layouts/base.njk" %}

{% block layoutContent %}
	<header class="bigboi | content-fullbleed container">
		<div class="bigboi-inner | content | {% if bigboiCta %}flow{% endif %}" style="--flow-space: var(--size-m)">
			{% if bigboiCta %}<div class="spaced-items inlined-items" style="--spaced-items-justify:space-between">{% endif %}
				<h1>{{ (pageTitle or title) | safe }}</h1>

				{% if bigboiCta %}
					{% component "cta", {
						url: bigboiCta.url | url,
						label: bigboiCta.label,
						icon: bigboiCta.icon or false,
						iconBefore: bigboiCta.iconBefore or false
					} %}
				{% endif %}
			{% if bigboiCta %}</div>{% endif %}
			
			<p class="u-fontWeight-bold">{{ subtitle or summary }}</p>

			{% if backlink %}
			<p class="u-marginBlockStart-m">
				{% component "cta", {
					url: backlink.url | url,
					ctaAttr: 'data-backlink',
					label: backlink.label,
					icon: 'arrow-back',
					iconBefore: true
				} %}
			</p>
			{% endif %}
		</div>
	</header>

	<div class="page-content | content-fullbleed container | flow fluid">
		{{ layoutContent | safe }}
	</div>
{% endblock %}
