---
templateName: post
---

{% extends "layouts/base.njk" %}

{% block layoutContent %}
	<header class="bigboi | content-fullbleed container">
		<div class="bigboi-inner | content">
			<h1 id="{{ title | slugify }}">{{ title }}</h1>
			<p>
				<time datetime="{{ date | dateFormat }}">
					{{- date | dateFormat({ format: 'nice', lang: lang }) -}}
				</time>
				{{ 'grammar.inWord' | i18n }}
				{%- if tags -%}
					{%- for tag in tags | filterStartsWith('_', true) -%}
						{%- if loop.index > 1 %},{% endif %} <a href="{{ localePath + 'tags/' + tag | url }}/">{{ tag }}</a>
					{%- endfor -%}
				{%- endif -%}
				{% if updated %}
					({{ 'blog.updated' | i18n }}{% if (updated | dateFormat) != (date | dateFormat) %}
					<time style="--t-datetime-color:var(--ctx-color)" datetime="{{ updated | dateFormat }}">{{ updated | dateFormat({ format: 'nice', lang: lang }) }}</time>{% endif %})
				{% endif %}
			</p>
		</div>
	</header>

	{% if toc %}
	<div class="toc | content-fullbleed">
		<div class="container">
			<div class="toc-wrap">
				<details class="toc-inner" id="toc-inner" open>
					<summary class="toc-title | h4">{{ "blog.tableOfContents" | i18n }}</summary>
					<div class="toc-list">
						{{ layoutContent | autoToc | safe }}
					</div>
				</details>
				<button type="button" class="toc-pin-toggle" data-toc-toggle aria-controls="toc-inner">
					<span data-toc-toggle-label="on">{{ "blog.pin" | i18n }}</span>
					<span data-toc-toggle-label="off">{{ "blog.unpin" | i18n }}</span>
					<span>📌</span>
				</button>
			</div>
		</div>
	</div>
	{% endif %}

	{% if original %}
	<p class="post-original">
		<span class="u-fontItalic">{{ 'blog.original' | i18n }}{{ 'grammar.punctSp' | i18n }}:</span>
		<a href="{{ original | url }}" rel="nofollow"><span class="u-fontBold">{{ originalTitle or original }}</span></a>
	</p>
	{% endif %}

	<div class="page-content | content-fullbleed container | flow fluid">
		{{ layoutContent | safe }}
	</div>

	{% if externalUrl %}
	<p class="post-external">
		{% set externalLinkLabel %}{{ 'blog.external' | i18n }} {{ externalHost or externalUrl }}{% endset %}
		{% component "cta", {
			url: externalUrl,
			label: externalLinkLabel,
			icon: 'arrow-next'
		} %}
	</p>
	{% endif %}

	{% if not original and not externalUrl %}
	{% setAsync "socialIcon" %}{% svg "mastodon", { class: "inline-icon inline-icon--middle" } %}{% endsetAsync %}
	<footer class="post-footer | inversion">
		<h2 class="h5 | post-footer-author">
			{{- 'blog.writtenByAuthor' | i18n({ author: metadata.author.shortname, aboutUrl: ('/about/' | locale_url), aboutLinkId: "post-author-about-link" }) | safe -}}
		</h2>
		<p class="post-footer-blurb">
			{{- 'blog.commentsAndSupport' | i18n({ socialIcon: socialIcon, socialUrl: 'https://'+metadata.author.mastodonInstance+'/@'+metadata.author.mastodon, shopUrl: '/designs/' }) | safe -}}
		</p>
	</footer>
	{% endif %}

	{% if toc %}
	<script>
		{%- set tocScript -%}
		document.addEventListener('click', function(e) {
			const tocToggle = e.target.closest('[data-toc-toggle]');
			if (tocToggle) {
				tocToggle.closest('.toc').classList.toggle('toc--pinned');
			}
			
			let toc = e.target.closest('.toc');
			if (toc) {
				const isPinned = toc.classList.contains('toc--pinned');
				requestAnimationFrame(() => document.documentElement.style.setProperty('--toc-offset', isPinned ? toc.offsetHeight : 0));
			}
		});
		{%- endset -%}
		{{- tocScript | jsmin('toc') | safe -}}
	</script>
	{% endif %}
{% endblock %}