---
layout: layouts/base.njk
templateName: post
---

<header class="bigboi | content-breakout">
	<div class="bigboi-inner | container">
		<h1 id="{{ title | slug }}">{{ title }}</h1>
		<p>
			<time datetime="{{ date | dateFormat({ format: 'machine' }) }}">
				{{- date | dateFormat({ format: 'nice', locale: lang }) -}}
			</time>
			{{ 'grammar.inWord' | i18n }}
			{%- if tags -%}
				{%- for tag in tags | filterOut(systemtags) -%}
					{%- if loop.index > 1 %},{% endif %} <a href="{{ localePath + 'tags/' + tag | url }}/">{{ tag }}</a>
				{%- endfor -%}
			{%- endif -%}
		</p>
	</div>
</header>

{% if original %}
<p class="post-original">
	<span class="u-fontItalic">{{ 'blog.original' | i18n }}{{ 'grammar.punctSp' | i18n }}:</span>
	<a href="{{ original | url }}" rel="nofollow"><span class="u-fontBold">{{ originalTitle or original }}</span></a>
</p>
{% endif %}

<div class="fluid flow">
	{{ layoutContent | safe }}
</div>

{% if externalUrl %}
<p class="post-external">
	<a href="{{ externalUrl }}" class="button">
		{{ 'blog.external' | i18n }} {{ externalHost or externalUrl }}
		{% renderFile "rss" | svgUrl, { class: 'inline-icon' } %}
	</a>
</p>
{% endif %}

{% if not original and not externalUrl %}
<footer class="post-footer">
	<img src="{{ '/' + assets.imagesDir + '/profile.jpg' | url }}" alt="" width="64" height="64" class="post-footer-avatar">
	
	<p class="post-footer-author">{{ 'blog.writtenByAuthor' | i18n({ author: metadata.author.name }) }}</p>
	<p class="post-footer-blurb">{{ 'blog.commentsAndSupport' | i18n({ twitterUrl: metadata.author.twitter, shopUrl: '/designs/' }) | safe }}</p>
</footer>
{% endif %}