---
layout: layouts/page.njk
templateName: project
backlink: { url: "/projects/", label: "Back to Projects" }
---

{{ layoutContent | safe }}

{% if externalUrl %}
<p class="post-external">
	{% component "cta", {
		url: externalUrl,
		label: 'projects.view' | i18n,
		icon: 'arrow-next'
	} %}
</p>
{% endif %}