---js
{
  pagination: {
    data: "collections",
    size: 1,
    alias: "tag",
    before: function(paginationData, fullData) {
      return paginationData.filter(function(t) {
        // Exclude tags that are "system" tags, and then
        // filter out tags who don't have any entries in the current language
        return !fullData.systemtags.includes(t)
          && fullData.collections[t].some(p => p.data.lang === fullData.lang)
      });
    }
  },
  layout: "layouts/base.njk",
  eleventyExcludeFromCollections: true,
  permalink: "/{{ localeRoot }}tags/{{ tag }}/",
  eleventyComputed: {
    title: "{{ 'tagged' | i18n }} {{ 'grammar.quoteOpen' | i18n }}{{ tag }}{{ 'grammar.quoteClose' | i18n }}"
  }
}
---

<header class="bigboi | content-fullbleed container">
	<div class="bigboi-inner | content" style="--flow-space: var(--size-m)">
		<h1>{{ title }}</h1>
  </div>
</header>

{% set postslist = collections[ tag ] | filterToLocale %}
{% include "components/postslist.njk" %}