.heading-anchor {
	$p: &;

	position: relative;

	&-symbol {
		visibility: hidden;

		position: absolute;
		inset-inline-end: calc(100% + 0.25em);
		inset-block-start: 0.75em;

		width: 1em;
		height: 1em;

		font-size: 0.5em;

		#{$p}:is(:hover, :focus) & {
			visibility: visible;
		}
	}
}

.postlist {
	--flow-space: var(--size-2xl);

	&-yeargroup {
		padding-inline-start: var(--size-xs);
		padding-block-end: var(--size-2xs);

		color: var(--theme-color-secondary-med);
		border-inline-start: 1px solid currentColor;
		background: linear-gradient(to right, currentColor, transparent) no-repeat 0 100% / 100% 1px;
	}

	&-yeargroup + &-post {
		--flow-space: var(--size-s);
	}

	&-date {
		display: block;
	}
}

.post {
	&-original,
	&-footer {
		padding: var(--size-xs) var(--size-s);

		color: var(--theme-footer-text-color);
		border: 1px solid var(--theme-footer-border-color);
		border-radius: var(--theme-corner-radius);
		background: var(--theme-footer-bg-color);
	}

	&-original {
		font-style: italic;
	}

	&-footer {
		&-avatar {
			float: left;

			width: 4em;
			aspect-ratio: 1;
			object-fit: cover;
			margin-inline-end: var(--size-m);

			border: 2px solid transparent;
			border-radius: 50%;
			background: linear-gradient(45deg, var(--theme-link-color), var(--theme-link-underline-color)) border-box;
		}
		&-author {
			font-style: italic;
			color: var(--theme-link-color);
		}
		&-blurb {
		}

		&::after {
			content: '';
			display: table;
			clear: left;
		}
	}
}
