.heading-anchor {
	$p: &;

	position: relative;

	&-symbol {
		visibility: hidden;

		position: absolute;
		inset-inline-end: calc(100% + 0.25em);
		inset-block: 0 0.125em;

		width: 1em;
		height: 1em;
		margin: auto 0;

		font-size: 0.5em;

		#{$p}:is(:hover, :focus) & {
			visibility: visible;
		}
	}
}

.postlist {
	--flow-space: var(--size-2xl);

	&-yeargroup {
		position: sticky;
		inset-block-start: 0;
		z-index: 1;

		padding-inline-start: var(--size-xs);
		padding-block-end: var(--size-2xs);

		color: var(--t-color-aux-med);
		border-inline-start: 1px solid currentColor;
		background: var(--ctx-bg) linear-gradient(to right, currentColor, transparent) no-repeat 0 100% / 100% 1px;
	}

	&-yeargroup + &-post {
		--flow-space: var(--size-s);
	}
}

.post {
	&-original,
	&-footer {
		padding: var(--size-xs) var(--size-m);

		color: var(--t-footer-text-color);
		border: 1px solid var(--t-footer-border-color);
		border-radius: var(--t-corner-radius);
		background: var(--t-footer-bg-color);
	}

	&-original {
		font-style: italic;
	}

	&-external {
		font-size: var(--type-1);
	}

	// Makes use of the centered float trick described by Tyler Sticka: https://cloudfour.com/thinks/solved-tricky-floating-image-alignment/
	// As well as the bottom floated trick described by Temani Afif: https://css-tricks.com/float-an-element-to-the-bottom-corner/
	&-footer {
		--image-size: clamp(3.5em, 3em + 2.5vw, 5em);
		--image-margin-block: var(--size-2xs);
		--image-margin-inline: var(--size-m);

		display: grid;

		&-image {
			position: relative;
			z-index: 1;

			& > img {
				width: var(--image-size);
				margin-block: var(--image-margin-block);
				aspect-ratio: 1;
				object-fit: cover;

				border: 2px solid transparent;
				border-radius: 50%;
				background: linear-gradient(45deg, var(--t-link-color), var(--t-link-underline-color)) border-box;
			}

			&--avatar {
				display: block;
				float: left;

				& > img {
					margin-inline-end: var(--image-margin-inline);
				}
			}

			&--design {
				display: flex;
				height: 100%;
				align-items: flex-end;
				float: right;
				shape-outside: inset(calc(100% - var(--image-size) - (var(--image-margin-block))) 0 0);

				& > img {
					margin-inline-start: var(--image-margin-inline);
				}
			}
		}
		&-author {
			color: var(--t-link-color);
		}

		&-content {
			position: relative;
			inset-block-start: 50%;

			transform: translateY(-50%);
		}

		&::after {
			content: '';
			display: table;
			clear: both;
		}
	}
}
