---
layout: layouts/about.njk
templateEngineOverride: njk
title: Om mig
pageTitle: Hejsa, jeg hedder Chris (han/ham)
subtitle: En designer, der blev webdev, og som elsker at bygge på nettet.
summary: Få mere at vide om Christopher Kirk-Nielsen
permalink: /da/om-mig/
facts:
    - ["👀", "Kender det kyrilliske alfabet nok til at læse - men ikke forstå - sætninger."]
    - ["🕰", "Yndlingsfilm er sandsynligvis Back to the Future, selvom faren er en kryb."]
    - ["☕️", "Plejede at drikke masser af te, men nu er det kaffe!"]
    - ["🤓", "Nyder matematik/fysik YouTube-videoer, selvom han ikke forstår alt."]
    - ["🛹", "Øvede sig på skateboard i et stykke tid, og besluttede så at det var mere sikkert at spille Tony Hawk."]
    - ["⛰", "Ønsker virkelig at være en mere udendørs person (hjælp)."]
    - ["🏃‍♂️", "Løber et par gange om ugen, men stadig langt fra maratonklar."]
    - ["🐈", "Elsker dyr, være sød at introducér dit kæledyr."]
    - ["😴", "Sover på siden, men vågner på ryggen."]
    - ["📚", "Elsker at lære, men også at hjælpe - spørg væk om hvad som helst!"]
    - ["🎸", "Yndlingsband er Thrice, bare spørg om en anbefaling!"]
    - ["🤭", "Kan virkelig godt lide ordspil - send gerne far vittigheder."]
    - ["🔢", "Holder gerne en Sudoku-pause en gang imellem."]
    - ["👾", "Kender Konami-koden, slet ikke en antydning."]
    - ["💜", "Sætter pris på, at du læser disse fakta igennem."]
i18n:
    page:
        randomFacts: "Klik her for at få tilfældige fakta om mig"
        vhsImageAlt: "En VHS æske med {{ name }}-tema"
        mugImageAlt: "En kop med {{ name }} tegnet på"
        profile: "Halvdelen af Chris' ansigt med omridset af hans hoved, næse, briller, øjenbryn og skæg tegnet"
        synth:
            skipButtons: "Hop forbi synth-kontroller"
            label: "Synthetisør"
            instructions: "Hold ned på <kbd>Shift</kbd> til skifte oktav"
            keyboardMode: "Tastaturtype"
---

<p class="u-fontWeight-bold">Jeg er en <span class="about-country" data-flag="🇫🇷" data-icon="🥖">fransk</span>-<span class="about-country" data-flag="🇩🇰" data-icon="🧜‍♀️">dansker</span> der bor i <span class="about-country" data-flag="🇺🇸" data-icon="🏈">USA</span>, som var designer, og som nu godt kan lide at kode.</p>

{% include 'components/about/random-fact.njk' %}

<h2 id="tung-tastatur-bruger">Tung tastatur bruger</h2>

<div class="about-first">
    {%- set profile %}{% include 'components/about/ckn-profile.njk' %}{% endset -%}
    {{- profile | htmlmin | safe }}

    <p>
        Som barn brugte jeg timer på Microsoft Paint, indtil jeg opdagede Photoshop (jeg havde en <em>fuldstændig</em> gyldig licens). Jeg lærte noget kode til at skift MySpace-sider og så lavede mine egne hjemmesider. Jeg betalte endda for domæner og hosting og kaldte mig selv til <strong>"webmaster"</strong>, før jeg overhovedet havde bumser - hybrisen. Jeg studerede <strong>grafisk design i 4 år</strong>, og så bliv jeg freelancer, jonglerede mellem designarbejde, videoredigering og kode i et par år med seje kunder, inden jeg fokuserede på <strong>webdev</strong>.
    </p>
</div>

<p>
    At skrive kode og få en ting vist på skærmen føltes (og føles stadig) lidt som <em class="about-emoji" data-emoji="✨">magi</em>. I øjeblikket arbejder jeg hos MOJO PSG som senior frontend-webdev med et vidunderligt kolleger, der stræber efter at gøre <strong>tilgængelige og effektive websider</strong> og lære nye ting hele tiden.
</p>

{% include 'components/about/visubezier.njk' %}

<p data-about="opensource">
    Jeg har hjulpet på nogle få open source-projekter, men kun i små måder; hvis det tæller, er min lille VS Code plugin, <a href="/projects/visubezier/">VisuBezier</a>, til at se hvordan en CSS cubic-bezier funktion ser ud. Og jeg har været så heldig at blive vist på sider som <a href="https://css-tricks.com/author/chriskirknielsen/">CSS-Tricks</a> og <a href="https://www.smashingmagazine.com/author/chriskirknielsen/">Smashing Magazine</a>, hvis du kan tro det!
</p>

<h2 id="stadig-lidt-kreativ">Stadig lidt kreativ</h2>

<p data-about="creative">
    Når inspirationen slår til, kan jeg godt lide at kom op med designs, der kan se godt ud på en t-shirt - stadig få de kreative saft til at flyde! Du kan se alle dem ud i <a href="/designs/" hreflang="en">Designs "Shop"</a>, hvis du er interesseret; den har masser af webdev designs og et par <em class="about-emoji" data-emoji="🌴">80'er-æstetik</em> (min favorit!). Jeg nyder også film og spiller videospil en gang i mellem, så hvis du vil gøre mig glade, prøv et filmcitat! Du vil måske vide, at <a href="/fonts/" hreflang="en">jeg har lavet et par skrifttyper</a> - jeg kalder mig selv en skriftnørd og prøver at genkende den skrifttype, der bruges til hvert logo.
</p>

<p class="about-quotebox">Pis og papir, de brugte Helvetica igen! Det kan de ikke være bekendt!</p>

{% include 'components/about/vhs.njk' %}

<p>
    Stor overraskelse! Jeg kan godt lide musik. Jeg lytter til mange ting, men mine playlister er i høj grad (post-)rock og elektronika. <a href="https://chronoise.com">Chronoise</a> er et projekt for mit gennemsnitlige musikalske forfatterskab, som jeg ikke har arbejdet aktivt på i et stykke tid, men måske i {{ metadata.currentYear + 1 }}. Det er afslappende at spille en lille smule guitar, og jeg synes, det er <em>utrolig fedt</em> at eksperimentere med synthesizere. <span class="nojs-hidden">Prøv selv:</span>
</p>

{% include 'components/about/synth.njk' %}

<h2 id="en-fransk-dansker">En fransk dansker?</h2>

<p class="about-quotebox" data-about="personal">Jeg har en mærkelig engelsk accent, som ikke er fransk eller dansk.</p>

<p>
    Jeg voksede op i Lyon, Frankrig, med danske forældre, så jeg snakker gerne dansk, men er ikke som en "rigtig" dansker. Australien var også mit hjem i et år som barn, og talte engelsk med en Down Under-accent, og jeg holdt en babykoala! Så hvis jeg afslører et ord på engelsk, undskyld, <strong>tre sprog</strong> bliver bare ved med at blande sig i mit skaldede hoved. Jeg kan også snakke lidt italiensk, men jeg mister al fatningen, når jeg taler med italiener - <em lang="it" class="about-emoji" data-emoji="🤌">che peccato!</em> Jeg studerede japansk i gymnasiet, men var en dårlig elev, så jeg er forfærdeligt, men DuoLingo <del>forsøger</del> truer med at hjælpe. Jeg synes i hvert fald sprog er fascinerende!
</p>

<h2 id="en-rigtig-professionel">En rigtig professionel</h2>

<p>
    Jeg er super-duper professionel, hvilket bevises af, at jeg har en <a href="https://www.linkedin.com/in/chriskirknielsen/">LinkedIn-profil</a>, som jeg aldrig ser på. Jeg kan skrive kode i <em>HTML, CSS, JavaScript, PHP og MySQL</em>; jeg elsker at bruge <strong>Jamstack</strong> til at lave statiske websider, lige som Eleventy eller Hugo, men jeg er lige så komfortabel med en <strong>WordPress</strong> webside. Jeg er også glade at bruge <strong>Adobe Creative Suite</strong> apps, som Photoshop, Illustrator og After Effects. Åh, og jeg er en fransk/dansk dobbelt statsborger og har en amerikansk "Green Card" (yay, papirarbejde!).
</p>

<h2 id="skal-vi-snakke">Skal vi snakke?</h2>

<p data-about="contact">
    Hvis du har lyst til at kontakte mig, kan du sende mig en besked på <a href="https://{{ metadata.author.mastodonInstance }}/@{{ metadata.author.mastodon }}">@chriskirknielsen</a> eller maile mig om nødvendigt på <code>chriskirknielsen<wbr><span class="visually-hidden" aria-hidden="true" style="user-select:none;">contact</span>[at]gmail<wbr>[punktum]com</code> !
</p>

<p class="about-quotebox">Ukendte telefonnumre giver mig angst.</p>