@mixin generate-light-dark-vars($var, $light, $dark) {
	--#{$var}: var(--t-#{$theme-scheme-light}, #{$light}) var(--t-#{$theme-scheme-dark}, #{$dark});
}

@mixin generate-theme-vars($var-groups, $prefix: 't', $exclude: ()) {
	@each $theme-var-group, $theme-group-values in $var-groups {
		@if (index($exclude, $theme-var-group) == null) {
			@if $theme-var-group == 'fonts' {
				@each $name, $families in $theme-group-values {
					$stack: ();

					@each $family in $families {
						@if (is-list(map-deep-get(get-token('fontFallback'), $family))) {
							$stack: append($stack, 'var(--font-fallback-#{$family})', $separator: 'comma');
						} @else {
							$stack: append($stack, $family, $separator: 'comma');
						}
					}

					--#{$prefix}-font-#{$name}: #{zip($stack)};
				}
			}
			@if $theme-var-group == 'colors' {
				@each $name, $weights in $theme-group-values {
					@each $weight, $value in $weights {
						$theme-color-key: 'color-#{$name}-#{$weight}';
						--#{$prefix}-#{$theme-color-key}: #{$value};
					}
				}
			}
			@if ($theme-var-group == 'vars' or $theme-var-group == 'vars-resettable') {
				@each $var, $value in $theme-group-values {
					--#{$prefix}-#{$var}: #{$value};
				}
			}
		}
	}
}

@mixin above-medium {
	@media screen and (min-width: 740px) {
		@content;
	}
}
@mixin above-large {
	@media screen and (min-width: 1140px) {
		@content;
	}
}
@mixin default-schemes {
	// Okay you can judge me for this but I have no clue why I need to do it this way
	$p: &;
	@at-root {
		:is(:root:not([data-theme]), [data-theme='dusk'], [data-theme='dawn']) #{$p} {
			@content;
		}
	}
}
@mixin theme($key) {
	@at-root {
		[data-theme='#{$key}'] {
			@content;
		}
	}
}
