.about-country {
	--about-country-anim-time: 1500ms;

	&:hover {
		&::before,
		&::after {
			content: attr(data-flag);
			position: absolute;
			inset: 0;

			width: 100%;
			height: 100%;

			text-decoration: none;
			text-align: center;
			pointer-events: none;

			animation: aboutCountryTransform var(--about-country-anim-time) var(--easing-in-out) both infinite;
		}

		&::after {
			content: attr(data-icon);
			animation-delay: calc(var(--about-country-anim-time) * -0.5);
		}

		@media (prefers-reduced-motion: reduce) {
			&::before {
				transform: translate(-0.75em, -1.25em);
			}
			&::after {
				transform: translate(0.75em, -1.25em);
			}
		}
	}
}

@keyframes aboutCountryTransform {
	0% {
		transform: rotate(-90deg) translateX(1.25em) rotate(90deg);
	}
	33%,
	67% {
		opacity: 0;
	}
	100% {
		transform: rotate(-450deg) translateX(1.25em) rotate(450deg);
	}
}

.about-emoji {
	&:hover {
		&::before,
		&::after {
			content: attr(data-emoji);
			position: absolute;

			font-style: normal;
			text-shadow: 0 0 1px #333, 0 0 2px #333, 0 0 4px #333;

			animation: 1s var(--easing-circ-out) 1 both;
			animation-name: aboutEmojiMove, aboutEmojiFade;
		}

		&::before {
			--about-magic-dir: -1;
			right: 100%;
		}
		&::after {
			left: 100%;
		}

		@media (prefers-reduced-motion: reduce) {
			&::before {
				transform: scale(1.5) translateX(-25%);
			}
			&::after {
				transform: scale(1.5) translateX(25%);
			}
		}
	}
}
@keyframes aboutEmojiMove {
	0% {
		transform: scale(0) translate(calc(var(--about-magic-dir, 1) * -200%), 0);
	}
	100% {
		transform: scale(1.5) translate(calc(var(--about-magic-dir, 1) * 100%), -25%);
	}
}
@keyframes aboutEmojiFade {
	0%,
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.about-emoji,
.about-country {
	position: relative;
	display: inline-block;
	vertical-align: baseline;

	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-color: var(--t-accent-color);
	text-decoration-thickness: 0.0625em;

	@media (prefers-reduced-motion: reduce) {
		&:hover {
			&::before,
			&::after {
				animation: none;
			}
		}
	}
}

.about-visubezier {
	float: left;
	width: 33%;
	max-width: 8rem;
	margin-inline-end: var(--size-s);

	& ~ h2 {
		clear: both;
	}

	@supports (d: path('M0 0H1')) and (cx: var(--c)) and (cy: 1) {
		$bezier-x: 186;
		$bezier-y: 186;

		[data-move] {
			transition: all var(--easing-in-out) 300ms;
		}
		&:hover [data-move='point'] {
			cx: var(--cx);
			cy: var(--cy);
		}
		&:hover [data-move='line'] {
			d: path(var(--d));
		}
		&:hover [data-move='spline'] {
			d: path(var(--d));
		}
	}
}

.about-vhs {
	--vhs-overlap: clamp(0.5rem, 5vw, 2rem);
	--vhs-shelf: 1.5rem;
	--vhs-bg-dark: hsl(28, 19%, 70%);
	--vhs-bg: hsl(28, 19%, 86%);

	display: grid;
	grid-template-columns: minmax(0, 1fr) auto var(--vhs-overlap) auto minmax(var(--vhs-overlap), 4rem) auto var(--vhs-overlap) auto minmax(0, 1fr);
	grid-template-rows: auto auto var(--vhs-shelf) auto var(--vhs-shelf);
	padding-block: var(--size-xl);

	background: linear-gradient(90deg, var(--vhs-bg-dark), var(--vhs-bg) 25%, var(--vhs-bg) 75%, var(--vhs-bg-dark));

	&::before,
	&::after {
		content: '';
		z-index: 0;

		display: block;
		grid-column: 1 / -1;

		background: linear-gradient(90deg, transparent, var(--vhs-bg-dark), transparent) no-repeat 50% 0% / 100% 2px,
			radial-gradient(farthest-side at 50% 1px, var(--vhs-bg-dark), transparent) no-repeat 50% 0 / 100% 100%;
	}

	&::before {
		grid-row: 3;
	}
	&::after {
		grid-row: 5;
	}

	& > img {
		--vhs-offset-x: 0;

		aspect-ratio: 120 / 220;
		width: auto;
		height: min(10rem, 30vw);

		box-shadow: var(--vhs-offset-x) 0 0 -1px #323232;

		transition: box-shadow 200ms var(--easing-in-out);

		&:nth-child(1) {
			z-index: 1;
			grid-column: 2 / span 2;
			grid-row: 1 / span 2;
		}

		&:nth-child(2) {
			z-index: 2;
			grid-column: 3 / span 2;
			grid-row: 2 / span 3;
		}

		&:nth-child(3) {
			z-index: 2;
			grid-column: 6 / span 2;
			grid-row: 2 / span 3;
		}

		&:nth-child(4) {
			z-index: 1;
			grid-column: 7 / span 2;
			grid-row: 1 / span 2;
		}

		&:hover {
			--vhs-offset-x: 0.5rem;
		}
	}
}

.about-marquee {
	padding-block: var(--size-xl);

	color: var(--t-link-color);

	& p {
		display: flex;
		justify-content: space-around;
		gap: 0.5em;

		font-size: var(--type-1);
		font-weight: bold;
	}

	@media (prefers-reduced-motion: no-preference) {
		--marquee-size: max(800px, 200vw);

		&-inner {
			width: var(--marquee-size);

			white-space: nowrap;
		}

		& p {
			width: 50%;
			text-shadow: calc(var(--marquee-size) / 2) 0 0 currentColor;

			animation: aboutMarquee 16s linear infinite;
		}

		&:hover p {
			animation-play-state: paused;
		}
	}
}

@keyframes aboutMarquee {
	to {
		transform: translateX(calc(var(--marquee-size) / -2));
	}
}
