.about-country {
	--about-country-anim-time: 1500ms;
	&::before,
	&::after {
		content: '';
		filter: opacity(0);
		transition: filter 200ms;
	}

	&:hover {
		&::before,
		&::after {
			content: attr(data-flag);
			position: absolute;
			inset: 0;

			width: 100%;
			height: 100%;

			text-decoration: none;
			text-align: center;
			pointer-events: none;

			filter: opacity(1);

			animation: aboutCountryTransform var(--about-country-anim-time) var(--easing-in-out) calc(var(--about-country-anim-time) * -0.25) both infinite;
		}

		&::after {
			content: attr(data-icon);
			animation-delay: calc(var(--about-country-anim-time) * -0.75);
		}

		@media (prefers-reduced-motion: reduce) {
			&::before {
				transform: translate(-0.75em, -1.25em);
			}
			&::after {
				transform: translate(0.75em, -1.25em);
			}
		}
	}
}

.about-first {
	position: relative;

	@include above-medium {
		display: flex;
		gap: var(--size-l);
	}
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

.about-profile {
	$profile-image-border-size: 0.125rem;
	$profile-image-anim-time: 1.625;
	$profile-image-anim-delay: 0.25;

	/* SVG illustration variables */
	$profile-anim-line-delay: 0.2s;
	$profile-anim-line-duration: 0.6s;
	$profile-anim-path-delay: $profile-anim-line-delay + $profile-anim-line-duration * 0.625;
	$profile-anim-path-duration: 1.25s;
	$profile-anim-hair-delay: $profile-anim-path-delay + $profile-anim-path-duration * 0.75;
	$profile-anim-hair-duration: 1s;
	$profile-anim-glasses-delay: $profile-anim-hair-delay + $profile-anim-hair-duration * 0.5;
	$profile-anim-glasses-duration: 0.5s;

	float: right;

	order: 1;
	flex: 0 0 auto;
	align-self: flex-start;
	width: clamp(3rem, 1rem + 15vw, 4rem);
	margin-block: var(--size-m);
	margin-inline-start: var(--size-m);

	transform: scaleX(-1);

	@include above-medium {
		margin-inline-start: 0;
	}

	&::after,
	&-path path,
	&-hair path,
	&-glasses {
		animation-fill-mode: backwards;
		animation-iteration-count: 1;
		animation-timing-function: var(--easing-in-out);
	}

	&::after {
		content: '';
		position: absolute;
		inset-block: calc(var(--size-m) * -1);
		inset-inline-end: 0;

		width: 1.5px;

		background-color: currentColor;

		transform-origin: 50% 100%;
		animation-name: aboutLineDraw;
		animation-duration: #{$profile-anim-line-duration};
		animation-delay: #{$profile-anim-line-delay};
	}

	&-path path {
		fill: none;
		stroke: currentColor;
		stroke-width: 3;
		stroke-dasharray: 1 1;

		animation-name: aboutPathDraw;
		animation-duration: #{$profile-anim-path-duration};
		animation-delay: #{$profile-anim-path-delay};
	}

	&-hair path {
		fill: none;
		stroke: var(--t-color-primary-med);
		stroke-linecap: round;
		stroke-dasharray: 1 1;

		animation-name: aboutHairGrow, aboutPathDraw;
		animation-duration: #{$profile-anim-hair-duration};
		animation-delay: #{$profile-anim-hair-delay};
	}

	&-glasses {
		fill: var(--t-color-primary-min);
		animation-name: aboutGlasses;
		animation-duration: #{$profile-anim-glasses-duration};
		animation-timing-function: var(--easing-out);
		animation-delay: #{$profile-anim-glasses-delay};
	}

	&-hair--brow {
		transform-origin: 50% 50%;
		transition: transform 0.25s var(--easing-in-out);
	}

	&:hover &-hair--brow {
		transform: translateY(-2%) rotate(3deg);
	}
}

@keyframes aboutLineDraw {
	0% {
		transform: scaleY(0);
	}
}

@keyframes aboutPathDraw {
	0% {
		stroke-dashoffset: 1;
	}
}

@keyframes aboutHairGrow {
	0% {
		stroke-width: 0;
	}
}

@keyframes aboutGlasses {
	0% {
		opacity: 0.0001;
		transform: translateY(-15%);
	}
}

html.no-js .about-facts {
	display: none;
}
.about-facts {
	position: relative;
}
.about-fact-get {
	position: relative;
	z-index: 1;
	.inline-icon {
		transition: transform 100ms;
	}
	&:active .inline-icon {
		transform: translateY(3px);
	}
}
.about-fact-show {
	border-end-start-radius: calc(2 * var(--t-corner-radius));
	border-end-end-radius: calc(2 * var(--t-corner-radius));
}
@media (prefers-reduced-motion: no-preference) {
	.about-fact-show:not([hidden]) {
		animation: fadeDown 500ms var(--easing-circ-out) 1 backwards;
	}
}

@keyframes fadeDown {
	from {
		opacity: 0;
		transform: translateY(calc(-1 * var(--size-m)));
		margin-block-end: -2em;
	}
}

@keyframes aboutCountryTransform {
	0% {
		transform: rotate(-90deg) translateX(1.25em) rotate(90deg);
	}
	33%,
	67% {
		opacity: 0;
	}
	100% {
		transform: rotate(-450deg) translateX(1.25em) rotate(450deg);
	}
}

.about-emoji {
	&:hover {
		&::before,
		&::after {
			content: attr(data-emoji);
			position: absolute;

			font-style: normal;
			text-shadow: 0 0 1px #333, 0 0 2px #333, 0 0 4px #333;

			animation: 1s var(--easing-circ-out) 1 both;
			animation-name: aboutEmojiMove, aboutEmojiFade;
		}

		&::before {
			--about-magic-dir: -1;
			inset-inline-end: 100%;
		}
		&::after {
			inset-inline-start: 100%;
		}

		@media (prefers-reduced-motion: reduce) {
			&::before {
				transform: scale(1.5) translateX(-25%);
			}
			&::after {
				transform: scale(1.5) translateX(25%);
			}
		}
	}
}
@keyframes aboutEmojiMove {
	0% {
		transform: scale(0) translate(calc(var(--about-magic-dir, 1) * -200%), 0);
	}
	100% {
		transform: scale(1.5) translate(calc(var(--about-magic-dir, 1) * 100%), -25%);
	}
}
@keyframes aboutEmojiFade {
	0%,
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.about-emoji,
.about-country {
	position: relative;
	display: inline-block;
	vertical-align: baseline;

	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-color: var(--t-accent-color);
	text-decoration-thickness: 0.0625em;

	@media (prefers-reduced-motion: reduce) {
		&:hover {
			&::before,
			&::after {
				animation: none;
			}
		}
	}
}

.about-visubezier {
	width: 33%;
	max-width: 8rem;
	margin-inline: auto;

	@supports (d: path('M0 0H1')) and (cx: calc(1px * var(--c))) {
		[data-move] {
			transition: all var(--easing-in-out) 300ms;
		}
		&:hover [data-move='point'] {
			cx: calc(1px * var(--cx));
			cy: calc(1px * var(--cy));
		}
		&:hover [data-move='path'] {
			d: path(var(--d));
		}
		&:hover [data-move='path'] {
			d: path(var(--d));
		}
	}
}

.about-vhs {
	--vhs-overlap: clamp(0.5rem, 5vw, 2rem);
	--vhs-shelf: 1.5rem;
	--vhs-bg-dark: hsl(28, 10%, 67%);
	--vhs-bg: hsl(28, 10%, 82%);

	display: grid;
	grid-template-columns: minmax(0, 1fr) auto var(--vhs-overlap) auto minmax(var(--vhs-overlap), min(8rem, 20vw)) auto var(--vhs-overlap) auto minmax(0, 1fr);
	grid-template-rows: auto auto var(--vhs-shelf) auto var(--vhs-shelf);
	padding-block: var(--size-xl);

	background: linear-gradient(90deg, var(--vhs-bg-dark), var(--vhs-bg) 25%, var(--vhs-bg) 75%, var(--vhs-bg-dark));

	&::before,
	&::after {
		content: '';
		z-index: 0;

		display: block;
		grid-column: 1 / -1;

		background: linear-gradient(90deg, transparent, var(--vhs-bg-dark), transparent) no-repeat 50% 0% / 100% 2px,
			radial-gradient(farthest-side at 50% 1px, var(--vhs-bg-dark), transparent) no-repeat 50% 0 / 100% 100%;
	}

	&::before {
		grid-row: 3;
	}
	&::after {
		grid-row: 5;
	}

	& > a {
		position: relative;

		display: block;
	}

	& > a[data-img='vhs'] {
		height: min(10rem, 30vw);

		&:nth-child(1) {
			--vhs-color: tomato;
			z-index: 1;
			grid-column: 2 / span 2;
			grid-row: 1 / span 2;
		}

		&:nth-child(2) {
			--vhs-color: goldenrod;
			z-index: 2;
			grid-column: 3 / span 2;
			grid-row: 2 / span 3;
		}

		&:nth-child(3) {
			--vhs-color: rebeccapurple;
			z-index: 2;
			grid-column: 6 / span 2;
			grid-row: 2 / span 3;
		}

		&:nth-child(4) {
			--vhs-color: thistle;
			z-index: 1;
			grid-column: 7 / span 2;
			grid-row: 1 / span 2;
		}

		& > img {
			position: relative;
			z-index: 1;

			aspect-ratio: 120 / 220;
			width: auto;
			height: 100%;

			color: white;
			background: #323232;
		}

		&::before {
			content: '';
			position: absolute;
			inset: 1px;

			display: block;

			border-radius: 8px;
			background:
				/* Label lines */ linear-gradient(90deg, transparent 0, transparent 12px, #000 12px, #000 13px, transparent 13px) no-repeat 100% 50% / 45% 33%,
				/* Label */ linear-gradient(#fff, #fff) no-repeat 50% 50% / 50% 40%, /* Tape top */ radial-gradient(#5d5d5d 49%, transparent 50%) no-repeat 50% 30% / 56.25% 33%,
				/* Tape bottom */ radial-gradient(#5d5d5d 66%, transparent 67%) no-repeat 50% 70% / 50% 33%,
				/* Tape back */ linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) no-repeat 50% 50% / 50% 66%;
			background-color: var(--vhs-color, #323232);

			transform: translateX(var(--vhs-offset-x, 0));
			transition: transform 200ms var(--easing-in-out);
		}

		&:hover {
			--vhs-offset-x: 42%;
		}
	}

	& > [data-img='mug'] {
		z-index: 1;

		grid-column: 5;
		grid-row: 2;

		transform: translateY(17.5%);

		&::before,
		&::after {
			content: '💨';
			position: absolute;
			inset: 0;

			display: flex;
			justify-content: center;
			align-items: center;
			width: 1em;
			height: 1em;
			margin: auto;

			font-size: 1.5em;

			opacity: var(--mug-opacity, 1);
			filter: blur(0.125em);
			transform: translateX(var(--mug-posX, 0px)) translateY(calc(var(--mug-posY, 0px) + var(--mug-offset, 0px))) rotate(-90deg);
		}

		&::before {
			--mug-posX: -0.33rem;
			--mug-posY: 0.25rem;
		}

		&::after {
			--mug-posX: 0.33rem;
			--mug-posY: 1rem;
			transition-delay: 200ms !important;
		}

		&:hover {
			--mug-offset: -2em;
			--mug-opacity: 0;

			&::before,
			&::after {
				transition: transform 1s var(--easing-circ-out), opacity 1s linear;
			}
		}

		& > * {
			z-index: 1;
		}

		& > svg {
			position: relative;
			width: 80%;
			margin-inline: auto;
		}

		& > img {
			position: absolute;
			inset: 0;

			width: 33%;
			margin: auto;
		}
	}
}

.about-cheers {
	padding-block: var(--size-xl);

	color: var(--t-link-color);

	& p {
		position: relative;

		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		gap: 0.5em;

		font-size: var(--type-4);
		font-weight: 900;
	}

	@media (prefers-reduced-motion: no-preference) {
		--about-cheers-anim-time: 1500ms;
		--about-cheers-total-time: calc(var(--about-cheers-anim-time) * var(--n));
		--about-cheers-hold-time: calc(var(--about-cheers-anim-time) * var(--n) / 10);

		p {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			text-align: center;
		}
		& span {
			z-index: 1;

			grid-column: 1;
			grid-row: 1;
			display: block;

			animation: aboutMarquee var(--about-cheers-total-time) var(--easing-in-out) calc(var(--i) * -2 * var(--about-cheers-hold-time)) infinite;
		}
	}
}

@keyframes aboutMarquee {
	0%,
	70% {
		z-index: 2;
		transform: scale(1.5) translateY(50%);
		filter: opacity(0) blur(2px);
	}
	80%,
	90% {
		z-index: 2;
		transform: scale(1) translateY(0);
		filter: opacity(1) blur(0);
	}
	100% {
		z-index: 1;
		transform: scale(0.5) translateY(12.5%);
		filter: opacity(0) blur(4px);
	}
}

.about-quotebox {
	--flow-space: var(--size-xl);
	--qbgrad-pos: calc(100% * (1 - var(--t-is-dark))) calc(100% * (1 - var(--t-is-dark)));

	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--size-m);

	font-size: 0.875em;
	font-family: var(--quotebox-font, var(--font-fallback-serif));
	font-weight: var(--quotebox-weight, bold);
	font-style: var(--quotebox-style, italic);
	text-transform: var(--quotebox-transform, none);
	letter-spacing: var(--quotebox-tracking, initial);
	text-align: center;
	line-height: 1.1;

	color: var(--t-color-primary-max);
	border-radius: var(--quotebox-corner-radius, calc(4 * var(--t-corner-radius)));
	background: var(--t-color-primary-min) radial-gradient(farthest-corner at var(--qbgrad-pos, 100% 100%), var(--t-color-primary-min), 66.7%, var(--t-color-primary-med));
}

@include above-medium {
	@supports (grid-template-columns: subgrid) {
		[data-section='about'] main.container {
			// Add more columns within!
			--container-inner-cols: 5;
			--container-inner-def: repeat(var(--container-inner-cols), minmax(0, calc((var(--C-content-width) + 2 * var(--C-content-gutter)) / var(--container-inner-cols))));
			--container-inner-gutter: 0; // Gutter is its own track we can remove and replace with the gap property

			& > .container {
				gap: 0 calc(var(--C-content-gutter) * 2);
			}
		}

		.about-visubezier {
			grid-column: container-start / span 1;
			width: 100%;
			margin-inline: 0;
			align-self: center;
			justify-self: center;
		}
		.about-visubezier + p {
			grid-column: span calc(var(--container-inner-cols) - 1);
		}

		[data-about='creative'] {
			grid-column: container-start / span calc(var(--container-inner-cols) - 1);
		}
		[data-about='creative'] + .about-quotebox {
			grid-column: span 1;
			margin: 0;
		}

		[data-about='personal'] {
			grid-column: container-start / span 1;
		}
		[data-about='personal'] + p {
			--flow-space: var(--size-2xs);
			grid-column: span calc(var(--container-inner-cols) - 1);
		}

		[data-about='contact'] {
			grid-column: container-start / span calc(var(--container-inner-cols) - 1);
		}
		[data-about='contact'] + .about-quotebox {
			grid-column: span 1;
			margin: 0;
		}

		.about-quotebox {
			--flow-space: 0;
		}
	}
}
