.about-country {
	--about-country-anim-time: 1500ms;
	&::before,
	&::after {
		content: '';
		filter: opacity(0);
		transition: filter var(--C-base-duration) var(--easing-in-out);
	}

	&:hover {
		&::before,
		&::after {
			content: attr(data-flag);
			position: absolute;
			inset: 0;

			width: 100%;
			height: 100%;

			text-decoration: none;
			text-align: center;
			pointer-events: none;

			filter: opacity(1);

			animation: aboutCountryTransform var(--about-country-anim-time) var(--easing-in-out) calc(var(--about-country-anim-time) * -0.25) both infinite;
		}

		&::after {
			content: attr(data-icon);
			animation-delay: calc(var(--about-country-anim-time) * -0.75);
		}

		@media (prefers-reduced-motion: reduce) {
			&::before {
				transform: translate(-0.75em, -1.25em);
			}
			&::after {
				transform: translate(0.75em, -1.25em);
			}
		}
	}
}

.about-first {
	position: relative;

	@include above-medium {
		display: flex;
		gap: var(--size-l);
	}
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

.about-profile {
	$profile-image-border-size: 0.125rem;
	$profile-image-anim-time: 1.625;
	$profile-image-anim-delay: 0.25;

	/* SVG illustration variables */
	$profile-anim-line-delay: 0.2s;
	$profile-anim-line-duration: 0.6s;
	$profile-anim-path-delay: $profile-anim-line-delay + $profile-anim-line-duration * 0.625;
	$profile-anim-path-duration: 1.25s;
	$profile-anim-hair-delay: $profile-anim-path-delay + $profile-anim-path-duration * 0.75;
	$profile-anim-hair-duration: 1s;
	$profile-anim-glasses-delay: $profile-anim-hair-delay + $profile-anim-hair-duration * 0.5;
	$profile-anim-glasses-duration: 0.5s;

	position: relative;
	float: right;

	order: 1;
	flex: 0 0 auto;
	align-self: flex-start;
	width: clamp(3rem, 1rem + 15vw, 4rem);
	margin-block: var(--size-m);
	margin-inline-start: var(--size-m);

	@include above-medium {
		margin-block-end: 0;
		margin-inline-start: 0;
	}

	&::after,
	&-path path,
	&-hair path,
	&-glasses {
		animation-fill-mode: backwards;
		animation-iteration-count: 1;
		animation-timing-function: var(--easing-in-out);
	}

	&::after {
		content: '';
		position: absolute;
		inset-block: calc(var(--size-m) * -1);
		inset-inline-start: 0;

		width: 1.5px;

		background-color: currentColor;

		transform-origin: 50% 100%;
		animation-name: aboutLineDraw;
		animation-duration: #{$profile-anim-line-duration};
		animation-delay: #{$profile-anim-line-delay};
	}

	&-path path {
		fill: none;
		stroke: currentColor;
		stroke-width: 3;
		stroke-dasharray: 1 1;

		animation-name: aboutPathDraw;
		animation-duration: #{$profile-anim-path-duration};
		animation-delay: #{$profile-anim-path-delay};
	}

	&-hair path {
		fill: none;
		stroke: var(--t-color-main-med);
		stroke-linecap: round;
		stroke-dasharray: 1 1;

		animation-name: aboutHairGrow, aboutPathDraw;
		animation-duration: #{$profile-anim-hair-duration};
		animation-delay: #{$profile-anim-hair-delay};
	}

	&-glasses {
		fill: var(--t-color-main-min);
		animation-name: aboutGlasses;
		animation-duration: #{$profile-anim-glasses-duration};
		animation-timing-function: var(--easing-out);
		animation-delay: #{$profile-anim-glasses-delay};
	}

	&-hair--brow {
		transform-origin: 50% 50%;
		transition: transform 250ms var(--easing-in-out);
	}

	&:hover &-hair--brow {
		transform: translateY(-2%) rotate(-3deg);
		transition: transform 375ms cubic-bezier(0.67, 2.5, 0.5, -0.75);
	}
}

@keyframes aboutLineDraw {
	0% {
		transform: scaleY(0);
	}
}

@keyframes aboutPathDraw {
	0% {
		stroke-dashoffset: 1;
	}
}

@keyframes aboutHairGrow {
	0% {
		stroke-width: 0;
	}
}

@keyframes aboutGlasses {
	0% {
		opacity: 0.0001;
		transform: translateY(-15%);
	}
}

// No-JS styles for the Facts list
ul[data-facts] {
	padding-inline-start: 1em;
	list-style-position: outside;

	& > li[data-item-emoji] {
		&:not(:first-child) {
			margin-block-start: 0.375em;
		}
		&::marker {
			content: attr(data-item-emoji) '\00a0'; // nbsp
		}
	}
}

@keyframes aboutCountryTransform {
	0% {
		transform: rotate(-90deg) translateX(1.25em) rotate(90deg);
	}
	33%,
	67% {
		opacity: 0;
	}
	100% {
		transform: rotate(-450deg) translateX(1.25em) rotate(450deg);
	}
}

.about-emoji {
	&:hover {
		&::before,
		&::after {
			content: attr(data-emoji);
			position: absolute;

			padding: 0.25em;

			font-style: normal;
			line-height: 1;
			border-radius: 50%;
			background: #333;

			animation: 1.5s var(--easing-circ-out) 1 both;
			animation-name: aboutEmojiMove, aboutEmojiFade;
		}

		&::before {
			--about-magic-dir: -1;
			inset-inline-end: 100%;
		}
		&::after {
			inset-inline-start: 100%;
		}

		@media (prefers-reduced-motion: reduce) {
			&::before {
				transform: translateX(-25%) scale(1.75);
			}
			&::after {
				transform: translateX(25%) scale(1.75);
			}
		}
	}
}
@keyframes aboutEmojiMove {
	0% {
		transform: translate(calc(var(--about-magic-dir, 1) * -200%), 0) scale(0);
	}
	100% {
		transform: translate(calc(var(--about-magic-dir, 1) * 100%), -25%) scale(1.75);
	}
}
@keyframes aboutEmojiFade {
	0%,
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.about-emoji,
.about-country {
	position: relative;
	display: inline-block;
	vertical-align: baseline;

	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-color: var(--t-accent-color);
	text-decoration-thickness: 0.0625em;

	@media (prefers-reduced-motion: reduce) {
		&:hover {
			&::before,
			&::after {
				animation: none;
			}
		}
	}
}

.about-visubezier {
	width: 33%;
	max-width: 8rem;
	margin-inline: auto;

	@supports (d: path('M0 0H1')) and (cx: calc(1px * var(--c))) {
		& [data-move] {
			transition: all var(--C-base-duration) var(--easing-in-out);
		}
		&:hover [data-move='point'] {
			cx: calc(1px * var(--cx));
			cy: calc(1px * var(--cy));
		}
		&:hover [data-move='path'] {
			d: path(var(--d));
		}
		&:hover [data-move='path'] {
			d: path(var(--d));
		}
	}
}

.about-vhs {
	--vhs-transition: 200ms;
	--vhs-overlap: clamp(0.5rem, 5vw, 2rem);
	--vhs-shelf: 1.5rem;
	--vhs-bg-dark: hsl(28, 10%, 67%);
	--vhs-bg: hsl(28, 10%, 82%);

	display: grid;
	grid-template-columns: minmax(0, 1fr) auto var(--vhs-overlap) auto minmax(var(--vhs-overlap), min(8rem, 20vw)) auto var(--vhs-overlap) auto minmax(0, 1fr);
	grid-template-rows: auto auto var(--vhs-shelf) auto var(--vhs-shelf);
	padding-block: var(--size-xl);

	background: linear-gradient(90deg, var(--vhs-bg-dark), var(--vhs-bg) 25%, var(--vhs-bg) 75%, var(--vhs-bg-dark));

	&::before,
	&::after {
		content: '';
		z-index: 0;

		display: block;
		grid-column: 1 / -1;

		background: linear-gradient(90deg, transparent, var(--vhs-bg-dark), transparent) no-repeat 50% 0% / 100% 2px,
			radial-gradient(farthest-side at 50% 1px, var(--vhs-bg-dark), transparent) no-repeat 50% 0 / 100% 100%;
	}

	&::before {
		grid-row: 3;
	}
	&::after {
		grid-row: 5;
	}

	& > a {
		position: relative;

		display: block;
	}

	& > a[data-img='vhs'] {
		height: min(10rem, 30vw);

		&:nth-child(1) {
			--vhs-color: tomato;
			z-index: 1;
			grid-column: 2 / span 2;
			grid-row: 1 / span 2;
		}

		&:nth-child(2) {
			--vhs-color: goldenrod;
			z-index: 2;
			grid-column: 3 / span 2;
			grid-row: 2 / span 3;
		}

		&:nth-child(3) {
			--vhs-color: rebeccapurple;
			z-index: 2;
			grid-column: 6 / span 2;
			grid-row: 2 / span 3;
		}

		&:nth-child(4) {
			--vhs-color: thistle;
			z-index: 1;
			grid-column: 7 / span 2;
			grid-row: 1 / span 2;
		}

		& > img {
			position: relative;
			z-index: 1;

			aspect-ratio: 120 / 220;
			width: auto;
			height: 100%;

			color: white;
			background: #323232;
			box-shadow: var(--vhs-inner-shadow, 0) 0 var(--vhs-inner-shadow, 0) -1px rgba(0, 0, 0, 0.25);

			transition: box-shadow var(--vhs-transition) var(--easing-in-out);
		}

		&::before {
			content: '';
			position: absolute;
			inset: 1px;

			display: block;

			border-radius: 8px;
			background:
				/* Label lines */ linear-gradient(90deg, transparent 0, transparent 12px, #000 12px, #000 13px, transparent 13px) no-repeat 100% 50% / 45% 33%,
				/* Label */ linear-gradient(#fff, #fff) no-repeat 50% 50% / 50% 40%, /* Tape top */ radial-gradient(#5d5d5d 49%, transparent 50%) no-repeat 50% 30% / 56.25% 33%,
				/* Tape bottom */ radial-gradient(#5d5d5d 66%, transparent 67%) no-repeat 50% 70% / 50% 33%,
				/* Tape back */ linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) no-repeat 50% 50% / 50% 66%;
			background-color: var(--vhs-color, #323232);

			transform: translateX(var(--vhs-offset-x, 0));
			transition: transform var(--vhs-transition) var(--easing-in-out);
		}

		&:hover {
			--vhs-offset-x: 42%;
			--vhs-inner-shadow: 2px;
		}
	}

	& > [data-img='mug'] {
		z-index: 1;

		grid-column: 5;
		grid-row: 2;

		transform: translateY(17.5%);

		&::before,
		&::after {
			content: '💨';
			position: absolute;
			inset: 0;

			display: flex;
			justify-content: center;
			align-items: center;
			width: 1em;
			height: 1em;
			margin: auto;

			font-size: 1.5em;

			opacity: var(--mug-opacity, 1);
			filter: grayscale(1) blur(0.125em);
			transform: translateX(var(--mug-posX, 0px)) translateY(calc(var(--mug-posY, 0px) + var(--mug-offset, 0px))) rotate(-90deg);
		}

		&::before {
			--mug-posX: -0.1em;
			--mug-posY: 0.2em;
		}

		&::after {
			--mug-posX: 0.1em;
			--mug-posY: 0.4em;
			transition-delay: 200ms !important;
		}

		&:hover {
			--mug-offset: -2em;
			--mug-opacity: 0;

			&::before,
			&::after {
				transition: transform 1s var(--easing-circ-out), opacity 1s linear;
			}
		}

		& > * {
			z-index: 1;
		}

		& > svg {
			position: relative;
			width: 80%;
			margin-inline: auto;
		}
	}
}

// h/t to Ana Tudor for her many slider designs helping me figure this out!
@mixin synth-track {
	box-sizing: border-box;

	width: 100%;
	height: var(--track-thickness);

	border-radius: 0;
	box-shadow: inset 0.0625em 0.0625em 0.125em -0.0625em hsla(0, 0%, 0%, 0.5);
	background-color: #303030;
}

@mixin synth-thumb {
	box-sizing: border-box;

	width: var(--thumb-width);
	height: var(--thumb-height);
	padding: 0;

	border-style: solid;
	border-color: #5b5749 #1f1f15 #343122 #686049;
	border-width: 0.125em 0.1875em;
	border-radius: 0;
	background: linear-gradient(-45deg, #595444, #3f3b2f);
	box-shadow: 0 0.0625em 0.125em hsla(0, 0%, 0%, 0.25);

	cursor: ew-resize;

	[data-dir='v'] & {
		width: var(--thumb-height);
		height: var(--thumb-width);

		cursor: ns-resize;

		border-width: 0.1875em 0.125em;
		border-color: #686049 #5b5749 #1f1f15 #343122;
		box-shadow: -0.0625em 0 0.125em hsla(0, 0%, 0%, 0.25);
		background: linear-gradient(45deg, #595444, #3f3b2f);
	}
}
.about-synth {
	--case-text-color-light: #c5b49b;
	--case-color: #b9b2a8;
	--case-color-alt: #8d7e67;
	--accent-color: #71382d;
	--accent-color-alt: hsl(10, 80%, 51%);
	--case-text-color: hsl(10, 10%, 15%);
	--shadow-3d-out: inset 0.0625em 0.0625em 0.125em -0.0625em hsla(0, 0%, 100%, 0.5), inset -0.0625em -0.0625em 0.125em -0.0625em hsla(0, 0%, 0%, 0.5);
	--shadow-3d-drop: 0.0625em 0.0625em 0.125em hsla(0, 0%, 0%, 0.25);
	--track-vertical-height: 2em;
	--track-thickness: 0.25em;
	--thumb-thickness: 1em;
	--thumb-width: var(--thumb-thickness);
	--thumb-height: calc(2 / 3 * var(--thumb-thickness));
	--synth-keys-space-end: 0.5em;

	position: relative;

	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1em clamp(0.5em, 5vw, 2em) 0;
	pointer-events: auto;

	font-family: sans-serif;
	color: var(--case-text-color);
	border-radius: 0.5em;
	background: linear-gradient(120deg, var(--case-color), var(--case-color-alt));
	box-shadow: 0 0.25em 0.25em -0.125em rgba(0, 0, 0, 0.1), 0 0.5em 0.5em -0.25em rgba(0, 0, 0, 0.2), 0 0.75em 0.75em -0.5em rgba(0, 0, 0, 0.3), var(--shadow-3d-out);

	&-groups {
		flex: 0 0 auto;
		display: flex;
		align-items: stretch;
		gap: 0.5em;
		margin-block-end: 1em;
	}

	&-group {
		flex: 0 0 auto;
		display: flex;
		flex-direction: column;
		padding: 0.25em;
		min-width: 2.25em;

		border-radius: 0.125em;
		box-shadow: var(--shadow-3d-out), var(--shadow-3d-drop);

		&[data-synthgroup='waveform'] {
			flex-grow: 1;
		}

		&-label {
			&::before,
			&::after {
				content: '';
				flex: 1 0 0.5em;
				background: linear-gradient(var(--accent-color) calc(50% - 1px), transparent 0, transparent calc(50% + 1px), var(--accent-color) 0);
			}

			&::before {
				clip-path: polygon(0 0, 100% 0, calc(100% - 0.5em) 100%, 0 100%);
			}

			&::after {
				clip-path: polygon(0.5em 0, 100% 0, 100% 100%, 0 100%);
			}

			display: flex;
			align-items: stretch;
			gap: 0.25em;
			width: 100%;
			margin-block-end: 0.25em;

			font-size: 0.5em;
			line-height: 1;
			text-align: center;
			text-transform: lowercase;
			color: var(--accent-color);
		}

		&-line {
			display: flex;
			gap: 0.5em;
			justify-content: space-between;
			flex-wrap: wrap;
			margin: auto;
		}

		&-content {
			flex: 1 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
		}
	}

	&-waveform {
		&-labels {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		&-button {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: var(--thumb-thickness);
			padding: 0.25em 0;

			&:disabled {
				cursor: initial;
			}
		}
	}

	&-speaker {
		width: 100%;
		height: 100%;

		background: repeating-linear-gradient(-45deg, var(--case-text-color), var(--case-text-color) 0.124em, transparent 0.125em, transparent 0.25em) 50% 50%;

		&-wrap {
			flex: 1 0 1em;
			display: none;
			max-width: 6em;

			@include above-medium {
				display: flex;
			}
		}
	}

	&-branding {
		flex: 0 1 25%;
		display: none;
		flex-direction: column;
		margin-inline-start: auto;

		text-align: center;

		&-label {
			margin: auto 0;
			padding: 0.25em;

			font-weight: bold;
			line-height: 1.1;
			color: var(--case-text-color);

			& > * {
				display: inline-block;
			}

			& > :last-child {
				-webkit-text-fill-color: var(--accent-color, rgba(0, 0, 0, 0.25));
				-webkit-text-stroke: currentColor;
				-webkit-text-stroke-width: 0.05em;
			}
		}

		&-description {
			padding: 0.5em clamp(0.125em, 2vw, 1em);

			font-size: 0.5em;
			line-height: 1;
			text-transform: uppercase;

			color: var(--case-text-color-light);
			border-radius: 0 0 0.25em 0.25em;
			background-color: var(--accent-color);
		}
	}

	&-keys {
		flex: 1 0 auto;
		display: grid;
		gap: 0 0.5px;
		grid-template-columns: repeat(calc(2 * var(--synth-white-keys)), minmax(0, 1fr));
		grid-template-rows: 3fr 2fr;
		height: clamp(5em, 25vw, 8em);
		padding-block: 1px var(--synth-keys-space-end);
		padding-inline: 1px;

		background: linear-gradient(to top, transparent, hsl(37.5deg 25% 25%) calc(var(--synth-keys-space-end) * 1.5), transparent) hsl(37.5deg 14.29% 43.92%);
		box-shadow: inset 0.0625em 0.0625em 0.125em -0.0625em hsla(0, 0%, 0%, 0.5);
	}

	&-key {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding: 0.125em;

		transform-origin: 50% 0;
		perspective: 512px;

		&:not([disabled]):focus-visible {
			outline: 3px solid var(--accent-color-alt);
			outline-offset: -3px;
		}

		&:disabled {
			cursor: default;
		}

		&-label {
			display: flex;
			width: 1.5em;
			height: 1.5em;
			justify-content: center;
			align-items: center;

			font-size: 0.5em;
			border-radius: 50%;
			color: var(--fg);
			background-color: transparent;
		}

		&:not([disabled]):is(:active, [aria-pressed='true']) &-label {
			color: var(--bg);
			background-color: var(--fg);
		}

		&[data-key='white'] {
			--bg: hsl(65, 52%, 92%);
			--fg: black;

			z-index: 1;

			grid-column: calc(2 * var(--synth-key-index) - 1) / span 2;
			grid-row: 1 / span 2;

			color: var(--fg);
			border-end-start-radius: 0.25em;
			border-end-end-radius: 0.25em;
			background-color: var(--bg);
			box-shadow: var(--shadow-3d-out);

			&:not([disabled]):is(:active, [aria-pressed='true']) {
				background: linear-gradient(var(--bg), hsl(65, 32%, 80%));
				transform: rotateX(-10deg);
			}
		}

		&[data-key='black'] {
			--bg: #121619;
			--fg: white;

			z-index: 2;

			grid-column: calc(2 * var(--synth-key-index) - 2) / span 2;
			grid-row: 1 / span 1;
			margin-inline: clamp(10%, 0.5vw, 25%);
			padding-block-end: 1em;

			color: var(--fg);
			border-end-start-radius: 0.125em;
			border-end-end-radius: 0.125em;
			background: var(--bg) linear-gradient(#181d19 5%, #090d0e, #292f34, #121619 10%, #121619 80%, #292f34, #0f1415, var(--synth-black-tip, hsl(132, 5%, 15%)) 90%);
			box-shadow: 0 0.125em 0.25em hsla(0, 0%, 0%, 0.5), var(--shadow-3d-out);

			&:not([disabled]):is(:active, [aria-pressed='true']) {
				--synth-black-tip: hsl(132, 9%, 10%);
				margin-block-end: 0.125em;
				box-shadow: 0 0.125em 0.125em hsla(0, 0%, 0%, 0.75), var(--shadow-3d-out);
			}
		}

		&::before {
			content: attr(data-note);
			position: absolute;

			inset-block-end: calc(100% + 0.25em);

			font-size: 0.5em;
			color: var(--accent-color);
		}
	}

	&-slider-control {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;

		& > label {
			font-size: 0.5em;
		}
	}

	&-slider-wrap {
		width: 100%;

		line-height: 0.5;

		&[data-dir='h'] {
			display: flex;
		}

		&[data-dir='v'] {
			width: var(--thumb-thickness);
			height: var(--track-vertical-height);
		}
	}

	&-slider {
		width: 100%;
		height: var(--thumb-height);
		margin: 0;

		background: transparent;
		box-shadow: none;

		[data-dir='h'] & {
			flex: 1 0 0;
			width: 0;
		}

		[data-dir='v'] & {
			width: var(--track-vertical-height);
			max-width: var(--track-vertical-height);
			height: var(--thumb-thickness);

			transform-origin: 0 0;
			transform: rotate(-90deg) translateX(-100%);
		}

		&,
		&::-webkit-slider-runnable-track,
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
		}

		&::-webkit-slider-runnable-track {
			@include synth-track();
			margin-block-end: calc((var(--thumb-height) - var(--track-thickness)) * 0.5);

			[data-dir='v'] & {
				margin-block-end: 0;
			}
		}
		&::-moz-range-track {
			@include synth-track();
		}
		&::-ms-track {
			@include synth-track();
			border: none;
			color: transparent;
		}

		&::-webkit-slider-thumb {
			@include synth-thumb();

			margin-block-start: calc((var(--thumb-height) - var(--track-thickness)) * -0.5);

			[data-dir='v'] & {
				margin-block-start: calc((var(--thumb-width) - var(--track-thickness)) * -0.5);
			}
		}
		&::-moz-range-thumb {
			@include synth-thumb();
		}
		&::-ms-thumb {
			@include synth-thumb();
		}

		&:disabled {
			&::-webkit-slider-thumb {
				cursor: initial;
			}
			&::-moz-range-thumb {
				cursor: initial;
			}
			&::-ms-thumb {
				cursor: initial;
			}
		}

		&::-ms-fill-lower,
		&::-ms-tooltip {
			display: none;
		}
	}

	&-instructions {
		display: flex;
		justify-content: space-between;
		gap: 0.5em 2em;
		flex-wrap: wrap;
	}
}

.about-quotebox {
	--flow-space: var(--size-xl);
	--quotebox-grad-pos: calc(100% * (1 - var(--t-is-dark))) calc(100% * (1 - var(--t-is-dark)));

	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--size-m);

	font-size: 0.875em;
	font-family: var(--quotebox-font, var(--fontstack-serif));
	font-weight: var(--quotebox-weight, bold);
	font-style: var(--quotebox-style, italic);
	text-transform: var(--quotebox-transform, none);
	letter-spacing: var(--quotebox-tracking, initial);
	text-align: center;
	line-height: 1.1;

	color: var(--t-color-main-max);
	border-radius: var(--quotebox-corner-radius, calc(4 * var(--t-corner-radius)));
	background: var(--t-color-main-min)
		radial-gradient(
			farthest-corner at var(--quotebox-grad-pos, 100% 100%),
			var(--quotebox-bg-start, var(--t-color-main-min)),
			66.7%,
			var(--quotebox-bg-end, var(--t-color-main-med))
		);
}

@include above-small {
	.about-synth-branding {
		display: flex;
	}

	.about-synth-group[data-synthgroup='waveform'] {
		flex-grow: 0.25;
	}
}

@include above-medium {
	@include subgrid {
		[data-section='about'] main.container {
			// Add more columns within!
			--container-inner-cols: 5;
			--container-inner-def: repeat(var(--container-inner-cols), minmax(0px, calc((var(--C-content-width) + (2 * var(--C-content-gutter))) / var(--container-inner-cols))));
			--container-inner-gutter: 0px; // Gutter is its own track we can remove and replace with the gap property

			& > .container {
				row-gap: 0px;
				column-gap: calc(var(--C-content-gutter) * 2);
			}
		}

		.about-visubezier {
			grid-column: container-start / span 1;
			width: 100%;
			margin-inline: 0;
			align-self: center;
			justify-self: center;
		}
		.about-visubezier + p {
			grid-column: span calc(var(--container-inner-cols) - 1);
		}

		[data-about='creative'] {
			grid-column: container-start / span calc(var(--container-inner-cols) - 1);
		}
		[data-about='creative'] + .about-quotebox {
			grid-column: span 1;
			margin: 0;
		}

		[data-about='personal'] {
			grid-column: container-start / span 1;
		}
		[data-about='personal'] + p {
			--flow-space: var(--size-2xs);
			grid-column: span calc(var(--container-inner-cols) - 1);
		}

		[data-about='contact'] {
			grid-column: container-start / span calc(var(--container-inner-cols) - 2);
		}
		[data-about='contact'] + .about-quotebox {
			grid-column: span 2;
			margin: 0;
		}

		.about-quotebox {
			--flow-space: 0;
		}
	}
}

html.no-js .nojs-hidden {
	display: none !important;
}
