@use 'sass:math';

$grid-line-anim-time: 4s;
$sun-radius: 20vmin;
$sun-blind-size: math.div($sun-radius, 12);
$mark-depth-factor-x: 1;
$mark-depth-factor-y: 0.9;
$wire-count: 8;
$wire-init-delay: 0.75s;
$wire-step-delay: 0.0625s;
$wire-anim-time: 0.75s;
$wire-factor: 0.25;
$wire-final-end: $wire-init-delay + $wire-step-delay * ($wire-count - 1) + $wire-anim-time;
$greeting-init-delay: $wire-init-delay * 2;
$greeting-anim-time: 0s;
$flash-anim-delay: $wire-final-end - $wire-step-delay * $wire-count;
$flash-anim-time: 1.25s;
$chris-anim-time: 1.25s;
$chris-anim-delay: $flash-anim-delay + $flash-anim-time * 0.5;
$creadev-anim-delay: $chris-anim-delay + $chris-anim-time * 0.25;
$creadev-anim-time: 1.5s;
$shine-anim-time: 1.5s;
$shine-anim-delay: 1.25s + $creadev-anim-delay;
$glare-anim-time: 1s;
$glare-anim-delay: $shine-anim-delay + $shine-anim-time * 0.5;

@include default-schemes('home') {
	@include generate-light-dark-vars('home-sky-end', #ecb43a, #791e74);
	@include generate-light-dark-vars('home-floor-start', #f774b5, #1e0347);
	@include generate-light-dark-vars('home-grid-line', rebeccapurple, cyan);

	--home-sun-upper-top: #ff0095;
	--home-sun-upper-middle: #ffafa3;
	--home-sun-upper-bottom: #ffffe9;
	--home-sun-lower-top: #ff0095;
	@include generate-light-dark-vars('home-sun-lower-end', #ff9ece, #1e1230);
	--home-sun-glow: #ed23afbf;
	--home-sun-glow-alpha: #ed23af00;

	--home-chris-inner: #130026;
	--home-chris-upper-a: #260039;
	--home-chris-upper-b: #7a11ba;
	--home-chris-upper-c: #fd57b7;
	--home-chris-upper-d: #fddcc0;
	--home-chris-lower-a: #7e004e;
	--home-chris-lower-b: #ed23af;
	--home-chris-outline-a: #e04fab;
	--home-chris-outline-b: #4f045f;

	@include generate-light-dark-vars('home-chris-depth-hue', 274, 244);
	@include generate-light-dark-vars('home-chris-depth-sat', 2, 1);
	@include generate-light-dark-vars('home-chris-depth-lux', 5%, 0%);

	--home-creadev-stroke: var(--t-color-primary-max);
	--home-creadev-fill: var(--t-color-primary-min);
}

@include theme('vapor', 'home') {
	// --home-sky-start: #0089da;
	--home-sky-start: #82dee800;
	--home-sky-end: #82dee8;
	--home-floor-start: #f365bc;
	--home-floor-end: #f3d4e6;
	--home-grid-line: #dcdbe1;

	--home-sun-upper-top: #ea5bc4;
	--home-sun-upper-middle: #eeafbf;
	--home-sun-upper-bottom: #f5f7b6;
	--home-sun-lower-top: #ff00c3;
	--home-sun-lower-end: #ff9ece00;
	--home-sun-glow: #f2acfa;
	--home-sun-glow-alpha: #f2acfa00;

	--home-chris-wire-hue: 300;
	--home-chris-flash-glow: #ff00ff;
	--home-chris-inner: #130026;
	--home-chris-upper-a: #50588c;
	--home-chris-upper-b: #1f7cc3;
	--home-chris-upper-c: #8bd8f4;
	--home-chris-upper-d: #cafff1;
	--home-chris-lower-a: #ff64cb;
	--home-chris-lower-b: #f4b4f4;
	--home-chris-outline-a: #f9b0ec;
	--home-chris-outline-b: #f6f3fc;

	--home-chris-depth-hue: 200;
	--home-chris-depth-sat: 2;
	--home-chris-depth-lux: 5%;

	--home-creadev-stroke: var(--home-grid-line);
	--home-creadev-fill: var(--t-color-primary-min);
	--home-creadev-font: var(--t-font-heading);

	.u-background-bg-alt-color {
		background: hsla(294, 95%, 65%, 0.1);
	}
}

@include theme('y2k', 'home') {
	$home-bg-image: asset-path(get-token('themes', 'y2k', 'images', 'home-bg-image'));
	--home-sky-start: #4d90fb;
	--home-sky-end: #c2e6fb;
	--home-floor-start: #8fbe20;
	--home-floor-end: #395808;

	--home-bg-mask: tan;
	--home-bg-image: #75a9ea url('#{$home-bg-image}') no-repeat 50% 50% / cover;

	--home-chris-wire-hue: 90;
	--home-chris-flash-glow: #00ff00;
	--home-chris-inner: #001544;
	--home-chris-upper-a: #0060ed;
	--home-chris-upper-b: #4d90fb;
	--home-chris-upper-c: #86b4ff;
	--home-chris-upper-d: #c2e6fb;
	--home-chris-lower-a: #8fbe20;
	--home-chris-lower-b: #395808;
	--home-chris-outline-a: #84e7fc;
	--home-chris-outline-b: #0f75bd;

	--home-chris-depth-hue: 191;
	--home-chris-depth-sat: 2;
	--home-chris-depth-lux: 5%;

	--home-creadev-stroke: #588dce;
	--home-creadev-stroke-width: 0.25em;
	--home-creadev-fill: white;
	--home-creadev-font: Tahoma, Verdana, Arial, sans-serif;

	.home-grid,
	.home-background::before,
	.home-background::after {
		display: none;
	}
}

@include theme('neotokyo', 'home') {
	--home-sky-start: var(--t-color-primary-max);
	--home-sky-end: var(--t-color-primary-med);
	--home-floor-start: #0c313d;
	--home-floor-end: var(--t-color-primary-max);
	--home-grid-line: var(--t-color-primary-min);

	--home-sun-upper-top: #f9103d;
	--home-sun-upper-middle: #bf092d;
	--home-sun-upper-bottom: #791d4f;
	--home-sun-lower-top: #67193d;
	--home-sun-lower-end: #67193d00;
	--home-sun-glow: #ff5778;
	--home-sun-glow-alpha: #ff577800;

	--home-chris-wire-hue: 348;
	--home-chris-flash-glow: #ff0033;
	--home-chris-inner: #33000a;
	--home-chris-upper-a: #2b0214;
	--home-chris-upper-b: #6f0221;
	--home-chris-upper-c: #d30e36;
	--home-chris-upper-d: #fa1140;
	--home-chris-lower-a: #4a1225;
	--home-chris-lower-b: #bb072b;
	--home-chris-outline-a: #a3928a;
	--home-chris-outline-b: #c9bfb6;

	--home-chris-depth-hue: 348;
	--home-chris-depth-sat: 5;
	--home-chris-depth-lux: 5%;

	--home-creadev-stroke: var(--t-color-secondary-max);
	--home-creadev-fill: var(--t-color-secondary-min);
	--home-creadev-font: var(--t-font-heading);

	.home-title::after {
		content: 'クリス';

		position: absolute;
		inset: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		font-family: serif;
		font-size: calc(min(100vw, 60rem) * 0.175);
		line-height: 1em;
		font-weight: 900;
		letter-spacing: 0.25em;
		color: var(--t-color-primary-min);
		text-shadow: -2px 2px 0 var(--t-color-primary-max);

		// filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cfilter id='sarasquiggly'%3E%3CfeTurbulence id='t' baseFrequency='0.4 0.2' numOctaves='2' result='n' seed='0' /%3E%3CfeDisplacementMap id='d' in='SourceGraphic' in2='n' scale='-4' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E#sarasquiggly");
		filter: url('#sarasquiggly');

		animation: svgMarkCreaDev #{$creadev-anim-time} #{$creadev-anim-delay - ($creadev-anim-time * 0.25)} both var(--easing-circ-out);
	}
}

[data-section='home'] .home {
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	min-height: #{$sun-radius * 3};

	contain: content;
	isolation: isolate;

	&-content {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	&-background {
		$sun-gradient: linear-gradient(
				180deg,
				var(--home-sun-upper-top) 0,
				12.5%,
				var(--home-sun-upper-middle) 30%,
				var(--home-sun-upper-bottom) 50%,
				var(--home-sun-lower-top) 50%,
				82.5%,
				var(--home-sun-lower-end) 100%
			)
			no-repeat 50% 50% / 100% #{$sun-radius * 2};
		$sun-glow-gradient: radial-gradient(
				circle at 50% 100%,
				var(--home-sun-glow-alpha) #{$sun-radius * 0.875},
				#{$sun-radius * 0.975},
				var(--home-sun-glow) #{$sun-radius},
				var(--home-sun-glow) #{$sun-radius + 0.1},
				#{$sun-radius + 0.2},
				var(--home-sun-glow-alpha) #{$sun-radius * 1.325}
			)
			no-repeat 50% 0 / 100% 50%;

		/* Sky layer */
		--home-bg-mask-default: linear-gradient(tan 50%, 66.7%, #0000 95%);
		--home-bg-default:
            /* Horizon glow */ radial-gradient(ellipse 150% 20% at 50% 100%, var(--home-sun-glow) 0%, 2.5%, var(--home-sun-glow-alpha) 75%) no-repeat 50%
				0 / 100% 50%,
			/* Full sky */ linear-gradient(var(--home-sky-start, var(--ctx-bg)) 0%, var(--home-sky-end) 50%, var(--home-floor-start) 50%, var(--home-floor-end, var(--ctx-bg)) 100%);
		background: var(--home-bg-image, var(--home-bg-default));

		// Fade out the grid at the bottom
		-webkit-mask-image: var(--home-bg-mask, var(--home-bg-mask-default));
		mask-image: var(--home-bg-mask, var(--home-bg-mask-default));

		&,
		&::before,
		&::after {
			content: '';

			position: absolute;
			inset: 0;
		}

		/* Sun layer */
		&::before {
			--home-disc-mask-default: radial-gradient(circle at 50% 50%, tan #{$sun-radius * 0.99}, transparent #{$sun-radius * 1.01}) no-repeat 50% 50%;
			--home-lines-mask-default: repeating-linear-gradient(tan 0, tan #{$sun-blind-size}, transparent #{$sun-blind-size}, transparent #{$sun-blind-size * 2}) repeat-x 50%
				100% / 100% 50%;

			background: #{$sun-gradient};
			-webkit-mask: var(--home-disc-mask, var(--home-disc-mask-default)), var(--home-lines-mask, var(--home-lines-mask-default));
			-webkit-mask-composite: source-out;
			mask: var(--home-disc-mask, var(--home-disc-mask-default)) subtract, var(--home-lines-mask, var(--home-lines-mask-default));
		}

		&::after {
			background: #{$sun-glow-gradient};
		}
	}

	&-grid {
		contain: content;
		position: relative;
		top: 50%; // Leave 50% for the background, and use the remaining 50% for the floor

		width: 100%;

		filter: drop-shadow(0 0 0.5vmin var(--home-grid-line, cyan));

		& > path {
			fill: none;
			stroke: var(--home-grid-line, cyan);
			stroke-width: 1.5px;
			stroke-width: clamp(0.75px, 0.1vw, 1.5px);
			vector-effect: non-scaling-stroke;
		}
	}

	&-title {
		position: relative;

		max-width: 100%; // Counter the default h1's max-width of 60ch

		& > svg {
			width: 60rem;
			contain: content;
		}
	}

	&-svg {
		&__wire {
			--w-pow: calc((var(--wire-count) + 1) / (var(--w) + 1));
			--w-delay: calc(#{$wire-step-delay} * var(--w));
			--w-scale-x: calc(1 + (1 / 10 * (var(--wire-count) - var(--w))) * #{$mark-depth-factor-x} * #{$wire-factor} + 0.0125);
			--w-scale-y: calc(1 + (1 / 10 * (var(--wire-count) - var(--w))) * #{$mark-depth-factor-y} * #{$wire-factor} + 0.0125);
			// --w-translateY: calc(var(--w-pow) * #{ $wire-factor });

			opacity: 0;
			transform: scale(var(--w-scale-x), var(--w-scale-y)); // translateY(calc(var(--w-translateY) * -1%));

			animation-name: fadeInOut;
			animation-iteration-count: 1;
			animation-fill-mode: both;
			animation-duration: #{$wire-anim-time};
			animation-timing-function: steps(1);
			animation-delay: calc(#{$wire-init-delay} + var(--w-delay));
		}

		&__chris-flash {
			opacity: 0.0001;
			animation-name: fadeInOut;
			animation-iteration-count: 1;
			animation-timing-function: ease;
			animation-delay: #{$flash-anim-delay};
			pointer-events: none;
		}

		&__chris-flash {
			animation-fill-mode: both;
			animation-duration: #{$flash-anim-time};
		}

		&__group {
			animation-name: svgMarkReset;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}

		&__chris-depth {
			fill: currentColor;
			stroke: currentColor;

			opacity: 1;

			// Backfill from 100% scale to the faked depth
			animation-name: svgMarkUnreset;
			animation-fill-mode: backwards;
			animation-duration: 1s;
			animation-delay: #{$chris-anim-delay - $wire-step-delay * ($wire-count * 0.5)};
			animation-timing-function: var(--easing-out);
		}

		&__chris-main {
			opacity: 0;

			animation-name: svgMarkReset;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
			animation-duration: 0.1s;
			animation-delay: #{$chris-anim-delay};
			animation-timing-function: steps(1);
		}

		&__creativedeveloper-text {
			stroke: var(--home-creadev-stroke);
			stroke-width: var(--home-creadev-stroke-width, 0.1875em);
			fill: var(--home-creadev-fill);
			paint-order: stroke;

			font-size: 1.185rem;
			font-family: var(--home-creadev-font, var(--fontstack-sans-serif));
			font-weight: 300;

			opacity: 1;

			animation-name: svgMarkCreaDev;
			animation-duration: #{$creadev-anim-time};
			animation-delay: #{$creadev-anim-delay};
			animation-fill-mode: both;
			animation-timing-function: var(--easing-circ-out);
		}

		&__glare-group {
			transform-origin: 0 0; // Keep this at 0 0 since the glare is placed relative to the top-left corner so the element's rotation is anchored properly
			transform: translate(76%, 34.5%) rotate(30deg); // Translate coordinate are hard-coded based on SVG viewBox
		}

		&__glare {
			transform: scale(0, 0) rotate(-270deg);
			animation-duration: #{$glare-anim-time};
			animation-delay: #{$glare-anim-delay};
			animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
		}

		&__name-shineOver {
			animation: shineOver #{$shine-anim-time} var(--easing-in-out) #{$shine-anim-delay} 1 both;
		}

		&__name-shineOver--delayed {
			animation-duration: #{$shine-anim-time - 0.125s};
			animation-delay: #{$shine-anim-delay + 0.25s};
		}
	}

	@keyframes fadeInOut {
		0%,
		100% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
	}

	@keyframes scaleOut {
		0% {
			transform: scale(0.5);
		}
		100% {
			transform: scale(1.5);
		}
	}

	@keyframes svgMarkUnreset {
		0% {
			opacity: 1;
			transform: none;
		}
	}

	@keyframes svgMarkReset {
		100% {
			opacity: 1;
			transform: none;
		}
	}

	@keyframes svgMarkCreaDev {
		0% {
			opacity: 0.0001;
			transform: scaleX(1.25);
		}
		100% {
			opacity: 1;
			transform: scaleX(1);
		}
	}

	@keyframes shineOver {
		0% {
			transform: translateX(82.5%);
			opacity: 0;
		}
		1%,
		99% {
			opacity: 1;
		}
		100% {
			transform: translateX(-82.5%);
			opacity: 0;
		}
	}
}

.subsection--quickaccess {
	grid-template-areas:
		'head url2'
		'url1 url2'
		'url1 url3'
		'also url3';
}
.subsection--writing {
	grid-template-areas:
		'head head'
		'post body'
		'post ctas';
}
