@use 'sass:math';

.homescreen {
	$grid-line-anim-time: 4s;
	$sun-radius: 20vmin;
	$sun-blind-size: math.div($sun-radius, 12);

	@include default-schemes {
		@include generate-light-dark-vars('homescreen-sky-end', #ecb43a, #791e74);
		@include generate-light-dark-vars('homescreen-floor-start', #f774b5, #1e0347);
		@include generate-light-dark-vars('homescreen-grid-line', rebeccapurple, cyan);

		@include generate-light-dark-vars('homescreen-sun-lower-end', #ff9ece, #1e1230);
		--homescreen-sun-upper-top: #ff0095;
		--homescreen-sun-upper-middle: #ffafa3;
		--homescreen-sun-upper-bottom: #ffffe9;
		--homescreen-sun-lower-top: #ff0095;
		--homescreen-sun-glow: #ed23afbf;
		--homescreen-sun-glow-alpha: #ed23af00;

		--homescreen-chris-inner: #130026;
		--homescreen-chris-upper-a: #260039;
		--homescreen-chris-upper-b: #7a11ba;
		--homescreen-chris-upper-c: #fd57b7;
		--homescreen-chris-upper-d: #fddcc0;
		--homescreen-chris-lower-a: #7e004e;
		--homescreen-chris-lower-b: #ed23af;
		--homescreen-chris-outline-a: #e04fab;
		--homescreen-chris-outline-b: #4f045f;

		@include generate-light-dark-vars('homescreen-chris-depth-hue', 274, 244);
		@include generate-light-dark-vars('homescreen-chris-depth-sat', 2, 1);
		@include generate-light-dark-vars('homescreen-chris-depth-lux', 5%, 0%);

		--homescreen-creadev-stroke: var(--t-color-primary-max);
		--homescreen-creadev-fill: var(--t-color-primary-min);
	}

	@include theme('vapor') {
		// --homescreen-sky-start: #0089da;
		--homescreen-sky-start: #82dee800;
		--homescreen-sky-end: #82dee8;
		--homescreen-floor-start: #f365bc;
		--homescreen-floor-end: #f3d4e6;
		--homescreen-grid-line: #dcdbe1;

		--homescreen-sun-upper-top: #ea5bc4;
		--homescreen-sun-upper-middle: #eeafbf;
		--homescreen-sun-upper-bottom: #f5f7b6;
		--homescreen-sun-lower-top: #ff00c3;
		--homescreen-sun-lower-end: #ff9ece00;
		--homescreen-sun-glow: #f2acfa;
		--homescreen-sun-glow-alpha: #f2acfa00;

		--homescreen-chris-wire-hue: 300;
		--homescreen-chris-flash-glow: #ff00ff;
		--homescreen-chris-inner: #130026;
		--homescreen-chris-upper-a: #50588c;
		--homescreen-chris-upper-b: #1f7cc3;
		--homescreen-chris-upper-c: #8bd8f4;
		--homescreen-chris-upper-d: #cafff1;
		--homescreen-chris-lower-a: #ff64cb;
		--homescreen-chris-lower-b: #f4b4f4;
		--homescreen-chris-outline-a: #f9b0ec;
		--homescreen-chris-outline-b: #f6f3fc;

		--homescreen-chris-depth-hue: 200;
		--homescreen-chris-depth-sat: 2;
		--homescreen-chris-depth-lux: 5%;

		--homescreen-creadev-stroke: var(--homescreen-grid-line);
		--homescreen-creadev-fill: var(--t-color-primary-min);
		--homescreen-creadev-font: var(--t-font-heading);

		.content-fullbleed.u-background-bg-alt-color {
			--ctx-bg: inherit;
			background: linear-gradient(var(--t-bg-alt-color) 2px, transparent 0, transparent calc(100% - 2px), var(--t-bg-alt-color) 0);
		}
	}

	@include theme('y2k') {
		$homescreen-bg-image: asset-path(get-token('themes', 'y2k', 'images', 'homescreen-bg-image'));
		--homescreen-sky-start: #4d90fb;
		--homescreen-sky-end: #c2e6fb;
		--homescreen-floor-start: #8fbe20;
		--homescreen-floor-end: #395808;
		--homescreen-grid-line: transparent;

		--homescreen-sun-upper-top: transparent;
		--homescreen-sun-upper-middle: transparent;
		--homescreen-sun-upper-bottom: transparent;
		--homescreen-sun-lower-top: transparent;
		--homescreen-sun-lower-end: transparent;
		--homescreen-sun-glow: transparent;
		--homescreen-sun-glow-alpha: transparent;

		--homescreen-bg-mask: tan;
		--homescreen-bg-image: #75a9ea url('#{$homescreen-bg-image}') no-repeat 50% 50% / cover;
		--homescreen-disc-mask: tan;
		--homescreen-lines-mask: tan;

		--homescreen-chris-wire-hue: 90;
		--homescreen-chris-flash-glow: #00ff00;
		--homescreen-chris-inner: #001544;
		--homescreen-chris-upper-a: #0060ed;
		--homescreen-chris-upper-b: #4d90fb;
		--homescreen-chris-upper-c: #86b4ff;
		--homescreen-chris-upper-d: #c2e6fb;
		--homescreen-chris-lower-a: #8fbe20;
		--homescreen-chris-lower-b: #395808;
		--homescreen-chris-outline-a: #84e7fc;
		--homescreen-chris-outline-b: #0f75bd;

		--homescreen-chris-depth-hue: 191;
		--homescreen-chris-depth-sat: 2;
		--homescreen-chris-depth-lux: 5%;

		--homescreen-creadev-stroke: #588dce;
		--homescreen-creadev-fill: white;
		--homescreen-creadev-font: Tahoma, Verdana, Arial, sans-serif;
	}

	display: flex;
	justify-content: stretch;
	align-items: stretch;
	min-height: #{$sun-radius * 3};

	contain: content;
	isolation: isolate;

	&-content {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	&-background {
		$sun-gradient: linear-gradient(
				180deg,
				var(--homescreen-sun-upper-top) 0,
				12.5%,
				var(--homescreen-sun-upper-middle) 30%,
				var(--homescreen-sun-upper-bottom) 50%,
				var(--homescreen-sun-lower-top) 50%,
				82.5%,
				var(--homescreen-sun-lower-end) 100%
			)
			no-repeat 50% 50% / 100% #{$sun-radius * 2};
		$sun-glow-gradient: radial-gradient(
				circle at 50% 100%,
				var(--homescreen-sun-glow-alpha) #{$sun-radius * 0.875},
				#{$sun-radius * 0.975},
				var(--homescreen-sun-glow) #{$sun-radius},
				#{$sun-radius * 1.03625},
				var(--homescreen-sun-glow-alpha) #{$sun-radius * 1.325}
			)
			no-repeat 50% 0 / 100% 50%;

		/* Sky layer */
		--homescreen-bg-mask-default: linear-gradient(tan 50%, 66.7%, #0000 95%);
		--homescreen-bg-default:
            /* Horizon glow */ radial-gradient(
					ellipse 150% 20% at 50% 100%,
					var(--homescreen-sun-glow) 0%,
					12.5%,
					var(--homescreen-sun-glow-alpha) 50%
				)
				no-repeat 50% 0 / 100% 50%,
			/* Full sky */
				linear-gradient(
					var(--homescreen-sky-start, var(--ctx-bg)) 0%,
					var(--homescreen-sky-end) 50%,
					var(--homescreen-floor-start) 50%,
					var(--homescreen-floor-end, var(--ctx-bg)) 100%
				);
		background: var(--homescreen-bg-image, var(--homescreen-bg-default));

		// Fade out the grid at the bottom
		-webkit-mask-image: var(--homescreen-bg-mask, var(--homescreen-bg-mask-default));
		mask-image: var(--homescreen-bg-mask, var(--homescreen-bg-mask-default));

		&,
		&::before,
		&::after {
			content: '';

			position: absolute;
			inset: 0;
		}

		/* Sun layer */
		&::before {
			--homescreen-disc-mask-default: radial-gradient(circle at 50% 50%, tan #{$sun-radius * 0.99}, transparent #{$sun-radius * 1.01}) no-repeat 50% 50%;
			--homescreen-lines-mask-default: repeating-linear-gradient(tan 0, tan #{$sun-blind-size}, transparent #{$sun-blind-size}, transparent #{$sun-blind-size * 2}) repeat-x
				50% 100% / 100% 50%;

			background: #{$sun-gradient};
			-webkit-mask: var(--homescreen-disc-mask, var(--homescreen-disc-mask-default)), var(--homescreen-lines-mask, var(--homescreen-lines-mask-default));
			-webkit-mask-composite: source-out;
			mask: var(--homescreen-disc-mask, var(--homescreen-disc-mask-default)) subtract, var(--homescreen-lines-mask, var(--homescreen-lines-mask-default));
		}

		&::after {
			background: #{$sun-glow-gradient};
		}
	}

	&-grid {
		contain: content;
		position: relative;
		top: 50%; // Leave 50% for the background, and use the remaining 50% for the floor

		width: 100%;

		filter: drop-shadow(0 0 0.5vmin var(--homescreen-grid-line, cyan));

		& > path {
			fill: none;
			stroke: var(--homescreen-grid-line, cyan);
			stroke-width: 1.5px;
			stroke-width: clamp(0.75px, 0.1vw, 1.5px);
			vector-effect: non-scaling-stroke;
		}
	}

	&-title {
		position: relative;

		max-width: 100%; // Counter the default h1's max-width of 60ch

		& > svg {
			width: 60rem;
			contain: content;
		}
	}

	&-svg {
		$mark-depth-factor-x: 1;
		$mark-depth-factor-y: 0.9;
		$wire-count: 8;
		$wire-init-delay: 0.75s;
		$wire-step-delay: 0.0625s;
		$wire-anim-time: 0.75s;
		$wire-factor: 0.25;
		$wire-final-end: $wire-init-delay + $wire-step-delay * ($wire-count - 1) + $wire-anim-time;
		$greeting-init-delay: $wire-init-delay * 2;
		$greeting-anim-time: 0s;
		$flash-anim-delay: $wire-final-end - $wire-step-delay * $wire-count;
		$flash-anim-time: 1.25s;
		$chris-anim-time: 1.25s;
		$chris-anim-delay: $flash-anim-delay + $flash-anim-time * 0.5;
		$creadev-anim-delay: $chris-anim-delay + $chris-anim-time * 0.25;
		$creadev-anim-time: 1.5s;
		$shine-anim-time: 1.5s;
		$shine-anim-delay: 1.25s + $creadev-anim-delay;
		$glare-anim-time: 1s;
		$glare-anim-delay: $shine-anim-delay + $shine-anim-time * 0.5;

		&__wire {
			--w-pow: calc((var(--wire-count) + 1) / (var(--w) + 1));
			--w-delay: calc(#{$wire-step-delay} * var(--w));
			--w-scale-x: calc(1 + (1 / 10 * (var(--wire-count) - var(--w))) * #{$mark-depth-factor-x} * #{$wire-factor} + 0.0125);
			--w-scale-y: calc(1 + (1 / 10 * (var(--wire-count) - var(--w))) * #{$mark-depth-factor-y} * #{$wire-factor} + 0.0125);
			// --w-translateY: calc(var(--w-pow) * #{ $wire-factor });

			opacity: 0;
			transform: scale(var(--w-scale-x), var(--w-scale-y)); // translateY(calc(var(--w-translateY) * -1%));

			animation-name: svgMarkFadeInOut;
			animation-iteration-count: 1;
			animation-fill-mode: both;
			animation-duration: #{$wire-anim-time};
			animation-timing-function: steps(1);
			animation-delay: calc(#{$wire-init-delay} + var(--w-delay));
		}

		&__horizon-flash,
		&__chris-flash {
			opacity: 0.0001;
			animation-name: svgMarkFadeInOut;
			animation-iteration-count: 1;
			animation-timing-function: ease;
			animation-delay: #{$flash-anim-delay};
			pointer-events: none;
		}

		&__chris-flash {
			animation-fill-mode: both;
			animation-duration: #{$flash-anim-time};
		}

		&__horizon-flash {
			animation-name: svgMarkFadeInOut, scaleOut;
			animation-duration: #{$flash-anim-time};
			animation-timing-function: linear, ease;
		}

		&__group {
			animation-name: svgMarkReset;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}

		&__chris-depth {
			fill: currentColor;
			stroke: currentColor;

			opacity: 1;

			// Backfill from 100% scale to the faked depth
			animation-name: svgMarkUnreset;
			animation-fill-mode: backwards;
			animation-duration: 1s;
			animation-delay: #{$chris-anim-delay - $wire-step-delay * ($wire-count * 0.5)};
			animation-timing-function: var(--easing-out);
		}

		&__chris-main {
			opacity: 0;

			animation-name: svgMarkReset;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
			animation-duration: 0.1s;
			animation-delay: #{$chris-anim-delay};
			animation-timing-function: steps(1);
		}

		&__creativedeveloper-text {
			stroke: var(--homescreen-creadev-stroke);
			stroke-width: 0.1875em;
			fill: var(--homescreen-creadev-fill);
			paint-order: stroke;

			font-size: 1.185rem;
			font-family: var(--homescreen-creadev-font, var(--font-fallback-sans-serif));
			font-weight: 300;

			opacity: 1;

			animation-name: svgMarkCreaDev;
			animation-duration: #{$creadev-anim-time};
			animation-delay: #{$creadev-anim-delay};
			animation-fill-mode: both;
			animation-timing-function: var(--easing-circ-out);
		}

		&__glare-group {
			transform-origin: 0 0; // Keep this at 0 0 since the glare is placed relative to the top-left corner so the element's rotation is anchored properly
			transform: translate(76%, 34.5%) rotate(30deg); // Translate coordinate are hard-coded based on SVG viewBox
		}

		&__glare {
			transform: scale(0, 0) rotate(-270deg);
			animation-duration: #{$glare-anim-time};
			animation-delay: #{$glare-anim-delay};
			animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
		}

		&__name-shineOver {
			animation: shineOver #{$shine-anim-time} var(--easing-in-out) #{$shine-anim-delay} 1 both;
		}

		&__name-shineOver--delayed {
			animation-duration: #{$shine-anim-time - 0.125s};
			animation-delay: #{$shine-anim-delay + 0.25s};
		}
	}

	@keyframes svgMarkGreeting {
		// Extends to ensure descenders/text-shadow don't get clipped too eagerly
		0% {
			clip-path: polygon(0 0, 0 0, -2rem 100%, -2rem 100%);
		}
		100% {
			clip-path: polygon(0 0, calc(100% + 2rem) 0, 100% 100%, -2rem 100%);
		}
	}

	@keyframes svgMarkFadeInOut {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	@keyframes scaleOut {
		0% {
			transform: scale(0.5);
		}
		100% {
			transform: scale(1.5);
		}
	}

	@keyframes svgMarkUnreset {
		0% {
			opacity: 1;
			transform: none;
		}
	}

	@keyframes svgMarkReset {
		100% {
			opacity: 1;
			transform: none;
		}
	}

	@keyframes svgMarkCreaDev {
		0% {
			opacity: 0.0001;
			transform: scaleX(1.25);
		}
		100% {
			opacity: 1;
			transform: scaleX(1);
		}
	}

	@keyframes shineOver {
		0% {
			transform: translateX(82.5%);
			opacity: 0;
			// visibility: hidden;
		}
		1% {
			opacity: 1;
			// visibility: visible;
		}
		99% {
			opacity: 1;
			// visibility: visible;
		}
		100% {
			transform: translateX(-82.5%);
			opacity: 0;
			// visibility: hidden;
		}
	}
}

.subsection--quickaccess {
	grid-template-areas:
		'head url2'
		'url1 url2'
		'url1 url3'
		'also url3';
}
.subsection--writing {
	grid-template-areas:
		'post head'
		'post body'
		'post ctas';
}
