<div class="about-marquee | content-breakout">
    <div class="about-marquee-inner">
        <p>
            <span lang="en">Cheers</span>
            <span lang="fr">Santé</span>
            <span lang="da">Skål</span>
            <span lang="it">Salute</span>
            <span lang="ja">かんぱい</span>
        </p>
    </div>
</div>