{% set cheers = {
    en: "Cheers",
    fr: "Santé",
    da: "Skål",
    it: "Salute",
    ja: "かんぱい"
} %}
<div class="about-cheers" style="--n:{{ cheers | length }}">
<p>
{%- for lang, cheer in cheers -%}
<span lang="{{ lang }}" style="--i:{{ loop.index0 }}">{{ cheer | safe }}</span>
{%- endfor -%}
</p>
</div>