<div class="about-facts">
<button type="button" data-fact="get" class="about-fact-get u-width100" style="--btn-justify-content:center">
{% renderFile "question" | svgUrl, { class: "inline-icon" } %}
{{ 'page.randomFact' | i18n }}
</button>
<p data-fact="show" class="about-fact-show | u-marginInline-s u-padding-m u-background-bg-alt-color u-color-heading-color u-textAlign-center" hidden></p>

<script>
{% set aboutFactsScript %}
(function(){
    const factDisplayEl = document.querySelector('[data-fact="show"]');
    const facts = {{ facts | dump | safe }};
    let currentFactIndex = -1;
    function getNewRandom(list, excluded = -1) {
        let randNumber = Math.floor(Math.random() * list.length);
        if (randNumber !== excluded) {
            return randNumber;
        }
        return getNewRandom(list, excluded);
    }
    function getNewFact() {
        const newFactIndex = getNewRandom(facts, currentFactIndex);

        if (factDisplayEl.hidden || currentFactIndex === -1) {
            factDisplayEl.hidden = false;
        }

        factDisplayEl.textContent = facts[newFactIndex];
        currentFactIndex = newFactIndex;
    }
    document.querySelector('[data-fact="get"]').addEventListener('click', getNewFact);
})()
{% endset %}
{{ aboutFactsScript | jsmin | safe }}
</script>
</div>