<div class="about-facts">
<button type="button" data-fact="get" class="about-fact-get u-width100" style="--btn-justify-content:center">
{% renderFile "question" | svgUrl, { class: "inline-icon" } %}
{{ 'page.randomFact' | i18n }}
</button>
<p data-fact="show" class="about-fact-show | u-marginInline-s u-padding-m u-background-bg-alt-color u-color-alt-color u-textAlign-center" hidden></p>

<script>
{% set aboutFactsScript %}
(function(){
	// The order of the facts is random on page load, but then each button click ensures a sequential fact so you can see them all if you really want without repetition
	function shuffle(toShuffle) {
		for (let i = (toShuffle.length - 1); i > 0; i -= 1) {
			const randomIndex = Math.floor(Math.random() * (i + 1));
			[toShuffle[i], toShuffle[randomIndex]] = [toShuffle[randomIndex], toShuffle[i]];
		}
		return toShuffle;
	}
	const factDisplayEl = document.querySelector('[data-fact="show"]');
	const facts = shuffle({{ facts | dump | safe }});
	let currentFactIndex = -1;

	function newFact() {
		const newFactIndex = (currentFactIndex + 1) % facts.length;

		if (factDisplayEl.hidden || currentFactIndex === -1) {
			factDisplayEl.hidden = false;
		}

		factDisplayEl.textContent = facts[newFactIndex];
		currentFactIndex = newFactIndex;
	}
	document.querySelector('[data-fact="get"]').addEventListener('click', newFact);
})()
{% endset %}
{{ aboutFactsScript | jsmin | safe }}
</script>
</div>