{% set notes = ['C','D','E','F','G','A','B'] %}
{% set octaves = 2 %}
{% set whitesPerOctave = 7 %}
{% set noteCount = (octaves * whitesPerOctave) + 1 %}
{% set keysStartX = 9.3 %}
{% set keysStartY = 26.3 %}
{% set whiteKeyWidth = 186.12 / noteCount | round(4) %}
{% set blackKeyWidth = whiteKeyWidth * 2/3 | round(4) %}
{% set whiteKeyCount = octaves * whitesPerOctave %}

{% setAsync "synthMarkup" %}
<div class="flow">
    <div
        class="about-synth"
        aria-label="Synth"
    >
        <div class="about-synth-groups">
            <div class="about-synth-group about-synth-speaker-wrap" aria-hidden="true">
                <div class="about-synth-speaker"></div>
            </div>

            <div class="about-synth-group">
                <div class="about-synth-group-label" lang="en">WAVEFORM</div>
                <div class="about-synth-group-content">
                    <div class="about-synth-waveform-labels">
                        <button onclick="document.getElementById('synth-waveform').value=1" type="button" class="button-reset about-synth-waveform-button" data-synth-type="sinewave" data-about-action="synth-set-type" aria-label="Sinewave waveform" lang="en" disabled>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12"><path fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M2,6s2-8,8,0,8,0,8,0"/></svg>
                        </button>

                        <button onclick="document.getElementById('synth-waveform').value=2" type="button" class="button-reset about-synth-waveform-button" data-synth-type="triangle" data-about-action="synth-set-type" aria-label="Triangle waveform" lang="en" disabled>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12"><path fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="m2 10 8-8 8 8"/></svg>
                        </button>

                        <button onclick="document.getElementById('synth-waveform').value=3" type="button" class="button-reset about-synth-waveform-button" data-synth-type="square" data-about-action="synth-set-type" aria-label="Square waveform" lang="en" disabled>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12"><path fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M2 10V2h8v8h8V2"/></svg>
                        </button>

                        <button onclick="document.getElementById('synth-waveform').value=4" type="button" class="button-reset about-synth-waveform-button" data-synth-type="sawtooth" data-about-action="synth-set-type" aria-label="Sawtooth waveform" lang="en" disabled>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12"><path fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M2 10V2l16 8V2"/></svg>
                        </button>
                    </div>
                    <div class="about-synth-slider-wrap">
                        <input class="about-synth-slider" type="range" min="1" max="4" step="1" id="synth-waveform" value="1" disabled>
                    </div>
                </div>
            </div>

            <div class="about-synth-group">
                <div class="about-synth-group-label">Envelope</div>
                <div class="about-synth-group-line">
                    <div  class="about-synth-slider-control">
                        <label for="synth-osc-attack" aria-label="Attack" title="Attack">ATK</label>
                        <div class="about-synth-slider-wrap" data-dir="v">
                            <input class="about-synth-slider" id="synth-osc-attack" type="range" min="0" max="10" step="1" value="0" disabled>
                        </div>
                    </div>
                    <div  class="about-synth-slider-control">
                        <label for="synth-osc-decay" aria-label="Decay" title="Decay">DCY</label>
                        <div class="about-synth-slider-wrap" data-dir="v">
                            <input class="about-synth-slider" id="synth-osc-decay" type="range" min="0" max="10" step="1" value="5" disabled>
                        </div>
                    </div>
                    <div  class="about-synth-slider-control">
                        <label for="synth-osc-sustain" aria-label="Sustain" title="Sustain">STN</label>
                        <div class="about-synth-slider-wrap" data-dir="v">
                            <input class="about-synth-slider" id="synth-osc-sustain" type="range" min="0" max="10" step="1" value="8" disabled>
                        </div>
                    </div>
                    <div  class="about-synth-slider-control">
                        <label for="synth-osc-release" aria-label="Release" title="Release">RLS</label>
                        <div class="about-synth-slider-wrap" data-dir="v">
                            <input class="about-synth-slider" id="synth-osc-release" type="range" min="0" max="10" step="1" value="2" disabled>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-synth-branding">
                <div class="about-synth-branding-label">
                    <span>Chris&shy;tone</span>
                    <span>KN-92</span>
                </div>
                <div class="about-synth-branding-description">
                    Electronic Musical Instrument
                </div>
            </div>
        </div>

        <div class="about-synth-keys" style="--synth-white-keys: {{ whiteKeyCount + 1 }};">
            {% for w in range(0, noteCount) %}
                {% set noteIndex = w % 7 %}
                {% set note = notes[ noteIndex ] %}
                {% set octave = ((w / 7) | round(0, "floor")) + (1 if (noteIndex < 5) else 2) %}
                <button type="button" style="--synth-key-index: {{ w + 1 }}" class="button-reset about-synth-key" data-key="white" data-note="{{ note }}" data-octave="{{ octave }}" aria-label="{{ note }}{{ octave }}" aria-pressed="false" disabled>
                    <span class="about-synth-key-label"></span>
                </button>
            {% endfor %}
            
            {% for b in range(1, whiteKeyCount) %}
                {% set noteIndex = b % 7 - 1 %}
                {% set note = notes[ noteIndex ] %}
                {% set octave = ((b / 7) | round(0, "floor")) + (1 if (noteIndex < 5) else 2) %}
                {% if b % 7 !== 0 and ((b + 4) % 7 !== 0) %}
                    <button type="button" style="--synth-key-index: {{ b + 1 }}" class="button-reset about-synth-key" data-key="black" data-note="{{ note }}#" data-octave="{{ octave }}" aria-label="{{ note }}#{{ octave }}" aria-pressed="false" disabled>
                        <span class="about-synth-key-label"></span>
                    </button>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="about-synth-instructions">
        <fieldset class="toggleswitch">
            <label class="toggleswitch-label" for="about-synth-keyboard-layout-switch">
                {{ 'page.synth.keyboardMode' | i18n }}{{ 'grammar.punctSp' |i18n }}:
            </label>
            
            <span class="toggleswitch-value" data-value="false">QWERTY</span>
            <span class="toggleswitch-toggle">
                <input type="checkbox" role="switch" aria-checked="{% if lang == 'fr' %}true{% else %}false{% endif %}" {% if lang == 'fr' %}checked{% endif %} class="toggleswitch-checkbox" id="about-synth-keyboard-layout-switch">

                <label class="toggleswitch-back" aria-hidden="true" for="about-synth-keyboard-layout-switch">
                    <span class="toggleswitch-thumb"></span>
                </label>
            </span>
            <span class="toggleswitch-value" data-value="true">AZERTY</span>
        </fieldset>

        <p>
            {% svg "info", { class: 'inline-icon' } %}
            {{ 'page.synth.instructions' | i18n | safe }}
        </p>
    </div>
</div>
{% endsetAsync %}
{{ synthMarkup | htmlmin | safe }}

<script>
{% set synthScript %}
(function(){
    {% include "assets/js/about-synth.js" %}
})()
{% endset %}
{{ synthScript | jsmin('aboutSynth') | safe }}
</script>