{% set notes = ['C','D','E','F','G','A','B'] %}
{% set octaves = 2 %}
{% set whitesPerOctave = 7 %}
{% set whiteKeyCount = octaves * whitesPerOctave %}
{% set noteCount = 1 + whiteKeyCount %}

{% setAsync "synthMarkup" %}
<div class="flow">
    <div
        class="about-synth"
        aria-label="{{ 'page.synth.label' | i18n }}"
    >
        <a class="skip-link" href="#synth-after" data-skiplink="local">{{ 'page.synth.skipButtons' | i18n }}</a>

        <div class="about-synth-groups">
            <div class="about-synth-group about-synth-speaker-wrap" aria-hidden="true">
                <div class="about-synth-speaker"></div>
            </div>

            <div class="about-synth-group" data-synthgroup="waveform">
                <label class="about-synth-group-label" for="synth-waveform">WAVEFORM</label>
                <div class="about-synth-group-content">
                    <div class="about-synth-waveform-labels">
                        <button onclick="document.getElementById('synth-waveform').value=1" type="button" class="button-reset about-synth-waveform-button" data-synth-type="sinewave" data-about-action="synth-set-type" disabled>
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="12" viewBox="0 0 20 12"><path fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M2,6s2-8,8,0,8,0,8,0"/></svg>
                            <span class="visually-hidden" lang="en">Sinewave waveform</span>
                        </button>

                        <button onclick="document.getElementById('synth-waveform').value=2" type="button" class="button-reset about-synth-waveform-button" data-synth-type="triangle" data-about-action="synth-set-type" disabled>
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="12" viewBox="0 0 20 12"><path fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="m2 10 8-8 8 8"/></svg>
                            <span class="visually-hidden" lang="en">Triangle waveform</span>
                        </button>

                        <button onclick="document.getElementById('synth-waveform').value=3" type="button" class="button-reset about-synth-waveform-button" data-synth-type="square" data-about-action="synth-set-type" disabled>
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="12" viewBox="0 0 20 12"><path fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M2 10V2h8v8h8V2"/></svg>
                            <span class="visually-hidden" lang="en">Square waveform</span>
                        </button>

                        <button onclick="document.getElementById('synth-waveform').value=4" type="button" class="button-reset about-synth-waveform-button" data-synth-type="sawtooth" data-about-action="synth-set-type" disabled>
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="12" viewBox="0 0 20 12"><path fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M2 10V2l16 8V2"/></svg>
                            <span class="visually-hidden" lang="en">Sawtooth waveform</span>
                        </button>
                    </div>
                    <div class="about-synth-slider-wrap" data-dir="h">
                        <input class="about-synth-slider" type="range" min="1" max="4" step="1" id="synth-waveform" value="1" disabled>
                    </div>
                </div>
            </div>

            <div class="about-synth-group">
                <div class="about-synth-group-label">Envelope</div>
                <div class="about-synth-group-line">
                    <div  class="about-synth-slider-control">
                        <label for="synth-osc-attack" aria-label="Attack" title="Attack">ATK</label>
                        <div class="about-synth-slider-wrap" data-dir="v">
                            <input class="about-synth-slider" id="synth-osc-attack" type="range" min="0" max="10" step="1" value="0" disabled>
                        </div>
                    </div>
                    <div  class="about-synth-slider-control">
                        <label for="synth-osc-decay" aria-label="Decay" title="Decay">DCY</label>
                        <div class="about-synth-slider-wrap" data-dir="v">
                            <input class="about-synth-slider" id="synth-osc-decay" type="range" min="0" max="10" step="1" value="5" disabled>
                        </div>
                    </div>
                    <div  class="about-synth-slider-control">
                        <label for="synth-osc-sustain" aria-label="Sustain" title="Sustain">STN</label>
                        <div class="about-synth-slider-wrap" data-dir="v">
                            <input class="about-synth-slider" id="synth-osc-sustain" type="range" min="0" max="10" step="1" value="8" disabled>
                        </div>
                    </div>
                    <div  class="about-synth-slider-control">
                        <label for="synth-osc-release" aria-label="Release" title="Release">RLS</label>
                        <div class="about-synth-slider-wrap" data-dir="v">
                            <input class="about-synth-slider" id="synth-osc-release" type="range" min="0" max="10" step="1" value="2" disabled>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-synth-group">
                <div class="about-synth-group-label">Filter</div>
                <div class="about-synth-group-line">
                    <div  class="about-synth-slider-control">
                        <label for="synth-osc-filter" aria-label="Lowpass Filter" title="Lowpass Filter">LPF</label>
                        <div class="about-synth-slider-wrap" data-dir="v">
                            <input class="about-synth-slider" id="synth-osc-filter" type="range" min="0" max="100" step="1" value="100" disabled>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-synth-branding">
                <div class="about-synth-branding-label">
                    <span>Chris&shy;tone</span>
                    <span>KN-92</span>
                </div>
                <div class="about-synth-branding-description">
                    Electronic Musical Instrument
                </div>
            </div>
        </div>

        <div class="about-synth-keys" style="--synth-white-keys: {{ whiteKeyCount + 1 }};">
            {# {% for w in range(0, noteCount) %}
                {% set noteIndexW = w % 7 %}
                {% set noteW = notes[ noteIndexW ] %}
                {% set octaveW = ((w / 7) | round(0, "floor")) + (1 if (noteIndexW < 5) else 2) %}
                <button type="button" style="--synth-key-index: {{ w + 1 }}" class="button-reset about-synth-key" data-key="white" data-note="{{ noteW }}" data-octave="{{ octaveW }}" aria-label="{{ noteW }}{{ octaveW }}" aria-pressed="false" disabled>
                    <kbd class="about-synth-key-label"></kbd>
                </button>
            {% endfor %}
            
            {% for b in range(1, whiteKeyCount) %}
                {% set noteIndexB = b % 7 - 1 %}
                {% set noteB = notes[ noteIndexB ] %}
                {% set octaveB = ((b / 7) | round(0, "floor")) + (1 if (noteIndexB < 5) else 2) %}
                {% if b % 7 !== 0 and ((b + 4) % 7 !== 0) %}
                    <button type="button" style="--synth-key-index: {{ b + 1 }}" class="button-reset about-synth-key" data-key="black" data-note="{{ noteB }}#" data-octave="{{ octaveB }}" aria-label="{{ noteB }}#{{ octaveB }}" aria-pressed="false" disabled>
                        <kbd class="about-synth-key-label"></kbd>
                    </button>
                {% endif %}
            {% endfor %} #}

            {% for w in range(0, noteCount) %}
                {% set noteIndexW = w % 7 %}
                {% set noteW = notes[ noteIndexW ] %}
                {% set octaveW = ((w / 7) | round(0, "floor")) + (1 if (noteIndexW < 5) else 2) %}
                <button type="button" style="--synth-key-index: {{ w + 1 }}" class="button-reset about-synth-key" data-key="white" data-note="{{ noteW }}" data-octave="{{ octaveW }}" aria-label="{{ noteW }}{{ octaveW }}" aria-pressed="false" disabled>
                    <kbd class="about-synth-key-label"></kbd>
                </button>
                {% set b = w + 1 %}
                {% set noteIndexB = b % 7 - 1 %}
                {% set noteB = notes[ noteIndexB ] %}
                {% set octaveB = ((b / 7) | round(0, "floor")) + (1 if (noteIndexB < 5) else 2) %}
                {% if b % 7 !== 0 and ((b + 4) % 7 !== 0) and b < noteCount %}
                    <button type="button" style="--synth-key-index: {{ b + 1 }}" class="button-reset about-synth-key" data-key="black" data-note="{{ noteB }}#" data-octave="{{ octaveB }}" aria-label="{{ noteB }}#{{ octaveB }}" aria-pressed="false" disabled>
                        <kbd class="about-synth-key-label"></kbd>
                    </button>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="about-synth-instructions | nojs-hidden">
        <fieldset class="toggleswitch">
            <legend class="visually-hidden">{{ 'page.synth.keyboardMode' | i18n }}</legend>
            <span class="toggleswitch-label" aria-hidden="true" for="about-synth-keyboard-layout-switch">
                {{ 'page.synth.keyboardMode' | i18n }}{{ 'grammar.punctSp' | i18n }}:
            </span>
            
            <span class="toggleswitch-value" id="synth-layoutmode-off" data-value="false">
                <span class="visually-hidden">{{ 'grammar.offWord' | i18n }}{{ 'grammar.punctSp' |i18n }}: </span>
                QWERTY<span class="visually-hidden">.</span>
            </span>

            <span class="toggleswitch-value" id="synth-layoutmode-on" data-value="true">
                <span class="visually-hidden">{{ 'grammar.onWord' | i18n }}{{ 'grammar.punctSp' |i18n }}: </span>
                AZERTY<span class="visually-hidden">.</span>
            </span>

            <span class="toggleswitch-toggle">
                <input
                    type="checkbox"
                    role="switch"
                    aria-checked="{% if lang == 'fr' %}true{% else %}false{% endif %}"
                    {% if lang == 'fr' %}checked{% endif %}
                    class="toggleswitch-checkbox"
                    id="about-synth-keyboard-layout-switch"
                    aria-labelledby="synth-layoutmode-off synth-layoutmode-on"
                >

                <label class="toggleswitch-back" aria-hidden="true" for="about-synth-keyboard-layout-switch">
                    <span class="toggleswitch-thumb" aria-label="{{ 'page.synth.keyboardMode' | i18n }}"></span>
                </label>
            </span>
        </fieldset>

        <p>
            {% svg "info", { class: 'inline-icon' } %}
            {{ 'page.synth.instructions' | i18n | safe }}
        </p>
    </div>

    <div aria-hidden="true" id="synth-after" tabindex="-1" style="--flow-space:0"></div>
</div>
{% endsetAsync %}
{{ synthMarkup | htmlmin | safe }}