<svg class="about-visubezier" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256" stroke-miterlimit="4">
    <rect x="46" y="46" width="164" height="164" fill="var(--t-color-gray-max)"/>
    <g fill="none" stroke="var(--t-color-secondary-med)" stroke-width="6">
        <line x1="210" y1="87" x2="46" y2="87" />
        <line x1="210" y1="128" x2="46" y2="128" />
        <line x1="210" y1="169" x2="46" y2="169" />
        <line x1="87" y1="210" x2="87" y2="46" />
        <line x1="128" y1="210" x2="128" y2="46" />
        <line x1="169" y1="210" x2="169" y2="46" />
    </g>
    <rect x="46" y="46" width="164" height="164" fill="none" stroke="var(--t-color-gray-med)" stroke-width="8"/>
    <g fill="var(--t-color-primary-min)">
        <circle cx="84" cy="9.9" r="8.1"/>
        <circle cx="138.3" cy="86" r="8.1" data-move="point"/>
    </g>
    <g fill="none" stroke="var(--t-color-primary-min)" stroke-width="6">
        <line x1="205.3" y1="50.3" x2="84" y2="9.9" />
        <path d="M50 206L138.3 86" data-move="line"/>
        <path d="M50 206C138.3 86 84 10 205.3 50.3" data-move="spline" />
    </g>
</svg>