---js
{
	tags: ['_designs'],
	pagination: {
		data: 'designs',
		size: 1,
		alias: 'design',
		addAllPagesToCollections: true,
		before: function(paginationData, fullData) {
			paginationData.sort((a,b) => new Date(a.date) - new Date(b.date));
			return paginationData;
		}
	},
	eleventyComputed: {
		permalink: "designs/{{ design.slug | slug }}/",
		pageTitle: "{{ design.name | safe }}",
		title: "{{ design.name | stripHyphenChars | safe }} — Design",
		subtitle: "{{ design.description | safe }}",
		summary: "{{ design.description | safe }} | Design by Christopher Kirk-Nielsen",
		customMetaImage: "{{ '/' + assets.imagesDir + '/designs/' + design.img }}",
		date: (data) => new Date(data.design.date),
	},
	backlink: { url: "/designs/", label: "Back to Designs" }
}
---

<article class="standbyme">
	{% if design.img %}
	<div class="standbyme-wide">
		<img src="{{ '/' + assets.imagesDir + '/designs/' + design.img | url }}" alt="" width="600" height="600" class="u-width100 u-corner">
	</div>
	{% endif %}

	<div class="standbyme-narrow | flow">

	{% if design.links %}
		<h2>Available on</h2>
		<ul class="flow">
			{%- for site, url in design.links %}
			<li><a href="{{ url | url }}">{{ site }}</li>
			{% endfor -%}
		</ul>
	{% endif %}

	{% if design.note %}<p class="u-fontStyle-italic u-fontSize-smaller">{% markdown true %}{{ design.note }}{% endmarkdown %}</p>{% endif %}
	
	{% if design.variant %}
		<h2 class="h3">Variant{% if (design.variant | length) != 1 %}s{% endif %}</h2>
		<ul class="flow">
			{%- for variantSlug in design.variant %}
			{% set variantDesign = designs | find('slug', variantSlug) %}
			<li><a href="{{ '/designs/' + (variantDesign.slug | slug) + '/' | url }}">{{ variantDesign.name | safe }}</a></li>
			{% endfor -%}
		</ul>
	{% endif %}
	
	{% if design.similar %}
		<h2 class="h3">Similar designs</h2>
		<ul class="flow">
			{%- for otherDesignSlug in design.similar %}
			{% set otherDesign = designs | find('slug', otherDesignSlug) %}
			<li><a href="{{ '/designs/' + (otherDesign.slug | slug) + '/' | url }}">{{ otherDesign.name | safe }}</a></li>
			{% endfor -%}
		</ul>
	{% endif %}
	</div>
</article>

<script>{%- include "assets/js/design-backlink.js" -%}</script>