---
title: Designs
subtitle: A collection of posters and shirt designs I've made, available across multiple print-on-demand shops.
summary: Shirt, poster and sticker designs by Christopher Kirk-Nielsen
bigboiCta: { url: '/designs.xml', icon: 'rss', label: 'Design Feed' }
rssFeedOverride: '/designs.xml'
---

{% set activeDesigns = designs | selectattr('showInGallery') %}

<div class="u-textAlign-center">
	<h2 class="visually-hidden" id="designs-shops-label">Shops</h2>
	<ul class="inline-list | u-fontWeight-bold u-fontSize-smallest" style="--lh:var(--C-base-line-height)" aria-labelledby="designs-shops-label">
		{% for merchStore, merchUrl in metadata.merch %}
			{% set storeIconName %}store-icon-{{ merchStore | lower }}{% endset %}
			{% if merchStore == 'CottonBureau' %}
				<li hidden>{% svg storeIconName, { class: 'store-icon', id: storeIconName } %}</li>
			{% else %}
			<li class="store-item">
				<a href="{{ merchUrl | url }}">
					{% svg storeIconName, { class: 'store-icon', id: storeIconName } %}
					{{ merchStore }}
				</a>
			</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>

<hr>

<filtered-tiles class="custom-element custom-element--passthrough" filters="{{ activeDesigns | pluck('tags') | flatten | unique | sort | join(",") }}" filter-class="u-marginBlockEnd-xl">
	<div data-filtered-tiles-group class="gridlist" style="--spaced-items-gap:var(--size-m);">
	{% for design in activeDesigns %}
		{% set designPermalink = '/designs/' + design.slug + '/' | url %}
		{% set designAttrs %}
			id="{{ design.slug }}"
			{% if enableViewTransitions %}style="view-transition-name:{{ design.slug }}"{% endif %}
			data-tags="{%- for tag in design.tags -%}
				{{ tag }}
				{%- if not loop.last %},{% endif -%}
			{%- endfor -%}"
			aria-hidden="false"
		{% endset %}
		{% setAsync "designVariant" -%}
			{% if design.variant %}
				<div class="cardblock-badge | spaced-items inlined-items">
					{% svg "arrow-bidir", { class: "inline-icon" } %}
					<span>Variant available</span>
				</div>
			{% endif %}
		{%- endsetAsync %}
		{% set designLinks %}
			<ul role="list" class="spaced-items inlined-items | u-marginBlockStart-auto u-fontSize-smallest" {% if enableViewTransitions %}style="view-transition-name:{{ design.slug }}-list;"{% endif %}>
				{%- for site, url in design.links %}
				{% set siteIconId %}store-icon-{{ site | lower }}{% endset %}
				<li>
					<a href="{{ url | url }}" class="store-icon-linkwrap | u-display-block">
						<span class="visually-hidden">Get on {{ site }}</span>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1080 1080" class="store-icon-inline" aria-hidden="true">
							<title>{{ site }}</title>
							<use href="#{{ siteIconId }}" fill="currentColor" />
						</svg>
					</a>
				</li>
				{% endfor -%}
			</ul>
		{% endset%}

		{% component "griditem", {
			gridItem: design,
			gridItemAttrs: designAttrs,
			gridItemTitle: design.name,
			gridItemTitleSpacer: 'm',
			gridItemImage: '/' + assets.imagesDir + '/designs/' + design.img,
			gridItemPermalink: designPermalink,
			gridCoverlink: false,
			gridItemContent: designLinks,
			gridItemLazyImage: loop.index >= 8,
			gridItemImageDecorator: designVariant
		} %}
	{% endfor %}
	</div>

	<template data-filtered-tiles-template>
		<div class="filtering-item">
			<input type="radio" class="visually-hidden">
			<label class="filtering-tag"></label>
		</div>
	</template>
</filtered-tiles>

<script>
{% include "assets/js/webcomponents/filtered-tiles.js" %}
</script>
