---
title: Designs
subtitle: A collection of posters and shirt designs I've made, available across multiple online shops.
summary: Shirt and poster designs by Christopher Kirk-Nielsen
---

{% set activeDesigns = designs | filterBoolProp('showInGallery') %}

<div class="u-textAlign-center">
	<p class="visually-hidden">Shops:</p>
	<ol class="inline-list | u-fontWeight-bold u-fontSize-smallest">
		{% for merchStore, merchUrl in metadata.merch %}
			<li><a href="{{ merchUrl | url }}">{{ merchStore }}</a>
		{% endfor %}
	</ol>
</div>

<hr>

<fieldset class="filtering" hidden>
	<script>document.querySelector('.filtering').hidden=false</script>
	<legend class="visually-hidden">Filter</legend>
	<div class="filtering-legend | u-fontWeight-bold" aria-hidden="true">Filter</div>

	<div class="filtering-item">
		<input type="radio" name="filter" class="visually-hidden" id="filter-all" value="" checked>
		<label for="filter-all" class="filtering-tag | button">All</label>
	</div>

	{% for tag in activeDesigns | pluck('tags') | flatten | unique | sort %}
	<div class="filtering-item">
		<input type="radio" name="filter" id="filter-{{ tag }}" class="visually-hidden" value="{{ tag | toLowercase }}">
		<label for="filter-{{ tag }}" class="filtering-tag | button">{{ tag }}</label>
	</div>
	{% endfor %}
</fieldset>

<div class="gridlist u-marginBlockStart-xl" data-filtered-list="idle">
{% for design in activeDesigns %}
	{% set designPermalink = '/designs/' + design.slug + '/' | url %}
	<article
		class="cardblock"
		id="{{ design.slug }}"
		data-filtered-item
		data-tags="
		{%- for tag in design.tags -%}
			{{ tag }}
			{%- if not loop.last %},{% endif -%}
		{%- endfor -%}
		"
		aria-hidden="false"
	>
		{% if design.img %}
		<div class="cardblock-image">
			<a href="{{ designPermalink }}" aria-label="{{ design.name }}" tabindex="-1">
				<img
				src="{{ '/' + assets.imagesDir + '/designs/' + design.img | url }}"
				srcset="
					{{ '/' + assets.imagesDir + '/designs/' + design.img + '?nf_resize=fit&w=300' | url }} 300w,
					{{ '/' + assets.imagesDir + '/designs/' + design.img | url }} 600w
				"
				sizes="
					(max-width: 575px) 90vw,
					(max-width: 847px) 40vw,
					(max-width: 1023px) 30vw,
					300px
				"
				alt=""
				width="600"
				height="600"
				{{ ('loading="lazy"' | safe) if loop.index >= 8 }}
				/>
			</a>
		</div>
		{% endif %}

		<div class="cardblock-content">
			<h2 class="cardblock-title | h5 | u-marginBlockEnd-s">
				<a href="{{ designPermalink }}" class="heading-link">{{- design.name -}}</a>
			</h2>
			
			<ul role="list" class="inline-list | u-marginBlockStart-auto u-fontSize-smallest">
				{%- for site, url in design.links %}
				<li>
					<a href="{{ url | url }}">
						<span class="visually-hidden">{{ design.name }} on</span>
						{{ site }}
					</a>
				</li>
				{% endfor -%}
			</ul>
		</div>
	</article>
{% endfor %}
</div>

<script>
{% set designsFilter %}
(function() {
	let hashIndicator = 'filter:';
	let initialHash = window.location.hash.slice(1);
	let items = [].slice.call(document.querySelectorAll('[data-tags]'));
	let list = document.querySelector('[data-filtered-list]');
	let tagList = [].slice.call(document.querySelectorAll('.filtering-item'));
	let duration = 500;
	list.style.setProperty('--t', duration + 'ms');

	function filterTo(filter, skipAnim = false) {
		let isShowAll = (filter === '');
		let prefersReducedMotion = window.matchMedia('(prefers-reduced-motion: reduce)').matches;
		
		// Don't animate in certain conditions
		if (skipAnim || prefersReducedMotion) {
			items.forEach(function(item) {
				let tags = item.getAttribute('data-tags').split(',');
				let isShown = (tags.indexOf(filter) > -1) || isShowAll;
				item.setAttribute('aria-hidden', (!isShown).toString());
			});
			return;
		}

		let listGeometry = list.getBoundingClientRect();

		list.setAttribute('data-filtered-list', 'change');

		items.forEach(function(item) {
			let tags = item.getAttribute('data-tags').split(',');
			let wasShown = item.getAttribute('aria-hidden') === 'false';
			let isShown = (tags.indexOf(filter) > -1) || isShowAll;
			let first = item.getBoundingClientRect();
			item.setAttribute('data-first', JSON.stringify(first));
			item.setAttribute('data-shown-from-to', JSON.stringify({ was: wasShown, is: isShown}));
		});

		items.forEach(function(item) {
			let shown = JSON.parse(item.getAttribute('data-shown-from-to'));
			let wasShown = shown.was;
			let isShown = shown.is;
			let first = JSON.parse(item.getAttribute('data-first'));
			item.setAttribute('aria-hidden', (!isShown).toString());
			let last = item.getBoundingClientRect();
			let invert = { x: first.left - last.left, y: first.top - last.top};

			if (wasShown && !isShown) {
				invert = { x: first.left - listGeometry.left, y: first.top - listGeometry.top };
				item.style.visibility = 'visible';
				item.style.width = `${first.width}px`;
				item.style.height = `${first.height}px`;
			}
			let transform = `translate(${invert.x}px, ${invert.y}px) scale(${ (!wasShown && isShown) ? '0' : '1' })`;
			item.style.transform = transform;
		});
		
		requestAnimationFrame(function() {
			list.setAttribute('data-filtered-list', 'idle');
			items.forEach((item) => {
				item.style.transform = '';
				item.addEventListener('transitionend', () => {
					item.style.visibility = '';
					item.style.width = '';
					item.style.height = '';
				}, { once: true });
				item.removeAttribute('data-first');
				item.removeAttribute('data-shown-from-to');
			});
		});

		history.replaceState(undefined, '', filter ? ('#' + hashIndicator + filter) : '#');
	}

	if (initialHash.indexOf(hashIndicator) === 0) {
		let baseFilter = initialHash.slice(hashIndicator.length);
		let filterSelectBox = document.querySelector('#filter-' + (baseFilter || 'all'));
		if (!filterSelectBox) {
			baseFilter = '';
			filterSelectBox = document.querySelector('#filter-all');
		}
		filterSelectBox.checked = true;
		filterTo(baseFilter, true);
	}

	document.addEventListener('input', function(e) {
		let radio = e.target.closest('[name="filter"]');
		if (!radio) {
			return;
		}
		let filter = radio.value;
		filterTo(filter);
	});
})();
{% endset %}
{# {{- designsFilter | jsmin | safe -}} #}
{{- designsFilter | safe -}}
</script>
