---
layout: layouts/feed.njk
permalink: designs.xml
collectionPostsLocaleName: designs
eleventyExcludeFromCollections: true
injectDescription: true
feedTitle: "chriskirknielsen Designs"
feedSubtitle: "Shirt, poster and sticker designs by Christopher Kirk-Nielsen"
---