---
title: "Font Direct&shy;ory"
subtitle: A collection of (nerdy) typefaces I made in my spare time
summary: You might find a cool, nerdy font by Christopher Kirk-Nielsen here
---

<div class="gridlist" data-grid-cols="3">
{% for font in collections.fonts | sort(false, false, "inputPath") %}
	{% set fontDesc %}<p class="u-marginBlockStart-auto u-fontSize-smallest">{{ font.data.summary }}</p>{% endset %}
    {% renderFile "griditem.njk" | incPath("components"), {
		gridItem: font,
		gridCoverlink: true,
		gridItemTitle: font.data.title,
		gridItemImage: font.data.customMetaImage,
		gridItemPermalink: (font.url | url),
		gridItemContent: fontDesc,
		gridItemLazyImage: loop.index >= 8
	} %}
{% endfor %}
</div>