---
title: Games
subtitle: These are some of my favourite games
permalink: /games/
layout: layouts/page.njk
section: games
templateEngineOverride: njk
games: [
    {
        category: "Adventure",
        title: "Jak & Daxter: The Precursor Legacy",
        developer: "Naughty Dog",
        platform: "PS2",
        year: 2001,
        blurb: "The game that started it all for me: fan-sites, web development, graphic design… Such a colourful game, and it still looks amazing to this day. It's a platformer that embraces a cartoony look, all set in a more “primitive” world but with some mysterious technology from an ancient civilisation. I play it every few years, feels like visiting an old friend; it's a nice ”place“ to visit from my childhood. While the sequels are different (I also played those a lot), the original is where my heart's at.",
        goat: true,
        similar: ["Kena: Bridge of Spirits"]
    },
    {
        category: "Narrative",
        title: "The Last of Us",
        developer: "Naughty Dog",
        platform: "PS3",
        year: 2013,
        blurb: "Not your typical zombie game, as it has an excellent narrative core (in addition to solid gameplay). I generally love what Naughty Dog creates, but TLOU might just take the cake in terms of storytelling: on point and gut-wrenching. One of my favourites out there. I appreciate the sequel as well but this one has a special place in my heart as one of the first games to be that mature and hit me emotionally in ways I didn't know gaming could.",
        goat: true
    },
    {
        category: "Narrative",
        title: "Firewatch",
        developer: "Campo Santo",
        platform: "PS4",
        year: 2018,
        blurb: "You pack up and decide to become a fire lookout in Wyoming in 1989. Your only contact is with another lookout via walkie-talkie, and weird stuff is happening… I love this game for what it makes me feel and think about, and for the imagery it conjures in my mind (thanks, [Olly Moss](http://ollymoss.com/#/firewatch/)!). It triggers a feeling of _fernweh_ for me, and the story provides the melancholy, forming a rather unforgettable experience. (also it inspired this site's Campfire theme!)",
        goat: true
    },
    {
        category: "Narrative",
        title: "The Invincible",
        developer: "Starward Industries",
        platform: "PS5",
        year: 2023,
        blurb: "You're on a deserted, alien planet named Regis III. You don't remember how you got there, and your only lifeline is the captain of your spaceship, helping you via radio. The Invincible is based on a book of the same name by Stanisław Lem, which I read after playing this, and I enjoyed both! The game has a choice-driven story, and wonderful atompunk aesthetics. It's a little inspired by Firewatch and that is what initially drew me towards it (and the visuals). The story is pretty cool and the retrofuturism vibes are on point, not to mention the beautiful environments… check it out, and then go read the book!"
    },
    {
        category: "Adventure",
        title: "Journey",
        developer: "Thatgamecompany",
        platform: "PS3",
        year: 2012,
        blurb: "Not a single word spoken, yet a highly emotional game. The visuals are gorgeous, the music is incredible, and the gameplay is simple. It carries its name well as you go through beautiful ruins in a sun-coated desert, towards the summit of the mountain which seems out of reach…",
        similar: ["Abzû"]
    },
    {
        category: "Puzzle",
        title: "Outer Wilds",
        developer: "Mobius Digital",
        platform: "PS4/5",
        year: 2019,
        blurb: "A 21-minute timeloop, and a mystery to solve in an alien solar system, all with a quaint art style and amazing music. I cannot express enough how much I love this game and the sense of awe it instilled in me. Play this! The DLC is really good, too.",
        goat: true
    },
    {
        category: "Adventure",
        title: "Final Fantasy IX",
        developer: "Squaresoft",
        platform: "PlayStation",
        year: 2000,
        blurb: "I love old-school RPGs, especially Final Fantasy VII through X (XII kinda lost me…). FFIX has a gorgeous art style that's a bit medieval/industrial, an eclectic cast, and engaging gameplay (turned-based!), you can bet I spent hundreds of hours playing this back in the day, so much so that my PlayStation stopped playing discs… Good times!",
        similar: ["Legend of Dragoon"]
    },
    {
        category: "Adventure",
        title: "Ratchet & Clank 2: Going Commando",
        developer: "Insomniac Games",
        platform: "PS2",
        year: 2003,
        blurb: "I have an all-around love for Ratchet & Clank games, they are fun and very creative. Though I think the second entry in the series really cemented it for me. I played it over and over as a kid, just a great, well-made game."
    },
    {
        category: "Adventure",
        title: "Deus Ex: Human Revolution",
        developer: "Eidos-Montréal",
        platform: "PS3",
        year: 2011,
        blurb: "I will say that the protagonist is bland, but the cyberpunk aesthetics, the electro-orchestral music, the stealth/hack and choice-based gameplay… what a wonderful entry into the Deus Ex series this game is. (sadly the sequel failed to captivate me just as much, though it is pretty good)"
    },
    {
        category: "Puzzle",
        title: "Portal 2",
        developer: "Valve",
        platform: "PC",
        year: 2011,
        blurb: "The first Portal was great, but the sequel just made everything better. So many braincells to use, while a robot tries to kill you and old recordings of a CEO full of hubris (voiced by the one and only _J.K. Simmons_) play on occasion for added laughs. A great experience.",
        goat: true,
        similar: ["Superliminal"]
    },
    {
        category: "Puzzle",
        title: "Chants of Senaar",
        developer: "Rundisc",
        platform: "PS4",
        year: 2023,
        blurb: "Sophie Koonin put this on my radar and I am so grateful. I love languages, and this is a linguistic puzzle game… my brain couldn't get enough! The art style is great in its own right, but the language system they built for this game were so much fun to decipher and to make sense of."
    },
    {
        category: "Puzzle",
        title: "Return of the Obra Dinn",
        developer: "Lucas Pope",
        platform: "PS4",
        year: 2018,
        blurb: "This game is a murder-mystery where you have to figure out the fate of the crew of a 19th century ship by “reliving” each of their deaths as an interactive snapshot in time. One of my friends told me to get this, and once I saw the 1-bit aesthetic, I was interested. Obra Dinn is an amazing game that I'd recommend in a heartbeat."
    },
    {
        category: "Action",
        title: "Uncharted 2: Among Thieves",
        developer: "Naughty Dog",
        platform: "PS3",
        year: 2009,
        blurb: "This franchise is pretty incredible, but I think they really nailed it with this second game. There's the right balance of action, adventure, intrigue, character development, and of course, humour. I'd definitely recommend checking out the entire franchise if you like _Indiana Jones_."
    },
    {
        category: "Action",
        title: "Bioshock Infinite",
        developer: "Irrational Games",
        platform: "PS3",
        year: 2013,
        blurb: "I saw my brother play Bioshock, and then played Bioshock 2 myself. Not a great choice, but Bioshock Infinite saved it for me. Playing in a city hanging in the clouds, in a detailed world with a lot going on, and lots of guns/powers to find answers. The story pulled me in, though fun gameplay also did its fair share."
    },
    {
        category: "Action",
        title: "Grand Theft Auto: Vice City",
        developer: "Rockstar",
        platform: "PS2",
        year: 2002,
        blurb: "Ah, the mayhem! I played GTA games when I was way too young and most jokes went over my head, but I turned out alright, somehow. I do think this particular game was instrumental to opening my mind to the 1980s aesthetic and music (GTA usually has solid in-game radios). I never could forget all that neon."
    },
    {
        category: "Action",
        title: "Metal Gear Solid 3: Snake Eater",
        developer: "Konami",
        platform: "PS2",
        year: 2005,
        blurb: "I spent countless hours replaying MGS2 when I was young, trying to get through unseen. This saga has cultivated my taste for stealth games, that is for sure, but MGS3 will be the top dog in my eyes. Despite some gross sexualisation, there is a great story, smart gameplay, and wonderful music. Also, this game is getting a remake as _Metal Gear Solid Delta_!"
    },
    {
        category: "Action",
        title: "Control",
        developer: "Remedy",
        platform: "PS5",
        year: 2020,
        blurb: "If you like the X-Files or Fringe (or supernatural stuff in general), play this, and get the DLC, trust me. My goodness, this game has everything. The aesthetics, the deep lore, the fun gameplay, the wide array of characters, the sound design, the story… So, so good. I can't wait for the sequel.",
        goat: true,
        similar: ["Alan Wake"]
    },
    {
        category: "Action",
        title: "God of War",
        developer: "Santa Monica Studios",
        platform: "PS4",
        year: 2018,
        blurb: "I enjoyed the previous games, but this God of War “soft reboot” is something else, with its Norse mythology setting (instead of the previous Greek one). Kratos is no longer the angry god killing everything in his path, he is now a father, teaching his son about being good, while killing everything in his path (to be fair, they had it coming). The game and its 2022 sequel are a prime example of great character development. The story and lore are well woven, and the gameplay is satisfying as hell."
    },
    {
        category: "Sports",
        title: "Burnout Revenge",
        developer: "Criterion Games",
        platform: "PS2",
        year: 2005,
        blurb: "I love fun racing games (Crash Team Racing anyone?) and Burnout provides lots of it. Slam into another racer, sending them into a wall… clean, winning strategy! Not only that, but also an absolutely incredible soundtrack? I discovered Thrice — my favourite band — playing this game!"
    },
    {
        category: "Sports",
        title: "SSX3",
        developer: "EA Canada",
        platform: "PS2",
        year: 2003,
        blurb: "I've only ever gone skiing, but snowboarding is just cool, you know? I played this a lot with my brother after we got this one Christmas. Lots of shortcuts and tricks to learn, and boy did I learn."
    },
    {
        category: "Sports",
        title: "skate.",
        developer: "EA Black Box",
        platform: "PS3",
        year: 2007,
        blurb: "I've always been an aspiring skateboarder, though I am barely worthy of an ollie. Regardless, I love the sport, and while Tony Hawk games are super fun, skate. is one of those games that just made it feel real _and_ fun. I've sunk many hours in the three games, and I am definitely excited by the 4th entry, whenever it's ready!"
    },
]
---

{% set goatIndicator %}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="inline-icon | u-color-accent-color"><use xlink:href="#goat-indicator"></use></svg>{% endset %}

<p>
    Inspired by <a href="https://localghost.dev/games/">Sophie Koonin</a>, <a href="https://alistairshepherd.uk/games/">Alistair Shepherd</a>, and <a href="https://tylersticka.com/journal/favorite-games/">Tyler Sticka</a>, here are some of my favourite games. The only reason I am anywhere near good enough with design and development is because I made a fan-site about video games back in the day, so this feels like a necessary page. If some of these resonate with you and you want to nerd out about it, <a href="{{'https://'+metadata.author.mastodonInstance+'/@'+metadata.author.mastodon}}">let me know on Mastodon</a>!
    <br>
    <span class="u-fontStyle-italic u-fontSize-smaller">
        {{ goatIndicator | safe }}
        indicates a game I consider to be one of the greatest of all time.
    </span>
</p>

<hr>

{% for category, gamesByCategory in games | groupby("category") %}
    <h2>{{ category }}</h2>
    <ul data-list="long">
    {% for entry in gamesByCategory | sort | sort(false, false, "year") %}
        <li>
            {% if entry.goat %}{{ goatIndicator | safe }} {% endif %}<strong class="u-color-heading-color">{{ entry.title }}</strong> ({{ entry.developer }}, {{ entry.year }}, {{ entry.platform }})
            {% if entry.blurb %}<br>{{ entry.blurb | markdown(true) | safe }}{% endif %}
            {% if entry.similar %}<br><span class="u-fontStyle-italic u-fontSize-smaller">(similar choice{% if (entry.similar | length) > 1 %}s{% endif %}: {{ entry.similar | join(", ") }})</span>{% endif %}
        </li>
    {% endfor %}
    </ul>
{% endfor %}

<svg xmlns="http://www.w3.org/2000/svg" class="visually-hidden" width="0" height="0">
    <defs>
        <symbol id="goat-indicator" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
        </symbol>
    </defs>
</svg>