---
title: Now
subtitle: What am I doing these days?
permalink: /now/
layout: layouts/page.njk
section: now
bigboiButton: { url: "https://nownownow.com/about", label: "What is this?", icon: "question" }
templateEngineOverride: njk, md
---

{% mdsafe %}
{% if not now.home.hide %}
<h2>Living</h2>
<p>
    <span aria-hidden="true">🏠</span>
    <strong>{{ now.home.title }}
    {% if now.home.detail %}({{ now.home.detail }}){% endif %}</strong>
    {% if now.home.blurb %}<br>{{ now.home.blurb }}{% endif %}
</p>
{% endif %}

{% if not now.book.hide %}
<h2>Reading</h2>
<p>
    <span aria-hidden="true">📚</span>
    {% if now.book.link %}<a href="{{ now.book.link | url }}">{% endif %}
        <strong>{{ now.book.title }}
        {% if now.book.detail %}({{ now.book.detail }}){% endif %}</strong>
    {% if now.book.link %}</a>{% endif %}
    {% if now.book.blurb %}<br>{{ now.book.blurb }}{% endif %}
</p>
{% endif %}

{% if not now.game.hide %}
<h2>Gaming</h2>
<p>
    <span aria-hidden="true">🕹️</span>
    {% if now.game.link %}<a href="{{ now.game.link | url }}">{% endif %}
        <strong>{{ now.game.title }}
        {% if now.game.detail %}({{ now.game.detail }}){% endif %}</strong>
    {% if now.game.link %}</a>{% endif %}
    {% if now.game.blurb %}<br>{{ now.game.blurb }}{% endif %}
</p>
{% endif %}

{% if not now.show.hide %}
<h2>Watching</h2>
<p>
    <span aria-hidden="true">📺</span>
    {% if now.show.link %}<a href="{{ now.show.link | url }}">{% endif %}
        <strong>{{ now.show.title }}
        {% if now.show.detail %}(Season {{ now.show.detail }}){% endif %}</strong>
    {% if now.show.link %}</a>{% endif %}
    {% if now.show.blurb %}<br>{{ now.show.blurb }}{% endif %}
</p>
{% endif %}
{% endmdsafe %}