---
title: Now
subtitle: What am I doing these days?
permalink: /now/
layout: layouts/page.njk
section: now
bigboiButton: { url: "https://nownownow.com/about", label: "What is this?", icon: "question" }
templateEngineOverride: njk, md
---

{% mdsafe %}
{% if now.home %}
<h2>Living</h2>
<p>
    <span aria-hidden="true">🏠</span>
    <strong>{{ now.home.title }}
    {% if now.home.detail %}({{ now.home.detail }}){% endif %}</strong>
    {% if now.home.blurb %}<br>{{ now.home.blurb }}{% endif %}
</p>
{% endif %}

{% if now.book %}
<h2>Reading</h2>
{% for nowBook in now.book | getList %}
    <p>
        <span aria-hidden="true">📚</span>
        {% if nowBook.link %}<a href="{{ nowBook.link | url }}">{% endif %}
            <strong>{{ nowBook.title }}
            {% if nowBook.detail %}({{ nowBook.detail }}){% endif %}</strong>
        {% if nowBook.link %}</a>{% endif %}
        {% if nowBook.blurb %}<br>{{ nowBook.blurb }}{% endif %}
    </p>
{% endfor %}
{% endif %}

{% if now.game %}
<h2>Gaming</h2>
{% for nowGame in now.game | getList %}
    <p>
        <span aria-hidden="true">🕹️</span>
        {% if nowGame.link %}<a href="{{ nowGame.link | url }}">{% endif %}
            <strong>{{ nowGame.title }}
            {% if nowGame.detail %}({{ nowGame.detail }}){% endif %}</strong>
        {% if nowGame.link %}</a>{% endif %}
        {% if nowGame.blurb %}<br>{{ nowGame.blurb }}{% endif %}
    </p>
{% endfor %}
{% endif %}

{% if now.show %}
<h2>Watching</h2>
{% for nowShow in now.show | getList %}
    <p>
        <span aria-hidden="true">📺</span>
        {% if nowShow.link %}<a href="{{ nowShow.link | url }}">{% endif %}
            <strong>{{ nowShow.title }}
            {% if nowShow.detail %}(Season {{ nowShow.detail }}){% endif %}</strong>
        {% if nowShow.link %}</a>{% endif %}
        {% if nowShow.blurb %}<br>{{ nowShow.blurb }}{% endif %}
    </p>
{% endfor %}
{% endif %}

{% if now.show %}
<h2>Listening</h2>
{% for nowMusic in now.music | getList %}
    <p>
        <span aria-hidden="true">🎧</span>
        {% if nowMusic.link %}<a href="{{ nowMusic.link | url }}">{% endif %}
            <strong>{{ nowMusic.title }}
            {% if nowMusic.detail %}({{ nowMusic.detail }}){% endif %}</strong>
        {% if nowMusic.link %}</a>{% endif %}
        {% if nowMusic.blurb %}<br>{{ nowMusic.blurb }}{% endif %}
    </p>
{% endfor %}
{% endif %}
{% endmdsafe %}