---
title: "Projects"
summary: Some of the things I've made, either passion projects or real-world work.
---

<div class="gridlist" data-grid-cols="3">
{% for project in collections.projects | reverse %}
	{% set projectDesc %}<p class="u-marginBlockStart-auto u-fontSize-smallest">{{ project.data.summary or project.data.subtitle }}</p>{% endset %}
    {% component "griditem", {
		gridItem: project,
		gridCoverlink: true,
		gridItemTitle: project.data.title,
		gridItemImage: project.data.customMetaImage,
		gridItemPermalink: (project.url | url),
		gridItemContent: projectDesc,
		gridItemLazyImage: loop.index >= 8
	} %}
{% endfor %}
</div>

<div class="spaced-items inlined-items" style="--spaced-items-gap: var(--size-xs);">
	<p class="u-fontWeight-bold">Personal site archive:</p>
	{% set oldSites = [2020, 2018, 2016] %}
	<ul class="inline-list">
		{% for oldSiteYear in oldSites %}
			<li>
				<a href="https://{{ oldSiteYear }}.chriskirknielsen.com">
					{{ oldSiteYear }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>