---
title: "Projects"
summary: Some of the things I've made, either passion projects or real-world work.
---

<div class="gridlist" data-grid-cols="3">
{% for project in collections._projects | reverse %}
	{% set projectDesc %}<p class="u-fontSize-smallest">{{ project.data.summary or project.data.subtitle }}</p>{% endset %}
    {% component "griditem", {
		gridItem: project,
		gridCoverlink: true,
		gridItemTitle: project.data.title,
		gridItemImage: project.data.customMetaImage,
		gridItemPermalink: (project.url | url),
		gridItemContent: projectDesc,
		gridItemLazyImage: loop.index >= 8
	} %}
{% endfor %}
</div>

<h2 class="h4">Previous personal site archives</h2>
{% set oldSites = [2020, 2018, 2016] %}
<div role="paragraph">{# You can't have a list inside a paragraph, but with a div, that's okay! #}
	Time machine:&nbsp;
	<ul class="inline-list">
		{% for oldSiteYear in oldSites %}
			<li>
				<a href="https://{{ oldSiteYear }}.chriskirknielsen.com">
					{{ oldSiteYear }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>

<h2 class="h4">Random mini projects</h2>
{% set miniProjects = [
	{ name: "Timezone Overlap Finder (2024)", url: "https://timezone-overlap-finder.netlify.app/", blurb: "A simple way to find common ground across timezones" },
	{ name: "One-Page Calendar (2023)", url: "https://one-page-calendar.netlify.app/", blurb: "A single grid for every single day in a calendar year" },
	{ name: "srcsetsizes (2021)", url: "https://srcsetsizes.netlify.app/", blurb: "A tool to set up the srcset and sizes attributes on an image element in HTML" },
	{ name: "Casualty Friday (2013)", url: "https://casualty-friday.netlify.app/", blurb: "A choice-based Flash game project I made during my design study years" }
] %}
<ul>
	{% for miniProject in miniProjects %}
		<li>
			<a href="{{ miniProject.url | url }}">{{ miniProject.name }}</a>{% if miniProject.blurb %}: {{ miniProject.blurb }}{% endif %}
		</li>
	{% endfor %}
</ul>