---
title: "Search"
summary: Find, uh, stuff.
eleventyExcludeFromCollections: true
---

<form method="get" id="searchform" class="inline-form" action="https://duckduckgo.com/" role="search" autocomplete="off" novalidate>
    <input type="hidden" name="sites" value="https://chriskirknielsen.com"/>
    <label for="q" class="visually-hidden">Search for:</label>
    <input type="text" value="" name="q" id="q" enterkeyhint="search">
    {% component "cta", {
        type: 'button',
        label: 'Search',
        ctaAttr: 'id="searchsubmit"',
        icon: 'search',
        iconBefore: true
    } %}
</form>

<ul id="results" class="postlist | flow" style="--flow-space: var(--size-l)" role="list" aria-live="polite"></ul>

<script>{%- include "assets/js/search.js" -%}</script>