---
title: "Search"
summary: Find, uh, stuff.
eleventyExcludeFromCollections: true
---
<search role="search">
    <form method="get" id="searchform" class="inline-form" action="https://duckduckgo.com/" autocomplete="off" novalidate data-state="initial">
        <input type="hidden" name="sites" value="https://chriskirknielsen.com"/>
        <label for="q">Search for:</label>
        <input type="text" value="" name="q" id="q" enterkeyhint="search">
        {% component "cta", {
            type: 'submit',
            label: 'Search',
            ctaAttr: 'id="searchsubmit"',
            icon: 'search',
            iconBefore: true
        } %}
    </form>
</search>

<hr>

<h2 id="search-results-heading" hidden>Results <span id="search-results-count"></span></h2>

<ul id="results" class="search-results" style="--flow-space: var(--size-s)" role="list" aria-live="polite">
    {# Adding classes used by the script so PurgeCSS preserves them in the page's styles #}
    <li class="u-color-aux-med u-fontSize-smallest" hidden></li>
</ul>

<template id="search-result-item">
    <li class="search-result-item">
        <span class="u-fontSize-smallest" data-result-type></span>
        <span data-result-info>
            <a href="/" hreflang=""></a>
            <time datetime="" class="u-color-aux-med u-fontSize-smallest u-fontVariant-tabularNums"></time>
            <span class="u-fontSize-smallest" data-lang-code></span>
        </span>
    </li>
</template>
<style>
{% set searchCss %}
[data-state="initial"] ~ hr,
[data-state="initial"] ~ h2 {
    display: none;
}
{% endset %}
{{ searchCss | cssmin | safe }}</style>
<script>{%- include "assets/js/search.js" -%}</script>