---
title: Webring
summary: Fun sites and friends!
permalink: /webring/
---

<h2>CSS Joy</h2>

<div class="spaced-items" style="--flow-space: 1em;">
    {% component "cta", {
        url: "https://webri.ng/webring/cssjoy/previous?via=https://chriskirknielsen.com/webring/",
        label: { aria: "Previous", plain: "" },
        icon: "arrow-back",
        iconBefore: true,
        ctaAttr: 'data-cta="icon"'
    } %}

    {% component "cta", {
        url: "https://webri.ng/webring/cssjoy/random?via=https://chriskirknielsen.com/webring/",
        label: "Random",
        icon: false
    } %}

    {% component "cta", {
        url: "https://webri.ng/webring/cssjoy/next?via=https://chriskirknielsen.com/webring/",
        label: { aria: "Next", plain: "" },
        icon: "arrow-next",
        ctaAttr: 'data-cta="icon"'
    } %}
</div>